
form{margin:0;padding:0;}

.formbasic {color: #000;background: #fff;margin: 15px 10px 0 10px;padding: 10px 15px; border: 1px solid #99b0d0;border-bottom: 0;clear:both;}
.formbasic table {width: 100%;}
.formbasic td {padding: 5px 0;text-align: left;}
.formbasic input:hover, .formbasic select:hover, .formbasic textarea:hover {
	background-color:#ECFBFF;border:1px solid #204A6A;}
.formbasic input, .formbasic select, .formbasic textarea {
	background: #fff;border: 1px solid #7b9ebd;width: 17em;padding: 2px 3px;}
.formbasic select{width: 17.6em;}
.formbasic .fm-label {padding: 0px;width: 15%;text-align: right;padding-right: 10px;}
.fm-asterisk {color:#f00;padding: 0px;width: 6px;text-align: left;margin-right: 4px;}
.formbasic .fm-field {width: 35%;}
.formbasic .fm-fieldr3 {width: 82%;}
.formbasic textarea {height: 5em;}
.formbasic .fm-radio {width: 1.2em;margin: 0 5px 0 10px;vertical-align: middle;border: 0;background: #eef0f6;}
.formbasic .fm-fieldr3 input, .formbasic .fm-fieldr3 textarea {width: 50em;}
.formbts {background: #e0e3e8;margin: 0 10px;padding: 4px 10px;border: 1px solid #6489d4;border-top: 1px solid #cdd4e3;text-align: center;}
@media all and (min-width: 550px) { Opera hack: for the input width bug 
.formbasic .fm-fieldr3 input, .formbasic .fm-fieldr3 textarea {
width: 48em;}
}

/* calendar part */
.formbasic .fm-calendar{width: 16.5em;}
.formbasic #fm-bt-calendar {margin-left: 5px;vertical-align: top;}
.formbasic .fm-calendar-year, .formbasic .readonlyyear, .formbasic .fm-phonenum-region, .formbasic .phoneregionreadonly {
width: 2.5em;margin-right: 4px;}
.formbasic .fm-calendar-month, .formbasic .fm-calendar-day, .formbasic .readonlyday {
width: 1.5em;margin-right: 4px;}
.formbasic .textoutside, .formbasic .readonlytextout {width: 17em;margin-right: 5px;}
.formbasic .picoutside, .formbasic .readonlypicout {width: 16em;margin-right: 5px;}
.formbasic .fm-phonenumber, .formbasic .phonenumreadonly {width: 4.5em;margin-right: 4px;}
.formbasic .checkbox {width: auto;margin-right: .5em;vertical-align: middle;border: 0;background: transparent;}
.formbasic .checkbox:hover{ border:0;}
.submitbt {margin: 0 10px;}
.formbasic .readonlybox, .formbasic .readonlyyear, .formbasic .readonlyday, .formbasic .readonlytextout, .formbasic .phoneregionreadonly, .formbasic .phonenumreadonly, .formbasic .readonlypicout {border: 1px solid #B7B7B6;color: #444;background: #D4D0C8;}
.formbasic .readonlybox:hover, .formbasic .readonlyyear:hover, .formbasic .readonlyday:hover, .formbasic:hover .readonlytextout:hover, .formbasic:hover .phoneregionreadonly:hover, .formbasic .phonenumreadonly:hover, .formbasic .readonlypicout:hover {border: 1px solid #B7B7B6;color: #444;background: #D4D0C8;}

/* multiselect part */
.multiselect {
width: 20em;
height: 13em;
}
.formbasic .multinarrow {
font-size: 12px;
width: 5em;
margin-bottom: 8px;
}
.formbasic .multileft {
vertical-align: top;
text-align: right;
padding-right: 25px;
}

.formbasic .tdtitles {
text-align: center;
color: #5677B8;
}

/********************************************/
/*  forms in the forms */
.forminform {
border: 1px solid #ccc;
background: #f5f5f5;
padding: 15px;
margin: 15px 5px;
}
.forminform table {
/*margin: 5px 20px 10px 20px;*/
/*width: 95%;*/
margin-top: 10px;
background-color:#fff;
}
.forminform table thead {
background: #d8d8d8;
}
.forminform table th {
font: 12px Tahoma, Arial, Verdana, Helvetica, sans-serif;
color: #222;
line-height: 2em;
text-align: center;
padding: 2px;
}
.forminform table tbody {
background: #fff;
text-align: right;
}
.forminform table tbody td {
padding: 3px;
}
.forminform table tbody td input, .forminform table tbody td select {
width: 96%;
padding: 2px;
}
.forminform table tbody td.checkboxtd, .forminform table tbody th.checkboxtd {
width: 2.5em;
}
.forminform table tbody td.checkboxtd input {
width: 1.5em;
border: 0;
background: transparent;
}
.forminformbt {
/*margin: 10px 20px;*/
}
.forminformbtbt input {
color: #3A3E45;
background: url(../../images/admin/bg_forminformbt.gif) left top no-repeat;
width: 40px;
height: 19px;
border: 0;
margin-right: 10px;
}


/*****************the days checkboxes in form*******************/
/* eg: fundBase/fundTimeDaysNew.html */
.checkthedays {
margin: 15px 5px;
padding: 5px 10px;
}
.checkthedays ul {
float: left;
list-style: none;
}
.checkthedays li {
font: 12px Tahoma, Verdana, Arial, Georgia, sans-serif;
float: left;
list-style: none;
width: 8.5em;
}

.waiting {
position: absolute;
background: #FFFFD9 url(../../images/admin/icn_waiting.gif) left no-repeat;
margin-top: 5px !important;
margin-top: 30px;
padding: 4px 5px 4px 26px !important;
padding: 8px 5px 4px 26px;
right: 30px;
border: 1px solid #8AA6DF;
}
.waiting2 {
position: absolute;
background: #FFFFD9 url(../../images/admin/icn_waiting.gif) left no-repeat;
margin: 3px 0 0 0;
padding: 4px 5px 4px 26px !important;
padding: 8px 5px 4px 26px;
width: 50px;
left: 30em !important;
left: 29.2em;
top: 90px;
border: 1px solid #8AA6DF;
}

/**********************promotionView.html********************/
.banklist {
float: left;
list-style: none;
margin: 0;
padding: 0;
}
.banklist li {
float: left;
width: 15.5em;
padding: 0 0 5px 16px;
margin: 0;
background: url(../../images/admin/icn_userlist.gif) left no-repeat;
}

.displaynone {
display: none;
}

/********* form_menu  **********/

ul.form_menu{
display:block;
margin:0 10px;
margin-top:10px;
height:25px;
padding:1px;
list-style: none;
}
ul.form_menu li{
float: left;
margin:0 5px;
padding:6px 10px 5px 23px;
background:#fff url(../../images/admin/form_menu_bg.gif) top left no-repeat;
border: 1px solid #9eb0c8;
border-bottom:0;

}
ul.form_menu li.currently{
background:#fff url(../../images/admin/form_menu_bg_cur.gif) top left no-repeat;
border: 1px solid #9eb0c8;
border-bottom:1px solid #fff;
}
ul.form_menu li.button_top{
	background:#f2f2f2 url(../../images/admin/form_menu_button_bg.gif) top left no-repeat;
	border:0;
	padding:3px 0px 2px 20px;
	*padding:5px 0px 2px 20px;
	width:80px;
	overflow:hidden;
	margin:0 0 0 10px;

}
ul.form_menu li.button_top a{
	color:#FFFFFF;
}
ul.form_menu li.button_top a:hover{
	color:#FF9A11;
}


/*  三列表单 */
.formbasic td.fm-label3 {padding: 0px;width: 10%;text-align: right;padding:2px;padding-right: 10px; }
.formbasic td.fm-field3 {width: 15%;padding:2px;}
.formbasic td.fm-field3 textarea{ height:40px; width:100px;}
.forminform h4{ margin-left:1px;}
input.inp2{ width:100px; padding:0px 2px;}
input.inp3{ width:170px; padding:0px 2px;}

