
body {
	font: 12px "Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;
	color: #333;
	margin: 0;
	border-top:3px solid #fff;
	padding:0;
	background:#fff url(../../images/admin/menu_bg_body.gif) left top repeat-y;
	background-attachment:fixed;
	SCROLLBAR-FACE-COLOR: #fff;
	SCROLLBAR-HIGHLIGHT-COLOR: #fff;
	SCROLLBAR-SHADOW-COLOR: #1776AE; 
	SCROLLBAR-3DLIGHT-COLOR: #1776AE; 
	SCROLLBAR-ARROW-COLOR: #797979; 
	SCROLLBAR-TRACK-COLOR: #F4FCFF; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
	width:200px;
	min-width:200px;
}
.meun_bg_top{
	height:25px;
	width:200px;
	background:#fff url(../../images/admin/menu_bg_top.gif) left top no-repeat;
	background-attachment:fixed;
	position:absolute;
	top:0;
	left:0;
}
/*.meun_bg_bot{
	height:20px;
	width:200px;
	position:absolute;
	bottom:0px;
	left:0px;
	background:#fff url(../../images/admin/menu_bg_bot.gif) left top no-repeat;
}*/
a:link, a:visited {
	text-decoration : none;
	color: #333;
	background: transparent;
}
a:hover, a:active {
	text-decoration : none;
	color: #069;
	background: transparent;
}

/* Switch menu title */
h4 {
font: 13px "Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;
font-weight:600;
color: #244868;
background:url(../../images/admin/h4_bg.gif) no-repeat;
width: 140px;
height:19px;
border-bottom: 0;
margin: 0;
padding: 12px 0 0 23px;
cursor: pointer;
}
.h4over{
background:url(../../images/admin/h4_bg2.gif) no-repeat;
}

.modules {
padding-bottom:2px;
margin-top:25px;
margin-bottom:15px;
background:url(../../admin/h4_bg3.gif) bottom no-repeat

}
.modules ul {
list-style: none;
margin: 0;
padding: 0;
}
.modules li {
margin: 0;
padding: 0;
}
.modules a {
display: block;
font-size:13px;
margin: 0 auto;
width: 140px;
text-indent:8px;
line-height:25px;
}
.modules a:link, .modules a:visited {
color: #333;
background: transparent;
text-decoration: none;
}
.modules a:hover, .modules a:active {
color: #FF6600;
text-decoration: none;
}
#juese{
margin:10px auto auto 25px;;
clear:both;
}