
/* #Colorful Boxes  http://www.designers-den.com/
================================================== */
.dark-green { background:#446048; overflow:hidden;}
.sea-blue { background:#522cb7; overflow:hidden;}
.sky-blue { background:#2a6ff2; overflow:hidden;}
.parrot-green { background:#41aa00; overflow:hidden;}
.red { background:#a60c00; overflow:hidden;}
.green{ background:#4e8a53; overflow:hidden;}
.orange{ background:#f99600; overflow:hidden;}
.blue{ background:#0d4bc8; overflow:hidden;}
.orange-2 { background:#f89500; overflow:hidden;}
.pink{ background:#9b0bac; overflow:hidden;}
.blue-2{ background:#522cb7; overflow:hidden;}
.sky-blue-2 { background:#1b5ee2; overflow:hidden;}
.red-2{ background:#b30d00; overflow:hidden;}
/* #Home page boxes
================================================== */
.box-block ul.rc_box { margin:0; padding:0; list-style:none; line-height:0; float:none;}
.box-block ul.rc_box li{ float:left;
 -webkit-transition: all 0.5s ease-in-out;
 -moz-transition: all 0.5s ease-in-out;
 -o-transition: all 0.5s ease-in-out;
 -ms-transition: all 0.5s ease-in-out;
 transition: all 0.5s ease-in-out;}
.box-block ul.rc_box .icon{ font-size:90px; line-height:93px !important; height:80px; float:none; display:block;}
.box-block ul.rc_box span { font-size:14px; line-height:17px; display:block; text-shadow:0px 1px 1px #000}
.box-block ul.rc_box span img { float:right;}
.box-block ul.rc_box li.squarebox { 
text-align:center; display: inline-block; float:left;
width:335px !important; padding:8px 30px; height: 140px;
text-decoration:none !important; overflow: hidden;
margin:0 10px 10px 0; 
}
.box-block ul.rc_box li.smallbox{ width:132px; height:140px;
 text-align:center; display: inline-block; float:left; margin:0 10px 10px 0; 
 padding:8px 30px; text-decoration:none !important; overflow: hidden;
 }

.box-block ul.rc_box li .display-text{
color: #fff; height: 180px; padding:0 !important;
}
.box-block ul.rc_box li a{ text-decoration:none;}
.box-block ul.rc_box li:hover { -moz-box-shadow: inset 0 0 25px #000;
 -webkit-box-shadow: inset 0 0 25px #000;
 box-shadow: inset 0 0 25px #000;}
/* #Home page boxes Ends Here ====================== */
/* #Inside Page Style
================================================== */
.box_dark_blue{ background:#2f03a6;}
.box_light_blue{background:#cbdffd;}
.box_light_blue2{ background:#a7c9fd;}
.box_white_blue{ background:#e4eefd;}
.box_light_pink{background:#fddc28;}
.box_dark_pink{background:#feb519;}
.p_box{ width:37%; display:inline-block; text-align:center; margin:4px; 
overflow:hidden; padding:17px 27px; border:none;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}
.p_box:hover 
{
 color:#000 !important;
 -moz-box-shadow: inset 0 0 15px #666;
 -webkit-box-shadow: inset 0 0 15px #666;
 box-shadow: inset 0 0 15px #666;
}
.p_box_home{ display:inline-block; text-align:center; margin:4px; vertical-align:top;
overflow:hidden; padding:17px 27px; border:none;
-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
-ms-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;}
.p_box_home:hover 
{
 color:#000 !important;
 -moz-box-shadow: inset 0 0 15px #666;
 -webkit-box-shadow: inset 0 0 15px #666;
 box-shadow: inset 0 0 15px #666;
}
.iframe { width:1250px;}
 /* Home Style */ 
 .box-block .box-content{ width:230px; display:inline-block; float:left; text-align:left; }
 .box-block ul.rc_box li.squarebox{ width:335px !important; height:140px;}
 .box-block ul.rc_box li.portfolio-bg{ width:395px !important; height:180px;}
 .box-block ul.rc_box li.social-box{ width:335px !important; height:140px;}
 .box-block ul.rc_box li.smallbox{ width:132px !important; height:140px;}
 .box-block .display-text h2{ font-size:22px; line-height:29px; width:100%; color:#fff; font-family:"Century Gothic", Arial; text-shadow:0px 1px 1px #000 }
 .box-block .dark-green .box-content { width:100% !important; padding:0px !important }
 .box-block .dark-green .box-content h2 {font-size:22px; color:#fff; padding:20px 0 0 0; line-height:20px !important; text-align:center; font-family: 'OswaldLight';}
 .box-block ul.rc_box li.squarebox .box-content { width:150px; padding:50px 0 0 0}
 .sea-blue img {margin:30px 0 0 0; }
 .sea-blue .box-content h2 { font-size:22px;}
 .sky-blue img {margin:20px 0 15px 0}
 .parrot-green img {margin:20px 0 15px 0}
 .parrot-green img { margin:20px 0 8px 0}
 .red img { margin:24px 0 0 60px}
 .green img { margin:35px 0 0 31px}
 .orange img { margin:15px 0 12px 0;}
 .blue img { margin:15px 0 12px 0;}
 .orange-2 img{ margin:10px 0 12px 0;}
 .pink img {margin:10px 0 12px 0;}
 .blue-2 img {margin:20px 0 22px 0;}
 .sky-blue-2 img {margin:10px 0 10px 0;}
 .red .box-content h2 { font-size:22px;}
 
 
@media (min-width: 1200px) {
 .box-block { width:1250px; margin:0px auto}
 .iframe { width:1250px !important;}
 
 .iframe { width:1250px !important;}
 
 /* Home Style */ 
 .box-block .box-content{ width:230px; display:inline-block; float:left; text-align:left; }
 .box-block ul.rc_box li.squarebox{ width:335px !important; height:110px;}
 .box-block ul.rc_box li.portfolio-bg{ width:395px !important; height:180px;}
 .box-block ul.rc_box li.social-box{ width:335px !important; height:110px;}
 .box-block ul.rc_box li.smallbox{ width:132px !important; height:110px;}
 .box-block .display-text h2{ font-size:20px; line-height:29px; width:100%; color:#fff; font-family:"Century Gothic", Arial; text-shadow:0px 1px 1px #000 }
 .box-block .dark-green .box-content { width:100% !important; padding:0px !important }
 .box-block .dark-green .box-content h2 {font-size:20px; color:#fff; padding:20px 0 0 0; line-height:20px !important; text-align:center; font-family: 'OswaldLight';}
 .box-block ul.rc_box li.squarebox .box-content { width:150px; padding:50px 0 0 0}
 .sea-blue img {margin:30px 0 0 0; width:35%}
 .sea-blue .box-content h2 { font-size:22px;}
 .sky-blue img {margin:20px 0 15px 0; width:35%}
 .parrot-green img {margin:20px 0 15px 0; width:35%}
 .parrot-green img { margin:20px 0 8px 0; width:35%}
 .red img { margin:24px 0 0 60px; width:20%}
 .green img { margin:35px 0 0 31px; width:35%}
 .orange img { margin:15px 0 12px 0; width:35%}
 .blue img { margin:15px 0 12px 0; width:35%}
 .orange-2 img{ margin:10px 0 12px 0; width:35%}
 .pink img {margin:10px 0 12px 0; width:35%;}
 .blue-2 img {margin:20px 0 22px 0; width:35%}
 .sky-blue-2 img {margin:10px 0 10px 0; width:35%}
 .red .box-content h2 { font-size:22px;}
 
 
 
 #footer-wrapper #our-services #menu-check-our-services li { display:block; list-style:none; width:95%; background:url(../images/arrow.png) no-repeat left 4px; font:15px Arial, Helvetica, sans-serif; padding:3px 0 3px 22px; margin:0px 0 0 0; float:none !important}
#footer-wrapper #our-services #menu-check-our-services a { color:#000; padding:0px; line-height:25px; border:none; height:25px; background:none; font-family:'tisaproregular'; text-shadow:none; font-size:13px !important;}
#footer-wrapper #our-services #menu-check-our-services a:hover {background: none repeat scroll 0% 0% rgb(221, 77, 66); color:#fff; text-shadow:0 1px 1px #000; transition: all 400ms ease 0s; transform-origin: 50% 0% 0px;}
#footer-wrapper #our-services #menu-check-our-services { display:block; width:90%; margin:0px auto; padding:12px 0 0 3px}
#footer-wrapper #our-services #menu-check-our-services li { display:block; list-style:none; width:90%; background:url(../images/arrow.png) no-repeat left 4px; font:15px Arial, Helvetica, sans-serif; padding:3px 0 3px 22px; margin:0px 0 0 0; float:none !important}
#footer-wrapper #our-services #menu-check-our-services a { color:#000; padding:0px; line-height:25px; border:none; height:25px; background:none; font-family:'tisaproregular'; text-shadow:none}
#footer-wrapper #our-services #menu-check-our-services a:hover { background:none}
}
@media only screen and (min-width:978px) and (max-width:1200px) { 

#footer-wrapper #our-services #menu-check-our-services li { display:block; list-style:none; width:95%; background:url(../images/arrow.png) no-repeat left 4px; font:15px Arial, Helvetica, sans-serif; padding:3px 0 3px 22px; margin:0px 0 0 0; float:none !important}
#footer-wrapper #our-services #menu-check-our-services a { color:#000; padding:0px; line-height:25px; border:none; height:25px; background:none; font-family:'tisaproregular'; text-shadow:none; font-size:13px !important;}
#footer-wrapper #our-services #menu-check-our-services a:hover {background: none repeat scroll 0% 0% rgb(221, 77, 66); color:#fff; text-shadow:0 1px 1px #000; transition: all 400ms ease 0s; transform-origin: 50% 0% 0px;}
#footer-wrapper #our-services #menu-check-our-services { display:block; width:90%; margin:0px auto; padding:12px 0 0 3px}
#footer-wrapper #our-services #menu-check-our-services li { display:block; list-style:none; width:90%; background:url(../images/arrow.png) no-repeat left 4px; font:15px Arial, Helvetica, sans-serif; padding:3px 0 3px 22px; margin:0px 0 0 0; float:none !important}
#footer-wrapper #our-services #menu-check-our-services a { color:#000; padding:0px; line-height:25px; border:none; height:25px; background:none; font-family:'tisaproregular'; text-shadow:none}
#footer-wrapper #our-services #menu-check-our-services a:hover { background:none}
.box-block .dark-green .box-content h2 {font-size:22px; color:#fff; padding:20px 0 0 0; line-height:20px; text-align:center; font-family: 'OswaldLight';}
.box-block .display-text h2 { color:#fff}
.box-block { width: 1014px; margin:0px auto}
.sky-blue-2 { width:45% !important}
.box-block ul.rc_box li.red-2 {width:41% !important}
.box-block .dark-green .box-content { width:100%; padding:0px }
.box-block .box-content{ width:180px; display:inline-block; float:left; padding:50px 0 0 0}
.box-block li.squarebox .display-text img { margin:25px 0 0 0 }
.box-block li.smallbox .display-text img { margin:10px 0 0 0 }
.page-container .page-services { width:1000px; min-height:284px; margin:0px auto}
.page-container .page-services ul li.squarebox {
 text-align: center;
 display: inline-block;
 float: left;
 width: 186px;
 height: 113px;
 text-decoration: none !important;
 overflow: hidden;
 margin: 0px 5px 5px 4px;
}
}
/* #Tablet (Portrait)
================================================== */
/* Note: Design for a width of 768px */
@media only screen and (min-width:768px) and (max-width:975px) 
{
#megaMenu { max-width:800px; margin:0px auto}
#megaMenu ul.megaMenu > li > a {padding: 13px 12px !important; font-size:12px}
#request-left-block { background:#7ab80e; width:100%; height:167px; float:left}
#request-right-block { background:#06377d; width:100%; height:167px; float:left}
#footer-wrapper #our-services #menu-check-our-services li { display:block; list-style:none; width:95%; background:url(../images/arrow.png) no-repeat left 4px; font:15px Arial, Helvetica, sans-serif; padding:3px 0 3px 22px; margin:0px 0 0 0; float:none !important}
#footer-wrapper #our-services #menu-check-our-services a { color:#000; padding:0px; line-height:25px; border:none; height:25px; background:none; font-family:'tisaproregular'; text-shadow:none; font-size:13px !important;}
#footer-wrapper #our-services #menu-check-our-services a:hover {background: none repeat scroll 0% 0% rgb(221, 77, 66); color:#fff; text-shadow:0 1px 1px #000; transition: all 400ms ease 0s; transform-origin: 50% 0% 0px;}
#footer-wrapper #our-services #menu-check-our-services { display:block; width:90%; margin:0px auto; padding:12px 0 0 3px}
#footer-wrapper #our-services #menu-check-our-services li { display:block; list-style:none; width:90%; background:url(../images/arrow.png) no-repeat left 4px; font:15px Arial, Helvetica, sans-serif; padding:3px 0 3px 22px; margin:0px 0 0 0; float:none !important}
#footer-wrapper #our-services #menu-check-our-services a { color:#000; padding:0px; line-height:25px; border:none; height:25px; background:none; font-family:'tisaproregular'; text-shadow:none}
#footer-wrapper #our-services #menu-check-our-services a:hover { background:none}
.page-container .page-block {
 width: 750px;
 margin: 0px auto;
 border-top: 5px solid rgb(123, 123, 118);
 padding: 15px 0px 0px;
 background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0% transparent;
 font-family: 'tisaproregular';
}
.page-container .page-block .col-600 {
 width: 56.9574%;
}
.page-container .page-block .col-275 {
 width:37.4043%;
}
#section { width:760px; margin:0px auto}
#logo {
 float: left;
 margin: 13px 0px 0px -30px;
 padding: 0px 0px 0px 60px;
 background: url("../images/logo-bg.jpg") no-repeat scroll left center transparent;
 width:319px;
 height: 117px;
}
.page-container .page-services ul li.squarebox {
 text-align: center;
 display: inline-block;
 float: left;
 width: 136px;
 height:90px;
 text-decoration: none !important;
 overflow: hidden;
 margin: 0px 5px 15px 4px;
}
.page-container .page-services {width:735px;min-height: 244px; margin: 0px auto !important;}
.page-container .page-services ul li.squarebox img { width:80%;}
.page-container .page-services ul li.squarebox h2 {font-family: 'Conv_BIG_NOODLE_TITLING_0'; color:#fff; font-size:15px !important; text-transform:uppercase; font-weight:normal; letter-spacing:0.3px}
#den-nav .menu {width:760px; margin: 0px auto; padding:0 0 0 10px}
.menu a {border-left: 1px solid rgb(88, 88, 88);color: rgb(255, 255, 255);cursor: pointer;
 display: block;
 font-size:11px;
 font-weight: 700;
 height: 45px;
 line-height: 45px;
 margin: 0px;
 padding: 0px 8px;
 position: relative;
 text-decoration: none;
 text-shadow: 0px 1px 1px rgb(36, 36, 36);
 text-transform: uppercase;
}
#portfolio { width:760px; margin:0px auto; padding:10px 0px}
#portfolio .view {
 width: 315px;
 height: 185px;
 margin: 5px;
 float: left;
 overflow: hidden;
 position: relative;
 text-align: center;
 box-shadow: 1px 1px 2px rgb(230, 230, 230);
margin:5px 0 5px 45px;
 cursor: default;
 background: url("../images/bgimg.jpg") no-repeat scroll center center rgb(255, 255, 255);
}
#welcome-block {font-family: 'Conv_BIG_NOODLE_TITLING_0'; font-size:60px; line-height:60px; width:40%; }
.col-600 { width: 56.9574%;}
.service-info #start-now h2 {
 font-family: Arial;
 font-size: 35px;
 text-align: center;
 color: rgb(116, 200, 255);
 text-transform: uppercase;
 padding: 15px 0px 10px;
}
.service-info #expert-advice {
 font: 16px/22px Arial,Helvetica,sans-serif;
 text-align: right;
 padding: 18px 0px 0px;
}
.service-info #social-block .social-box ul li {
 list-style: none outside none;
 display: block;
 float: left;
 padding: 0px 0px 0px 0px;
}
#footer-wrapper #why-go-with-den {
 min-height: 300px;
 padding: 12px 0px 0px;
 font: 13px/22px 'tisaproregular',Arial,Helvetica,sans-serif;
 background: url("../images/why-go-den.jpg") no-repeat scroll right 15px transparent;
}
#footer-wrapper #our-services #menu-check-our-services li {
 display: block;
 list-style: none outside none;
 width: 95%;
 background: url("../images/arrow.png") no-repeat scroll left 4px transparent;
 font: 15px Arial,Helvetica,sans-serif;
 padding: 5px 0px 3px 22px;
 margin: 0px;
 float: none !important;
}
.bottom-block #menu-footer-menu li a {
 color: rgb(255, 255, 255);
 border: medium none;
 height: 15px;
 background: none repeat scroll 0% 0% transparent;
 padding: 0px 2px;
 font: 11px 'brandon_grotesqueregular',Arial,Helvetica,sans-serif;
 text-transform: none !important;
}
.bottom-block #copyright {
 color: rgb(255, 255, 255);
 font:9px 'brandon_grotesqueregular',Arial,Helvetica,sans-serif;
 text-align: right;
 padding: 23px 0px 0px;
}
.box-block ul.rc_box li {margin: 0px !important}
.box-block .dark-green .box-content h2 {font-size:22px; color:#fff; padding:20px 0 0 0; line-height:20px; text-align:center; font-family: 'OswaldLight';}
.box-block .dark-green .box-content { width:100%; padding:0px }
.box-block .display-text h2 { color:#fff}
.box-block .display-text h2 { color:#fff !important}
 .box-block { width: 760px; margin:0px auto}

.box-block ul.rc_box li.squarebox{ width:314px !important; height:140px;}
.box-block ul.rc_box li.portfolio-bg{ width:374px !important; height:180px;}
.box-block ul.rc_box li.social-box{ width:314px !important; height:140px;}
 .box-block ul.rc_box li.smallbox{ width:314px !important; height:140px;}
 
 .portfolio-bg {}
 .nivo-main-image{ height:180px !important;}


ul.rc_box li.squarebox:nth-child(2) { margin:0 0 10px 0 !important;}
ul.rc_box li.smallbox:nth-child(3) { margin:0 10px 10px 0 !important;}
ul.rc_box li.smallbox:nth-child(4) { margin:0 0 10px 0 !important;}
ul.rc_box li.squarebox:nth-child(5) { margin:0 10px 10px 0 !important;}
ul.rc_box li.portfolio-bg:nth-child(6) { margin:0 0 10px 0 !important;}
ul.rc_box li.smallbox:nth-child(7) { margin:0 10px 10px 0 !important;}
ul.rc_box li.smallbox:nth-child(8) { margin:0 0 10px 0 !important;}
ul.rc_box li.smallbox:nth-child(9) { margin:0 10px 10px 0 !important;}
ul.rc_box li.smallbox:nth-child(10) { margin:0 0 10px 0 !important;}
ul.rc_box li.smallbox:nth-child(11) { margin:0 10px 0px 0 !important;}
ul.rc_box li.squarebox:nth-child(1) { margin:0 10px 0 0 !important;}
ul.rc_box li.squarebox:nth-child(13) { width:92% !important; margin:10px 0 0 0 !important}

.box-block .box-content{ width:200px; display:inline-block; float:left;}
.box-block .display-text h2{ font-size:28px; line-height:29px;}

.title{ display:none;}
.para_2{ display:none;}

.box-block .one-third.column { width: 760px;}
 .box-block .two-thirds.column { width: 760px;}

.box-block .one-fourth.column { width: 150px;}
.box-block .two-fourths.column { width:700px;}
.box-block .twelve.columns { width: 700px;}
.box-block .five.columns { width: 200px;}
 .box-block .six.columns { width: 333px;}
 
 .box-block .one.column { width: 760px;}
 
 .box-block .two-one.column { width:326px;}
 .box-block .two-two.column { width:400px !important;}
 

.box-block ul.navigation_box{ margin:auto; width:760px; background:#333;}
.box-block ul.navigation_box li a{ width:112px;}
.box-block ul.navigation_box li{ float:left; padding:0; margin:0 5px 5px 0;}

ul.navigation_box li:nth-child(5){ margin:0 0 5px 0;}
ul.navigation_box li:nth-child(10){ margin:0 0 5px 0;}


#s_btn{ }
/* Portfolio Showcase */
.ff-container{width: 97% !important; position:relative;}
.ff-container label.ff-label-type-all{margin-left:40px;}
.ff-items a{width: 165px;height: 117px;}
.ff-items a span{width: 165px;}
.ff-items a:hover span{height: 67px;}
.ff-items li img{width:205px !important;height:117px;}
.ff-items li{width: 205px;height: 134px;}
.ff-items a span strong{ font-size:20px; line-height:40px;}
/* Portfolio Showcase Ends */
 
 }
/* #Mobile (Portrait)
================================================== */
 /* Note: Design for a width of 320px */
@media only screen and (max-width: 767px) 
 {

#footer { background:none}
#footer-wrapper #our-services {
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyOSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWNlY2VjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 29%, rgba(236,236,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
padding:0 0 20px 0
}

#footer-wrapper #location {
background: rgb(255,255,255) !important; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyOSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWNlY2VjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==) !important;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 29%, rgba(236,236,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
padding:0 0 20px 0;
height:auto !important
}

#footer-wrapper #location {margin:0px !important;}
#megaMenu.megaResponsive ul.megaMenu > li {background: url("../images/nav-bg.jpg") repeat-x scroll 0% 0% transparent;}
 body{ }
 .box-block { width: 306px; margin:0px auto}
.box-block ul.rc_box li{ float:left; padding:0; margin:0 0 10px 0 !important;}

.lead{font-size: 30px; line-height: 35px;}
.p_image{ width:150px; height:68px;}

.box-block .box-1 .icon{ display:inline-block; float:right; width:100px; font-size:160px;}
.b_font{ font-size:80px !important; line-height:85px !important;}

#contact_para2{ font-size:20px !important; letter-spacing:normal; line-height:24px !important;}

.box-block .one-third.column, 
 .box-block .two-thirds.column,
 .box-block .one.column { width: 306px;}
 
 .box-block .two-one.column { width:306px;}
 .box-block .two-two.column { width:78px !important; background:red;}

.box-block .twelve.columns,
.box-block .five.columns,
 .box-block .six.columns { width: 250px;}

.box-block ul.navigation_box li a{ width:114px;}
.box-block ul.navigation_box li{ float:left; padding:0; margin:0 5px 5px 0;}

ul.navigation_box li:nth-child(2),
 ul.navigation_box li:nth-child(4),
 ul.navigation_box li:nth-child(6),
 ul.navigation_box li:nth-child(8),
 ul.navigation_box li:nth-child(10){ margin:0 0 5px 0;}

form textarea { width: 240px; }

.des{ display:none !important;}
.logo{ margin-right:0 !important; margin-bottom:10px; height:30px; line-height:30px; display:block;}

#s_btn{ display:none; }

/* Portfolio Showcase */
#portfolio_para1{ display:none !important;}

.ff-container{width: 250px; }
.ff-container label{margin-bottom:2px;margin-top:2px;font-size: 14px; height: 40px; padding:5px 0px; width:100%; }
.ff-container label.ff-label-type-all{margin-left:0px;}
.ff-items a{width: 210px;height: 148px;}
.ff-items a span{width: 210px;}
.ff-items a:hover span{height: 98px;}
.ff-items li img{width:250px !important;height:148px;}
.ff-items li{width: 250px;height: 177px;}
.ff-items a span strong{ font-size:16px; line-height:30px;}
ul.ff-items li:nth-child(1),
ul.ff-items li:nth-child(2),
ul.ff-items li:nth-child(3),
ul.ff-items li:nth-child(4),
ul.ff-items li:nth-child(5){ margin-right:0px !important;}
/* Portfolio Showcase Ends */

 }
/* #Mobile (Landscape)
================================================== */
 /* Note: Design for a width of 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {


#footer { background:none}
#footer-wrapper #our-services {
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyOSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWNlY2VjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 29%, rgba(236,236,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
padding:0 0 20px 0
}

#footer-wrapper #location {
background: rgb(255,255,255) !important; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyOSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZWNlY2VjIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==) !important;
background: -moz-linear-gradient(top, rgba(255,255,255,1) 29%, rgba(236,236,236,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(29%,rgba(255,255,255,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 29%,rgba(236,236,236,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
padding:0 0 20px 0;
height:auto !important
}

#request-left-block { background: #7ab80e; width:100%; height:167px; }
#request-right-block { background:#06377d; width:100%; height:167px;}

.page-container .page-services ul li.squarebox { width:29%; padding:0 0 5px 0}
.page-container .page-services {width:95%; min-height: 244px; margin: 0px auto !important; background:#202020}
.page-container .page-services ul li.squarebox h2 {font-family: 'Conv_BIG_NOODLE_TITLING_0'; color:#fff; font-size:16px !important; text-transform:uppercase; font-weight:normal; letter-spacing:0.3px}
.bottom-block { background:#333; padding:10px 0 0 0}
.bottom-block .col-700 {width:90% !important; margin:0px auto}
.bottom-block #copyright {width:100%; color: rgb(255, 255, 255); font:9px 'brandon_grotesqueregular',Arial,Helvetica,sans-serif; text-align: center !important; padding: 23px 0px 0px; }
#footer-wrapper #our-services #menu-check-our-services { width:100%; margin:0px auto !important}
#footer-wrapper #our-services #menu-check-our-services li { display:block; list-style:none; width:95%; background:url(../images/arrow.png) no-repeat left 4px; font:15px Arial, Helvetica, sans-serif; padding:3px 0 3px 22px; margin:0px 0 0 0; float:none !important}
#footer-wrapper #our-services #menu-check-our-services a { color:#000; padding:0px; line-height:25px; border:none; height:25px; background:none; font-family:'tisaproregular'; text-shadow:none; font-size:13px !important;}
#footer-wrapper #our-services #menu-check-our-services a:hover {background: none repeat scroll 0% 0% rgb(221, 77, 66); color:#fff; text-shadow:0 1px 1px #000; transition: all 400ms ease 0s; transform-origin: 50% 0% 0px;}
#footer-wrapper #why-go-with-den {min-height:180px;padding: 12px 0px 0px; font: 13.5px/22px 'tisaproregular',Arial,Helvetica,sans-serif;background: url("../images/why-go-den.jpg") no-repeat scroll right 15px transparent;}
#footer-wrapper #why-go-with-den h2 { text-align:center; width:100%}
#footer-wrapper #location {background: url("../images/location-bg.jpg") no-repeat scroll right bottom transparent;min-height: 300px;margin: 0px;padding: 15px 0px 0px;}
#footer-wrapper #our-services #menu-check-our-services { display:block; width:90%; margin:0px auto; padding:12px 0 0 3px}
#footer-wrapper #our-services #menu-check-our-services li { display:block; list-style:none; width:90%; background:url(../images/arrow.png) no-repeat left 4px; font:15px Arial, Helvetica, sans-serif; padding:3px 0 3px 22px; margin:0px 0 0 0; float:none !important}
#footer-wrapper #our-services #menu-check-our-services a { color:#000; padding:0px; line-height:25px; border:none; height:25px; background:none; font-family:'tisaproregular'; text-shadow:none}
#footer-wrapper #our-services #menu-check-our-services a:hover { background:none}
#section { width:100%; margin:0px auto}
#logo {
 float: left;
 margin: 13px 0px 0px -30px;
 padding: 0px 0px 0px 60px;
 background: url("../images/logo-bg.jpg") no-repeat scroll left center transparent;
 width:219px;
 height: 117px;
}
#header .right-block {
}
#header .right-block h2 {
 font-family: 'OswaldLight';
 font-size: 80%;
 color: rgb(44, 44, 46);
 margin: 0px;
 padding: 0px;
 text-align: center;
font-size:11px;
 line-height: 25px;
}
.page-container .page-services ul li.squarebox h2 {font-family: 'Conv_BIG_NOODLE_TITLING_0'; color:#fff; font-size:15px; text-transform:uppercase; font-weight:normal; letter-spacing:0.3px}
#den-nav .menu {width:760px; margin: 0px auto; padding:0 0 0 10px}
.menu a {border-left: 1px solid rgb(88, 88, 88);color: rgb(255, 255, 255);cursor: pointer;
 display: block;
 font-size:11px;
 font-weight: 700;
 height: 45px;
 line-height: 45px;
 margin: 0px;
 padding: 0px 8px;
 position: relative;
 text-decoration: none;
 text-shadow: 0px 1px 1px rgb(36, 36, 36);
 text-transform: uppercase;
}
#portfolio { width:100%; margin:0px auto; padding:10px 0px}
#portfolio .view {
 width: 215px;
 height: 125px;
 margin: 5px;
 overflow: hidden;
 position: relative;
 text-align: center;
 box-shadow: 1px 1px 2px rgb(230, 230, 230);
margin:5px 0 5px 45px;
 cursor: default;
 background: url("../images/bgimg.jpg") no-repeat scroll center center rgb(255, 255, 255);
}
#welcome-block {font-family: 'Conv_BIG_NOODLE_TITLING_0'; font-size:60px; line-height:60px; width:60% !important; margin:0px auto !important;}
.col-60, .col-140, .col-220, .col-300, .col-380, .col-460, .col-540, .col-620, .col-700, .col-780, .col-860 {
 display:block;
}
.grid{ float:none !important }
.col-600 { width:96.9574%;}
.service-info #start-now h2 {
 font-family: Arial;
 font-size: 35px;
 text-align: center;
 color: rgb(116, 200, 255);
 text-transform: uppercase;
 padding: 15px 0px 10px;
}
.service-info #expert-advice { font:17px Arial, Helvetica, sans-serif; text-align: center; padding:18px 0 0 0; line-height:22px }
.service-info #expert-advice h2 {font-family:"Century Gothic", Arial; color:#74c8ff; font-size:24px; line-height:27px}
.service-info #start-now {background: none repeat scroll 0% 0% rgb(33, 33, 36);min-height: 112px;margin: 0px;}
.service-info #social-block { width:48%; margin:0px auto;font: 18px "Times New Roman",Times,serif;color: rgb(250, 126, 117);}
.service-info #social-block small {font: bold 30px "Times New Roman",Times,serif;color: rgb(116, 200, 255); float: left;padding: 15px 0px 15px;}
.col-325 {
 width:100%;
}
.service-info #social-block .social-box ul li {
 list-style: none outside none;
 display: block;
 float: left;
 padding: 0px 0px 0px 0px;
}
.bottom-block #menu-footer-menu li a {
 color: rgb(255, 255, 255);
 border: medium none;
 height: 15px;
 background: none repeat scroll 0% 0% transparent;
 padding: 0px 2px;
 font: 11px 'brandon_grotesqueregular',Arial,Helvetica,sans-serif;
 text-transform: none !important;
}
.bottom-block #copyright {
 color: rgb(255, 255, 255);
 font:9px 'brandon_grotesqueregular',Arial,Helvetica,sans-serif;
 text-align: right;
 padding: 23px 0px 0px;
}
.box-block ul.rc_box li {margin: 0px !important}
.box-block .dark-green .box-content h2 {font-size:18px; color:#fff; padding:10px 0 0 0; line-height:20px; text-align:center; font-family: 'OswaldLight';}
.box-block .dark-green .box-content { width:100%; padding:0px }
.box-block .display-text h2 { color:#fff}
.box-block { width: 420px; margin:0px auto}

.box-block ul.rc_box li{ float:left; padding:0; margin:0 0 10px 0 !important;}

.box-block ul.rc_box li.squarebox{ width:360px !important; height:90px !important;}
.box-block ul.rc_box li.portfolio-bg{ width:420px !important; height:210px !important;}
.box-block ul.rc_box li.social-box{ width:360px !important; height:90px !important;}
 .box-block ul.rc_box li.smallbox{ width:360px !important; height:90px !important;}
 
 .portfolio-bg {}

.box-block .box-content{ width:260px; display:inline-block; float:left;}
.icon_m{height:80px !important; font-size:100px !important; line-height:55px !important;}

.para_2{ display:none;}

 .box-block .two-thirds.column, 
.box-block .one-third.column,
.box-block .one.column { width: 420px;}

.box-block .twelve.columns,
.box-block .five.columns,
 .box-block .six.columns { width: 360px;}

.box-block ul.navigation_box li a{ width:100px;}
.box-block ul.navigation_box li{ float:left; padding:0; margin:0 5px 5px 0;}

ul.navigation_box li:nth-child(3),
 ul.navigation_box li:nth-child(6),
 ul.navigation_box li:nth-child(9){ margin:0 0 5px 0;}
#s_btn{ display:none; }

.page-container .page-block {
 width:95%;
 margin: 0px auto;
 border-top: 5px solid rgb(123, 123, 118);
 padding: 15px 0px 0px;
 background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%) repeat scroll 0% 0% transparent;
 font-family: 'tisaproregular';
}
.page-container .page-block .col-600 {
 width:100%%;
}
.page-container .page-block .col-275 {
 width:300px; margin:0px auto !important; float:none
}

 }

@media screen and (max-width: 654px) {

#request-left-block { background:#7ab80e; width:100%; height:auto !important;}
#request-left-block h3 {font:25px 'tisaproregular',Arial, Helvetica, sans-serif; text-align:center; margin:10px 0 20px 0; font-weight:bold; color:#172400}
#request-left-block code {width:90%; margin:0px auto; color:#172400; display:block; font:15px Arial, Helvetica, sans-serif !important; line-height:25px !important; font-weight:bold; text-align:center}
#request-right-block { background:#06377d; width:100%; height:auto !important}
#request-right-block .form-block {width:96%; min-height:15px;}
#request-right-block .form-block .first-col { width:100%; padding:0 4px 0 4px}
#request-right-block .form-block .first-col input { width:100%; height:36px; border:none; outline:none; box-shadow: none; margin:0 0 10px 0; font:13px Arial, Helvetica, sans-serif; line-height:36px; color:#000; background:#fff; padding:0px !important}
#request-right-block .form-block .second-col { width:100%; padding:0 4px 0 4px}
#request-right-block .form-block .second-col textarea { width:100%; height:125px; background:#fff; border:none; outline:none; box-shadow: none; font:13px Arial, Helvetica, sans-serif; line-height:36px; color:#000; margin:0px}
#request-right-block .form-block .submit_button{ margin:10px 0 10px 0}
#request-right-block form div { margin-bottom:0px !important}
}

@media screen and (max-width: 490px) {
.page-container .page-services ul li.squarebox { width:29%; padding:0 0 5px 0}
.page-container .page-services {width:95%; min-height: 244px; margin: 0px auto !important; background:#202020}
.page-container .page-services ul li.squarebox img { width:90%;}
.page-container .page-services ul li.squarebox h2 {font-family: 'Conv_BIG_NOODLE_TITLING_0'; color:#fff; font-size:16px !important; text-transform:uppercase; font-weight:normal; letter-spacing:0.3px}
.page-container .page-block { width:95%}
#footer {max-width: 95%;}
.page-container .page-block .col-275 { width:276px; margin:0px auto !important}
 body {}
 #logo {
 float: none;
display:block; margin:0px auto;
padding:20px 0 0 0;
 text-align: center;
 }

#header .right-block {
width:100%; background:#d4d2d3
}
#header .right-block img { margin:0px auto; display:block}
#header .right-block h2 {
 font-family: 'OswaldLight';
 font-size: 80%;
 color: rgb(44, 44, 46);
 margin: 0px;
 padding: 0px;
 text-align: center;
font-size:11px;
 line-height: 25px;
}
.col-600 {
 width:98%;
}
.page-container .page-block .col-600 {
 width:100%;
}
#welcome-block {font-family: 'Conv_BIG_NOODLE_TITLING_0'; font-size:60px; line-height:60px; width:270px !important; margin:0px auto !important; display:block}
#portfolio { width:100%; margin:0px auto; padding:10px 0px}
#portfolio .view {
 width: 315px;
 height: 185px;
 margin: 5px;
 overflow: hidden;
 position: relative;
 text-align: center;
 box-shadow: 1px 1px 2px rgb(230, 230, 230);
 cursor: default;
 background: url("../images/bgimg.jpg") no-repeat scroll center center rgb(255, 255, 255);
}
.service-info #start-now h2 {
 font-family: Arial;
 font-size: 35px;
 text-align: center;
 color: rgb(116, 200, 255);
 text-transform: uppercase;
 padding: 15px 0px 10px;
}
.service-info #expert-advice { font:17px Arial, Helvetica, sans-serif; text-align: center; padding:18px 0 0 0; line-height:22px }
.service-info #expert-advice h2 {font-family:"Century Gothic", Arial; color:#74c8ff; font-size:24px; line-height:27px}
.service-info #start-now {background: none repeat scroll 0% 0% rgb(33, 33, 36);min-height: 112px;margin: 0px;}
.service-info #social-block { width:68%; margin:0px auto;font: 18px "Times New Roman",Times,serif;color: rgb(250, 126, 117);}
.service-info #social-block small {font: bold 30px "Times New Roman",Times,serif;color: rgb(116, 200, 255); float: left;padding: 15px 0px 15px;}
.col-325 {
 width:100%;
}
.bottom-block { background:#333; padding:10px 0 0 0}
.bottom-block .tinynav {
-moz-appearance: none !important;
-webkit-appearance: none !important;
appearance: none !important;
background: #fff url(images/bg-select.png) no-repeat right;
border: 1px solid #ccc;
 font-size: 12px;
overflow: hidden;
padding: 0.5em 1em 0.5em 0.75em;
margin:0px auto;
width:90%;
}
.bottom-block #copyright {
width:100%;
 color: rgb(255, 255, 255);
 font:9px 'brandon_grotesqueregular',Arial,Helvetica,sans-serif;
 text-align: center;
 padding: 23px 0px 0px;
}
#footer-wrapper #our-services {min-height:50px; padding:12px 0 0 0; background: url("../images/footer-bg.jpg") repeat-x scroll 0% 0% transparent;}

.box-block { width:100%; margin:0px auto}
.box-block ul.rc_box li{ float:none !important; display:block !important; padding:0; margin:0 auto 10px !important;}
.box-block ul.rc_box li.squarebox{ width:240px !important; height:140px !important; }
.box-block ul.rc_box li.portfolio-bg{ width:240px !important; height:140px !important; }
.box-block ul.rc_box li.social-box{ width:240px !important; height:140px !important; }
.box-block ul.rc_box li.smallbox{ width:240px !important; height:140px !important; }
.box-block .dark-green .box-content h2 {font-size:16px; color:#fff; padding:20px 0 0 0; line-height:20px; text-align:center; font-family: 'OswaldLight';}
.box-block .dark-green .box-content { width:100%; padding:0px }
.box-block .display-text h2 { color:#fff}
.box-block .box-content{ width:260px; display:inline-block; float:left;}
.icon_m{height:80px !important; font-size:100px !important; line-height:55px !important;}
.para_2{ display:none;}
.box-block .two-thirds.column, 
.box-block .one-third.column,
.box-block .one.column { width: 420px;}
.box-block .twelve.columns,
.box-block .five.columns,
.box-block .six.columns { width: 360px;}
.box-block ul.navigation_box li a{ width:100px;}
.box-block ul.navigation_box li{ float:left; padding:0; margin:0 5px 5px 0;}
ul.navigation_box li:nth-child(3),
ul.navigation_box li:nth-child(6),
ul.navigation_box li:nth-child(9){ margin:0 0 5px 0;}
#s_btn{ display:none; }
.grid, 
.grid-right {
float: none;
}

#featured-image .fluid-width-video-wrapper {
 margin: 20px 0 0 0;
}

.featured-title {
 font-size: 40px;
 padding: 40px 20px 0 20px
 }
 
 .navigation .next,
 .navigation .previous {
 text-align: center;
 }

 .menu ul, 
.menu li, 
.top-menu, 
.footer-menu li, 
.sub-header-menu li {
 float: none;
 text-align: center;
 text-rendering: optimizeSpeed;
 }

 #footer {
 text-align: center;
 }
 #footer .social-icons {
 text-align: center;
 }
}
@media screen and (max-width: 320px) {
 
 body {}

#featured p {
 font-size: 12px;
line-height: 1.2em;
 }
 .featured-title {
 font-size: 35px;
 }

.featured-subtitle {
font-size: 15px;
}
 .call-to-action a.button {
 font-size: 14px;
 padding: 7px 17px;
 }
}
@media screen and (max-width: 240px) {
 
 body {}

#featured p {
 font-size: 11px;
line-height: 1.1em;
 }
 .featured-title {
 font-size: 20px;
 }

.featured-subtitle {
font-size: 11px;
}
 .call-to-action a.button {
 font-size: 12px;
 padding: 5px 15px;
 }
 
 .top-widget area,
 .top-widget select,
 .top-widget textarea,
 .top-widget input[type="text"], 
 .top-widget input[type="password"] {
 width: 75%;
 }
 
 .widget-title,
 .widget-title-home h3 {
 font-size: 14px;
 height: 13px;
 line-height: 13px;
 text-align: center;
 }
}


/* #Clearing
================================================== */
 /* Self Clearing Goodness */
 .box-block:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }
 /* Use clearfix class on parent to clear nested columns,
 or wrap each row of columns in a <div class="row"> */
 .clearfix:before,
 .clearfix:after,
 .row:before,
 .row:after {
 content: '\0020';
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0; }
 .row:after,
 .clearfix:after {
 clear: both; }
 .row,
 .clearfix {
 zoom: 1; }
 /* You can also use a <br class="clear" /> to clear columns */
 .clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
 }





/* #portfolio
==================================================================================================== */
.view-tenth img {
 -webkit-transform: scaleY(1);
 -moz-transform: scaleY(1);
 -o-transform: scaleY(1);
 -ms-transform: scaleY(1);
 transform: scaleY(1);
 -webkit-transition: all 0.7s ease-in-out;
 -moz-transition: all 0.7s ease-in-out;
 -o-transition: all 0.7s ease-in-out;
 -ms-transition: all 0.7s ease-in-out;
 transition: all 0.7s ease-in-out;
}
.view-tenth .mask {
 background-color: #333;
 -webkit-transition: all 0.5s linear;
 -moz-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 -ms-transition: all 0.5s linear;
 transition: all 0.5s linear;
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
}
.view-tenth h2 {
 border-bottom: 1px solid rgba(0, 0, 0, 0.3);
 background: transparent;
 margin:40px 40px 0px 40px;
 -webkit-transform: scale(0);
 -moz-transform: scale(0);
 -o-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
 color: #333;
 -webkit-transition: all 0.5s linear;
 -moz-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 -ms-transition: all 0.5s linear;
 transition: all 0.5s linear;
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
}
.view-tenth p {
 color: #333;
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
 -webkit-transform: scale(0);
 -moz-transform: scale(0);
 -o-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
 -webkit-transition: all 0.5s linear;
 -moz-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 -ms-transition: all 0.5s linear;
 transition: all 0.5s linear;
}
.view-tenth a.info {
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
 -webkit-transform: scale(0);
 -moz-transform: scale(0);
 -o-transform: scale(0);
 -ms-transform: scale(0);
 transform: scale(0);
 -webkit-transition: all 0.5s linear;
 -moz-transition: all 0.5s linear;
 -o-transition: all 0.5s linear;
 -ms-transition: all 0.5s linear;
 transition: all 0.5s linear;
}
.view-tenth:hover img {
 -webkit-transform: scale(10);
 -moz-transform: scale(10);
 -o-transform: scale(10);
 -ms-transform: scale(10);
 transform: scale(10);
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
 filter: alpha(opacity=0);
 opacity: 0;
}
.view-tenth:hover .mask {
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);
 opacity: 1;
}
.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info {
 -webkit-transform: scale(1);
 -moz-transform: scale(1);
 -o-transform: scale(1);
 -ms-transform: scale(1);
 transform: scale(1);
 -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
 filter: alpha(opacity=100);
 opacity: 5;
}


.view {
 width: 315px;
 height:185px;
 margin:5px;
 float: left;
 overflow: hidden;
 position: relative;
 text-align: center;
 -webkit-box-shadow: 1px 1px 2px #e6e6e6;
 -moz-box-shadow: 1px 1px 2px #e6e6e6;
 box-shadow: 1px 1px 2px #e6e6e6;
 cursor: default;
 background: #fff url(../images/bgimg.jpg) no-repeat center center;
}
.view .mask,.view .content {
 width: 328px;
 height:191px;
 position: absolute;
 overflow: hidden;
 top: 0;
 left: 0;
}
.view img {
 display: block;
 position: relative;
}
.view h2 {
 text-transform: uppercase;
 color: #fff !important;
 text-align: center;
 position: relative;
 font-size: 17px;
 padding:5px;
 background: rgba(0, 0, 0, 0.8);
 margin:20px 0 20px 0;
}
.view a.info {
 display: inline-block;
 text-decoration: none;
 padding: 4px 25px;
 background: #000;
 color: #fff;
 text-transform: uppercase;
 -webkit-box-shadow: 0 0 1px #000;
 -moz-box-shadow: 0 0 1px #000;
 box-shadow: 0 0 1px #000;
 border:2px solid #fff;
}
.view a.info: hover {
 -webkit-box-shadow: 0 0 5px #000;
 -moz-box-shadow: 0 0 5px #000;
 box-shadow: 0 0 5px #000;
}