@charset "utf-8";
/* CSS Document */
/* 店铺风格 粉色 */


.shop-top{ /* 设置店铺LOGO */
	border-bottom:1px solid #907e55;
	background:#ffc url(../images/top_mr.jpg) no-repeat;
}
.shop-top h2{
	display:none;
}
.shop-left{ /* 设置店铺左栏背景色 */
	background-color:#ffedf3;
}
.shop-190 h3{ /* 设置店铺左栏标题背景色 */
	background:#fedae4; 
	border-bottom:1px solid #ffb8d2; 
	border-top:1px solid #ffb8d2;
	white-space : normal;
	line-height:18px;
	height:auto;
	padding:5px;
}
.shop-right h3{ /* 设置店铺右栏标题背景色 */
	background:#fedae4;
	border-bottom:1px solid #ffb8d2;
	border-top:1px solid #ffb8d2;
	margin-top:5px;
}
.shop-top ul li{ /* 设置店铺导航背景图 */
	background: url(../images/shop_nav_bg.gif) -25px left no-repeat;
}
.shop-top ul li.current{ /* 设置店铺导航选中项背景图 */
	background: url(../images/shop_nav_bg.gif) no-repeat;
}
.shop-top ul li a{ /* 设置店铺导航文字颜色 */
	color:#666;
}
.shop-top ul li a:hover{ /* 设置店铺导航文字选中颜色 */
	color:#FFCC00;
}
.shop-top ul li.current a{ /* 设置店铺导航当前项颜色 */
	color:#FF9900;
}

