
#tuna_calendar {margin: 0px;font-size: 12px;font-family: Verdana, Arial, Helvetica, sans-serif;background: transparent;width:282px;padding: 1px 0 0 1px;position:absolute;z-index:1000;*padding:0;	*width:284px;}
@media all and (min-width:0){#tuna_calendar{width:284px}}
#tuna_calendar a {color:#0055AA;text-decoration:none;}
#tuna_calendar .day0,#tuna_calendar .day6  {color:#FFFF00;}
#tuna_calendar .current_day{text-decoration: underline;	font-weight:bold;color:#0055AA;}
#tuna_calendar .current_day:hover{background:#C8E3FC;text-decoration: underline;}
#tuna_calendar .cue_day{color:#A0522D;}
#tuna_calendar .cue_day:hover{background: #C8E3FC;}
#tuna_calendar .selected_day{width:18px;height:18px;color: #0055aa;	text-decoration: none;border: 1px solid #7CB9F4;	background: #C8E3FC;}
#tuna_calendar .limit_day{text-decoration:line-through;}
#tuna_calendar .limit_day:hover{text-decoration:line-through;}
#tuna_calendar .over_day, #tuna_calendar .blank_day, #tuna_calendar .limit_day{color: #999;cursor: default;}
#tuna_calendar .enable_day:hover{background:#C8E3FC;}
#tuna_calendar .currentmonth01 th {background:#0055AA;}
#tuna_calendar table {border-collapse:collapse;	border:solid 1px #7F9DB9;float:left;background:#FFF;}
#tuna_calendar th,#tuna_calendar td {height:20px;line-height:20px;text-align:center;}
#tuna_calendar thead th {background:#E7F1FD;color:#0055AA;font-weight: bold;}
#tuna_calendar th {background:#599DE9;font-weight:bold;color:#FFF;}
#tuna_calendar th span {color:#FFFF00;}
#tuna_calendar thead th span  {font-weight: normal;color:#0055AA;cursor:pointer;text-align:center;width:40px;line-height:20px;*line-height:16px;}
#tuna_calendar td a {display:block;height:20px;width:20px;overflow:hidden;text-align:center;line-height:20px;}
#tuna_calendar .calendar_title01 span {float:left;}
#tuna_calendar .calendar_title01 div {float:left;}
#tuna_calendar .calendar_title02 span {float:right;}
#tuna_calendar .calendar_title02 div {float:right;}
/*address*/
#tuna_address {font-size: 12px;font-family: Arial, Simsun;}
#tuna_address #address_warp {width: 220px;border: 1px solid #7F9DB9;background: #FFF;padding: 4px;margin: 0px;text-align: left;min-height:305px;}
* html #tuna_address #address_warp {height:305px;}
#tuna_address #address_message {display: block;line-height: 20px;padding: 0px 0px 0px 5px;color: #666;border-bottom: 1px dashed #aaa;font-family:"Simyou";word-wrap:break-word;word-break:break-all;width:207px;}
#tuna_address #address_list {margin: 5px 0 0 0;	padding: 0px;min-height:277px;}
* html #tuna_address #address_list {height:277px;}
#tuna_address #address_list span {margin: 0px;padding: 0px;	float: left;text-align: left;}
#tuna_address #address_list a {padding: 1px 5px 0px 5px;text-align: right;border-top: 1px solid #FFF;border-bottom: 1px solid #FFF;cursor: pointer;line-height: 20px;color: #0055aa;display:block;text-decoration:none;min-height:20px;}
* html #tuna_address #address_list a {height:20px;}
#tuna_address #address_list a:hover {background: #E7F1FD;border-top: 1px solid #7F9DB9;border-bottom: 1px solid #7F9DB9;}
#tuna_address .address_selected {background: #C8E3FC;color: #FFF;border-top: 1px solid #C8E3FC;	border-bottom: 1px solid #C8E3FC;}
#tuna_address .address_pagebreak {padding:0;margin:0;display:none;line-height:25px;text-align:center;}
#tuna_address .address_pagebreak a {color:#0055aa;font-family: Arial, Simsun, sans-serif;	text-decoration:underline;padding:0px 4px 0px 4px;margin:0;font-size:14px;}
#tuna_address #address_arrowl,#tuna_address #address_arrowr {color:#0055aa;}
#tuna_address a.address_current {color:black;text-decoration:none;}