@charset "utf-8";
/*  频道首页样式 CSS */

/* 面包屑 */
.crumbs{ height:20px; margin-top:7px;}
.crumbs ul{ margin-left:10px;}
.crumbs ul li{ float:left; margin-right:10px; line-height:20px; color:#F90;}
.crumbs ul li a{ font-size:12px; color:#666;line-height:20px;}

/* 频道人气王 */
.pindao .left-box .rqw li a span{ width:16px; height:16px; padding:0 6px; margin:0; background-image:url(../images/category/num.gif); background-repeat:no-repeat;}
.pindao .left-box .rqw li.c span{padding:0px; margin-top:5px; }
.pindao .left-box .rqw li.c a span.num1{background-position:0px 0px;}
.pindao .left-box .rqw li.c a span.num2{background-position:0px -97px;}
.pindao .left-box .rqw li.c a span.num3{background-position:0px -194px;}
.pindao .left-box .rqw li.c a span.num4{background-position:0px -281px;}
.pindao .left-box .rqw li.c a span.num5{background-position:0px -364px;}
.pindao .left-box .rqw li.c a span.num6{background-position:0px -441px;}
.pindao .left-box .rqw li.c a span.num7{background-position:0px -522px;}

/* 浏览过的商品 */
.viewed{ width:183px; overflow:hidden;}
.viewed li{ float:left; width:52px; margin-left:6px !important; margin-left:3px;overflow:hidden;}
.viewed li a{ display:block; width:50px;}
.viewed li img{ width:50px; float:left; margin-top:5px;cursor:pointer; border:1px solid #CCC;}
.viewed li em{ color:#F60; font-style:normal; margin-left:5px; font-weight:600; line-height:30px;}
.viewed li.clear-viewed{ clear:both; float:none; width:170px; text-align:right; border-top:1px dashed #ccc; margin-top:5px; line-height:30px;}
.viewed li.clear-viewed a{ color:#333;}
.main-left .h205{ height:205px; overflow:hidden;}

/* 最新评价 */
.ul-pl li{ clear:both; display:block; height:91px; overflow:hidden;border-bottom:1px solid #cbcbcb;}
.ul-pl li img{ width:50px; float:left; margin: 3px 5px;}
.ul-pl li h4{ font-size:12px; font-weight:300; color:#fd6533; margin:0; margin-top:5px; line-height:20px;height:20px;overflow:hidden;padding:0;cursor:pointer;}
.ul-pl li p{ display:block; color:#595d5c; line-height:16px; height:32px; overflow:hidden; cursor:pointer;}
.ul-pl li span{ text-align:left; display:block; clear:both; margin:5px; padding-right:10px; cursor:pointer; color:#339832;}
.ul-pl li span strong{ float:right;color:#1e3d76}

/* 商家推荐 */
.shop-goods{ height:210px; margin-left:10px;}
.shop-goods ul{ float:left; width:112px; margin-right:12px; overflow:hidden;}
.shop-goods ul li{ text-align:center;}
.shop-goods ul li del{display:block; overflow:hidden; height:16px;text-decoration:none;color:#666;}
.shop-goods ul li del nobr font{text-decoration:line-through;font-size:12px; }
.shop-goods ul li.goods-photo img{ width:110px; height:110px; margin-bottom:5px; border:1px solid #eee;}
.shop-goods ul li.shop-name a{ color:#666; height:36px; overflow:hidden; display:block; line-height:18px;}
.shop-goods ul li.goods-name a{ color:#666; height:18px;overflow:hidden; line-height:18px;}
.shop-goods ul li.goods-price a{ color:#666;}
.shop-goods ul li.goods-price a span{ color:#F60; font-weight:600;}

/* 橱窗 */
.class-box .b-l a p{margin-top:7px;line-height:18px; height:36px;}
.class-box .b-l a span{line-height:18px; display:block;}
.class-box .b-l a span del{ text-decoration:none;}
.class-box .b-l a span del nobr font{text-decoration:line-through;font-size:13px;}
.class-box .b-c ul{ height:160px;}
.class-box .b-c ul li del{ color:#666; overflow:hidden; display:block; height:15px;text-decoration:none;}
.class-box .b-c ul li del nobr font{text-decoration:line-through;font-size:12px;}
.class-box h3 p{ float:left;line-height:28px;color:#3f7946; height:28px; overflow:hidden; width:450px;}

/* 频道类目 */
.type1 .c1, .type1 .c1{top:180px;}
.type1 .c2, .type1 .c2{top:207px;}
.type1 .c3, .type1 .c3{top:234px;}
.type1 .c4, .type1 .c4{top:261px;}
.type1 .c5, .type1 .c5{top:288px;}
.type1 .c6, .type1 .c6{top:315px;}
.type1 .c7, .type1 .c7{top:342px;}
.type1 .c8, .type1 .c8{top:369px;}
.type1 .c9, .type1 .c9{top:396px;}
.type1 .c10, .type1 .c10{top:423px;}
.type1 .c11, .type1 .c11{top:450px;}
.type1 .c12, .type1 .c12{top:477px;}
.type1 .c13, .type1 .c13{top:504px;}


.pindao .class-box .b-c ul li img{ display:block; width:98px; height:98px;border:1px solid #d9d5d4;margin:0 auto 6px auto; display:block;}
.pindao .class-box .b-c ul li span{ color:#333; display:block;  width:107px; margin:0 auto; height:20px; line-height:20px; overflow:hidden;}

/* 频道共用 */
.pindao .w185 { margin-bottom:10px;}
.pindao .w185 .lm{ margin-left:6px; background:#ccc; padding-bottom:1px;}
.pindao .w185 .lm li.c0 a{font-size:14px; color:#fff; font-weight:600;}
.pindao .w185 .lm li.c0 a:hover{color:#fff;}
.pindao .w185 .lm li.c0,.pindao .w185 .lm li.c1, .pindao .w185 .lm li.c2, .pindao .w185 .lm li.c3, .pindao .w185 .lm li.c4, 
.pindao .w185 .lm li.c5,.pindao .w185 .lm li.c6,.pindao .w185 .lm li.c7, .pindao .w185 .lm li.c8,.pindao .w185 .lm li.c9,
.pindao .w185 .lm li.c10,.pindao .w185 .lm li.c11,.pindao .w185 .lm li.c12,.pindao .w185 .lm li.c13,.pindao .w185 .lm li.c14,.pindao .w185 .lm li.c15
{width:176px; height:27px; line-height:27px; text-align:center;}
.pindao .w185 .lm li.c1 a, .pindao .w185 .lm li.c2 a, .pindao .w185 .lm li.c3 a, .pindao .w185 .lm li.c4 a, .pindao .w185 .lm li.c5 a,
.pindao .w185 .lm li.c6 a,.pindao .w185 .lm li.c7 a, .pindao .w185 .lm li.c8 a,.pindao .w185 .lm li.c9 a,.pindao .w185 .lm li.c10 a,
.pindao .w185 .lm li.c11 a,.pindao .w185 .lm li.c12 a,.pindao .w185 .lm li.c13 a,.pindao .w185 .lm li.c14 a,
.pindao .w185 .lm li.c15 a{ color:#000;}
.pindao .w185 .lm li a:hover{ font-weight:600; color:#333}
.pindao .w565{ float:left;}
.pindao .w189{ margin-top:5px; width:185px; margin-right:4px;}
.pindao .w189 .left-box{ margin:0 0 10px 0; border:1px solid #bebdbb; border-top:0; width:183px; height:209px; overflow:hidden;}
.pindao .w189 h3{ height:28px; line-height:28px; width:185px;text-align:center; color:#FFF; margin:0; padding:0; font-size:14px; font-weight:600;}
.pindao .w189 h3 span{ display:block; float:left; width:90px; text-align:center;}
.pindao .main-left h3 a{color:#FFF;}
.pindao .main-left h3 a:hover{color:#000;}
.pindao .class-box{ margin-bottom:9px;}

.pindao .w185 .lm li.c1 .left li a, .pindao .w185 .lm li.c2 .left li a, .pindao .w185 .lm li.c3 .left li a, .pindao .w185 .lm li.c4 .left li a,
.pindao .w185 .lm li.c5 .left li a,.pindao .w185 .lm li.c6 .left li a,.pindao .w185 .lm li.c7 .left li a, .pindao .w185 .lm li.c8 .left li a, 
.pindao .w185 .lm li.c9 .left li a,.pindao .w185 .lm li.c10 .left li a,.pindao .w185 .lm li.c11 .left li a,.pindao .w185 .lm li.c12 .left li a,
.pindao .w185 .lm li.c13 .left li a,.pindao .w185 .lm li.c14 .left li a,.pindao .w185 .lm li.c15 .left li a{ color:#99172d;}

.pindao .class-box .b-r{ width:185px; }
.pindao .class-box .b-r ul{ text-indent:0; clear:both; height:250px;}
.pindao .class-box .b-r ul img{ border:1px solid #e3dfe0; float:left; display:block; width:55px; height:55px;}
.pindao .class-box .b-r ul del{color:#666; display:block; overflow:hidden; height:16px;text-decoration:none;}
.pindao .class-box .b-r ul del nobr font{text-decoration:line-through;font-size:12px;}
.pindao .class-box .b-r ul em{display:block;color:#ff6400;font-style:normal;font-weight:600;}
.pindao .class-box .b-r ul li{ line-height:18px; height:77px; clear:both; margin-top:1px; overflow:hidden; border-bottom:1px solid #cbcbcb;}
.pindao .class-box .b-r ul li span{ height:15px; line-height:15px; font-size:12px; padding:0 4px; color:#000; font-weight:300; background:url(../images/index/bg_gif.gif) right -479px no-repeat;}
.pindao .class-box .b-r ul li p{ float:none; height:36px; line-height:18px; margin-top:5px; display:block; overflow:hidden; }

.pindao .h{ height:365px;}
.pindao .main-left .category h3, .pindao .main-left .category h3 a{ background:none; font-size:12px; clear:both; float:none; width:130px; color:#944327;}
.pindao .main-left .category .right h3{ color:#944327;}
.pindao .w185 .lm li.c1 .category .left h3 a,.pindao .w185 .lm li.c1 .category .left h3{ background:none;font-size:12px; font-weight:600; color:#000;}
.pindao .w185 .lm li.c1 .category .left ul li a{ color:#0F0;}

/* t1日用家居 */
.type1 .left-box .rqw li a span.num1{background-position:-404px 0px;}
.type1 .left-box .rqw li a span.num2{background-position:-404px -97px;}
.type1 .left-box .rqw li a span.num3{background-position:-404px -194px;}
.type1 .left-box .rqw li a span.num4{background-position:-404px -281px;}
.type1 .left-box .rqw li a span.num5{background-position:-404px -364px;}
.type1 .left-box .rqw li a span.num6{background-position:-404px -441px;}
.type1 .left-box .rqw li a span.num7{background-position:-404px -522px;}
.type1 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #92bcd2;}
.type1 .main-right h2{ border:1px solid #92bcd2; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#275876;}
.type1 .xprm{ border:1px solid #92bcd2;}
.type1 .main-left .left-box{border:1px solid #92bcd2; border-top:0;}
.type1 .w185 .lm{background:#92bcd4;}
.type1 .w185 .lm li.c0,.type1 .w185 .lm li.c1, .type1 .w185 .lm li.c2, .type1 .w185 .lm li.c3, .type1 .w185 .lm li.c4, 
.type1 .w185 .lm li.c5,.type1 .w185 .lm li.c6,.type1 .w185 .lm li.c7, .type1 .w185 .lm li.c8,.type1 .w185 .lm li.c9,
.type1 .w185 .lm li.c10,.type1 .w185 .lm li.c11,.type1 .w185 .lm li.c12,.type1 .w185 .lm li.c13,.type1 .w185 .lm li.c14,
.type1 .w185 .lm li.c15{background:url(../images/category/t1.png) 0 -27px no-repeat;}
.type1 .w185 .lm li.c0{background:url(../images/category/t1.png) 0 0 no-repeat;}
.type1 .w189 h3{background:url(../images/category/t1.png) right 0 no-repeat; }
.type1 .main-left h3{background:url(../images/category/t1.png) -300px 0px no-repeat; }
.type1 .main-left h3 span{ background:url(../images/category/t1.png) 0 -82px no-repeat;}
.type1 .main-left h3 a.c{background:url(../images/category/t1.png) 0 -82px no-repeat;}
.type1 .class-box{background:url(../images/category/t1.png) 0 -139px no-repeat; }
.type1 .class-box h3 span, .type1 .class-box h3 p, .type1 .class-box h3 p a, .type1 .class-box .b-r ul li a{ color:#275974;}
.type1 .category{background: url(../images/category/class_1.gif) 0 0 no-repeat; }
.type1 .category .bg{ background: url(../images/category/class_1.gif) 0 bottom no-repeat;}

/* t2数码频道 */
.type2 .left-box .rqw li a span.num1{background-position:-205px 0px;}
.type2 .left-box .rqw li a span.num2{background-position:-205px -97px;}
.type2 .left-box .rqw li a span.num3{background-position:-205px -194px;}
.type2 .left-box .rqw li a span.num4{background-position:-205px -281px;}
.type2 .left-box .rqw li a span.num5{background-position:-205px -364px;}
.type2 .left-box .rqw li a span.num6{background-position:-205px -441px;}
.type2 .left-box .rqw li a span.num7{background-position:-205px -522px;}
.type2 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #ccc;}
.type2 .main-right h2{ border:1px solid #ccc; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#333;}
.type2 .xprm{ border:1px solid #ccc;}
.type2 .main-left .left-box{border:1px solid #ccc; border-top:0;}
.type2 .w185 .lm{background:#ccc;}
.type2 .class-box h3 span, .type2 .class-box h3 p, .type2 .class-box h3 p a, .type2 .class-box .b-r ul li a{ color:#333;}
.type2 .w185 .lm li.c0,.type2 .w185 .lm li.c1, .type2 .w185 .lm li.c2, .type2 .w185 .lm li.c3, .type2 .w185 .lm li.c4, 
.type2 .w185 .lm li.c5,.type2 .w185 .lm li.c6,.type2 .w185 .lm li.c7, .type2 .w185 .lm li.c8,.type2 .w185 .lm li.c9,
.type2 .w185 .lm li.c10,.type2 .w185 .lm li.c11,.type2 .w185 .lm li.c12,.type2 .w185 .lm li.c13,.type2 .w185 .lm li.c14,
.type2 .w185 .lm li.c15{background:url(../images/category/t2.png) 0 -27px no-repeat;}
.type2 .w185 .lm li.c0{background:url(../images/category/t2.png) 0 0 no-repeat;}
.type2 .w189 h3{background:url(../images/category/t2.png) right 0 no-repeat; }
.type2 .main-left h3{background:url(../images/category/t2.png) -300px 0px no-repeat; }
.type2 .main-left h3 span{ background:url(../images/category/t2.png) 0 -82px no-repeat;}
.type2 .main-left h3 a.c{background:url(../images/category/t2.png) 0 -82px no-repeat;}
.type2 .class-box{background:url(../images/category/t2.png) 0 -139px no-repeat; }
.type2 .category{background: url(../images/category/class_2.gif) 0 0 no-repeat; }
.type2 .category .bg{ background: url(../images/category/class_2.gif) 0 bottom no-repeat;}

/* t3服装鞋帽 */
.type3 .left-box .rqw li a span.num1{background-position:-598px 0px;}
.type3 .left-box .rqw li a span.num2{background-position:-598px -99px;}
.type3 .left-box .rqw li a span.num3{background-position:-599px -195px;}
.type3 .left-box .rqw li a span.num4{background-position:-598px -281px;}
.type3 .left-box .rqw li a span.num5{background-position:-598px -364px;}
.type3 .left-box .rqw li a span.num6{background-position:-598px -441px;}
.type3 .left-box .rqw li a span.num7{background-position:-598px -522px;}
.type3 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #8ec7d0;}
.type3 .main-right h2{ border:1px solid #8ec7d0; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#1b94b1;}
.type3 .xprm{ border:1px solid #8ec7d0;}
.type3 .main-left .left-box{border:1px solid #8ec7d0; border-top:0;}
.type3 .w185 .lm{background:#8ec7d0;}
.type3 .class-box h3 span, .type3 .class-box h3 p, .type3 .class-box h3 p a, .type3 .class-box .b-r ul li a{ color:#1b94b1;}
.type3 .w185 .lm li.c0,.type3 .w185 .lm li.c1, .type3 .w185 .lm li.c2, .type3 .w185 .lm li.c3, .type3 .w185 .lm li.c4, 
.type3 .w185 .lm li.c5,.type3 .w185 .lm li.c6,.type3 .w185 .lm li.c7, .type3 .w185 .lm li.c8,.type3 .w185 .lm li.c9,
.type3 .w185 .lm li.c10,.type3 .w185 .lm li.c11,.type3 .w185 .lm li.c12,.type3 .w185 .lm li.c13,.type3 .w185 .lm li.c14,
.type3 .w185 .lm li.c15{background:url(../images/category/t3.png) 0 -27px no-repeat;}
.type3 .w185 .lm li.c0{background:url(../images/category/t3.png) 0 0 no-repeat;}
.type3 .w189 h3{background:url(../images/category/t3.png) right 0 no-repeat; }
.type3 .main-left h3{background:url(../images/category/t3.png) -300px 0px no-repeat; }
.type3 .main-left h3 span{ background:url(../images/category/t3.png) 0 -82px no-repeat;}
.type3 .main-left h3 a.c{background:url(../images/category/t3.png) 0 -82px no-repeat;}
.type3 .class-box{background:url(../images/category/t3.png) 0 -139px no-repeat; }
.type3 .category{background: url(../images/category/class_3.gif) 0 0 no-repeat; }
.type3 .category .bg{ background: url(../images/category/class_3.gif) 0 bottom no-repeat;}

/* t4图书音像 */
.type4 .left-box .rqw li a span.num1{background-position:-792px 0px;}
.type4 .left-box .rqw li a span.num2{background-position:-792px -97px;}
.type4 .left-box .rqw li a span.num3{background-position:-792px -194px;}
.type4 .left-box .rqw li a span.num4{background-position:-792px -281px;}
.type4 .left-box .rqw li a span.num5{background-position:-792px -364px;}
.type4 .left-box .rqw li a span.num6{background-position:-792px -441px;}
.type4 .left-box .rqw li a span.num7{background-position:-792px -522px;}
.type4 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #b6d4dc;}
.type4 .main-right h2{ border:1px solid #b6d4dc; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#1c677e;}
.type4 .xprm{ border:1px solid #b6d4dc;}
.type4 .main-left .left-box{border:1px solid #b6d4dc; border-top:0;}
.type4 .w185 .lm{background:#b6d4dc;}
.type4 .class-box h3 span, .type4 .class-box h3 p, .type4 .class-box h3 p a, .type4 .class-box .b-r ul li a{ color:#1c677e;}
.type4 .w185 .lm li.c0,.type4 .w185 .lm li.c1, .type4 .w185 .lm li.c2, .type4 .w185 .lm li.c3, .type4 .w185 .lm li.c4, 
.type4 .w185 .lm li.c5,.type4 .w185 .lm li.c6,.type4 .w185 .lm li.c7, .type4 .w185 .lm li.c8,.type4 .w185 .lm li.c9,
.type4 .w185 .lm li.c10,.type4 .w185 .lm li.c11,.type4 .w185 .lm li.c12,.type4 .w185 .lm li.c13,.type4 .w185 .lm li.c14,
.type4 .w185 .lm li.c15{background:url(../images/category/t4.png) 0 -27px no-repeat;}
.type4 .w185 .lm li.c0{background:url(../images/category/t4.png) 0 0 no-repeat;}
.type4 .w189 h3{background:url(../images/category/t4.png) right 0 no-repeat; }
.type4 .main-left h3{background:url(../images/category/t4.png) -300px 0px no-repeat; }
.type4 .main-left h3 span{ background:url(../images/category/t4.png) 0 -82px no-repeat;}
.type4 .main-left h3 a.c{background:url(../images/category/t4.png) 0 -82px no-repeat;}
.type4 .class-box{background:url(../images/category/t4.png) 0 -139px no-repeat; }
.type4 .category{background: url(../images/category/class_4.gif) 0 0 no-repeat; }
.type4 .category .bg{ background: url(../images/category/class_4.gif) 0 bottom no-repeat;}

/* t5美容美妆 */
.type5 .left-box .rqw li a span.num1{background-position:-975px 0px;}
.type5 .left-box .rqw li a span.num2{background-position:-975px -97px;}
.type5 .left-box .rqw li a span.num3{background-position:-975px -194px;}
.type5 .left-box .rqw li a span.num4{background-position:-975px -281px;}
.type5 .left-box .rqw li a span.num5{background-position:-975px -364px;}
.type5 .left-box .rqw li a span.num6{background-position:-975px -441px;}
.type5 .left-box .rqw li a span.num7{background-position:-975px -522px;}
.type5 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #e9aec4;}
.type5 .main-right h2{ border:1px solid #e9aec4; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#af1657;}
.type5 .xprm{ border:1px solid #e9aec4;}
.type5 .main-left .left-box{border:1px solid #e9aec4; border-top:0;}
.type5 .w185 .lm{background:#e9aec4;}
.type5 .class-box h3 span, .type5 .class-box h3 p, .type5 .class-box h3 p a, .type5 .class-box .b-r ul li a{ color:#af1657;}
.type5 .w185 .lm li.c0,.type5 .w185 .lm li.c1, .type5 .w185 .lm li.c2, .type5 .w185 .lm li.c3, .type5 .w185 .lm li.c4, 
.type5 .w185 .lm li.c5,.type5 .w185 .lm li.c6,.type5 .w185 .lm li.c7, .type5 .w185 .lm li.c8,.type5 .w185 .lm li.c9,
.type5 .w185 .lm li.c10,.type5 .w185 .lm li.c11,.type5 .w185 .lm li.c12,.type5 .w185 .lm li.c13,.type5 .w185 .lm li.c14,
.type5 .w185 .lm li.c15{background:url(../images/category/t5.png) 0 -27px no-repeat;}
.type5 .w185 .lm li.c0{background:url(../images/category/t5.png) 0 0 no-repeat;}
.type5 .w189 h3{background:url(../images/category/t5.png) right 0 no-repeat; }
.type5 .main-left h3{background:url(../images/category/t5.png) -300px 0px no-repeat; }
.type5 .main-left h3 span{ background:url(../images/category/t5.png) 0 -82px no-repeat;}
.type5 .main-left h3 a.c{background:url(../images/category/t5.png) 0 -82px no-repeat;}
.type5 .class-box{background:url(../images/category/t5.png) 0 -139px no-repeat; }
.type5 .category{background: url(../images/category/class_5.gif) 0 0 no-repeat; }
.type5 .category .bg{ background: url(../images/category/class_5.gif) 0 bottom no-repeat;}

/* t6母婴用品 */
.type6 .left-box .rqw li a span.num1{background-position:-1174px 0px;}
.type6 .left-box .rqw li a span.num2{background-position:-1174px -97px;}
.type6 .left-box .rqw li a span.num3{background-position:-1174px -194px;}
.type6 .left-box .rqw li a span.num4{background-position:-1174px -281px;}
.type6 .left-box .rqw li a span.num5{background-position:-1174px -364px;}
.type6 .left-box .rqw li a span.num6{background-position:-1174px -441px;}
.type6 .left-box .rqw li a span.num7{background-position:-1174px -522px;}
.type6 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #fab2c6;}
.type6 .main-right h2{ border:1px solid #fab2c6; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#e84572;}
.type6 .xprm{ border:1px solid #fab2c6;}
.type6 .main-left .left-box{border:1px solid #fab2c6; border-top:0;}
.type6 .w185 .lm{background:#fab2c6;}
.type6 .class-box h3 span, .type6 .class-box h3 p, .type6 .class-box h3 p a, .type6 .class-box .b-r ul li a{ color:#e84572;}
.type6 .w185 .lm li.c0,.type6 .w185 .lm li.c1, .type6 .w185 .lm li.c2, .type6 .w185 .lm li.c3, .type6 .w185 .lm li.c4, 
.type6 .w185 .lm li.c5,.type6 .w185 .lm li.c6,.type6 .w185 .lm li.c7, .type6 .w185 .lm li.c8,.type6 .w185 .lm li.c9,
.type6 .w185 .lm li.c10,.type6 .w185 .lm li.c11,.type6 .w185 .lm li.c12,.type6 .w185 .lm li.c13,.type6 .w185 .lm li.c14,
.type6 .w185 .lm li.c15{background:url(../images/category/t6.png) 0 -27px no-repeat;}
.type6 .w185 .lm li.c0{background:url(../images/category/t6.png) 0 0 no-repeat;}
.type6 .w189 h3{background:url(../images/category/t6.png) right 0 no-repeat; }
.type6 .main-left h3{background:url(../images/category/t6.png) -300px 0px no-repeat; }
.type6 .main-left h3 span{ background:url(../images/category/t6.png) 0 -82px no-repeat;}
.type6 .main-left h3 a.c{background:url(../images/category/t6.png) 0 -82px no-repeat;}
.type6 .class-box{background:url(../images/category/t6.png) 0 -139px no-repeat; }
.type6 .category{background: url(../images/category/class_6.gif) 0 0 no-repeat; }
.type6 .category .bg{ background: url(../images/category/class_6.gif) 0 bottom no-repeat;}

/* t7户外运动 */
.type7 .left-box .rqw li a span.num1{background-position:-1368px 0px;}
.type7 .left-box .rqw li a span.num2{background-position:-1368px -97px;}
.type7 .left-box .rqw li a span.num3{background-position:-1368px -194px;}
.type7 .left-box .rqw li a span.num4{background-position:-1368px -281px;}
.type7 .left-box .rqw li a span.num5{background-position:-1368px -364px;}
.type7 .left-box .rqw li a span.num6{background-position:-1368px -441px;}
.type7 .left-box .rqw li a span.num7{background-position:-1368px -522px;}
.type7 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #f6cc90;}
.type7 .main-right h2{ border:1px solid #f6cc90; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#eb4805;}
.type7 .xprm{ border:1px solid #f6cc90;}
.type7 .main-left .left-box{border:1px solid #f6cc90; border-top:0;}
.type7 .w185 .lm{background:#f6cc90;}
.type7 .class-box h3 span, .type7 .class-box h3 p, .type7 .class-box h3 p a, .type7 .class-box .b-r ul li a{ color:#eb4805;}
.type7 .w185 .lm li.c0,.type7 .w185 .lm li.c1, .type7 .w185 .lm li.c2, .type7 .w185 .lm li.c3, .type7 .w185 .lm li.c4, 
.type7 .w185 .lm li.c5,.type7 .w185 .lm li.c6,.type7 .w185 .lm li.c7, .type7 .w185 .lm li.c8,.type7 .w185 .lm li.c9,
.type7 .w185 .lm li.c10,.type7 .w185 .lm li.c11,.type7 .w185 .lm li.c12,.type7 .w185 .lm li.c13,.type7 .w185 .lm li.c14,
.type7 .w185 .lm li.c15{background:url(../images/category/t7.png) 0 -27px no-repeat;}
.type7 .w185 .lm li.c0{background:url(../images/category/t7.png) 0 0 no-repeat;}
.type7 .w189 h3{background:url(../images/category/t7.png) right 0 no-repeat; }
.type7 .main-left h3{background:url(../images/category/t7.png) -300px 0px no-repeat; }
.type7 .main-left h3 span{ background:url(../images/category/t7.png) 0 -82px no-repeat;}
.type7 .main-left h3 a.c{background:url(../images/category/t7.png) 0 -82px no-repeat;}
.type7 .class-box{background:url(../images/category/t7.png) 0 -139px no-repeat; }
.type7 .category{background: url(../images/category/class_7.gif) 0 0 no-repeat; }
.type7 .category .bg{ background: url(../images/category/class_7.gif) 0 bottom no-repeat;}

/* t8虚拟充值 */
.type8 .left-box .rqw li a span.num1{background-position:-1562px 0px;}
.type8 .left-box .rqw li a span.num2{background-position:-1562px -97px;}
.type8 .left-box .rqw li a span.num3{background-position:-1562px -194px;}
.type8 .left-box .rqw li a span.num4{background-position:-1562px -281px;}
.type8 .left-box .rqw li a span.num5{background-position:-1562px -364px;}
.type8 .left-box .rqw li a span.num6{background-position:-1562px -441px;}
.type8 .left-box .rqw li a span.num7{background-position:-1562px -522px;}
.type8 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #dbc3a1;}
.type8 .main-right h2{ border:1px solid #dbc3a1; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#885a1e;}
.type8 .xprm{ border:1px solid #dbc3a1;}
.type8 .main-left .left-box{border:1px solid #dbc3a1; border-top:0;}
.type8 .w185 .lm{background:#dbc3a1;}
.type8 .class-box h3 span, .type8 .class-box h3 p, .type8 .class-box h3 p a, .type8 .class-box .b-r ul li a{ color:#885a1e;}
.type8 .w185 .lm li.c0,.type8 .w185 .lm li.c1, .type8 .w185 .lm li.c2, .type8 .w185 .lm li.c3, .type8 .w185 .lm li.c4, 
.type8 .w185 .lm li.c5,.type8 .w185 .lm li.c6,.type8 .w185 .lm li.c7, .type8 .w185 .lm li.c8,.type8 .w185 .lm li.c9,
.type8 .w185 .lm li.c10,.type8 .w185 .lm li.c11,.type8 .w185 .lm li.c12,.type8 .w185 .lm li.c13,.type8 .w185 .lm li.c14,
.type8 .w185 .lm li.c15{background:url(../images/category/t8.png) 0 -27px no-repeat;}
.type8 .w185 .lm li.c0{background:url(../images/category/t8.png) 0 0 no-repeat;}
.type8 .w189 h3{background:url(../images/category/t8.png) right 0 no-repeat; }
.type8 .main-left h3{background:url(../images/category/t8.png) -300px 0px no-repeat; }
.type8 .main-left h3 span{ background:url(../images/category/t8.png) 0 -82px no-repeat;}
.type8 .main-left h3 a.c{background:url(../images/category/t8.png) 0 -82px no-repeat;}
.type8 .class-box{background:url(../images/category/t8.png) 0 -139px no-repeat; }
.type8 .category{background: url(../images/category/class_8.gif) 0 0 no-repeat; }
.type8 .category .bg{ background: url(../images/category/class_8.gif) 0 bottom no-repeat;}

/* t9保健食品 */
.type9 .left-box .rqw li a span.num1{background-position:-1750px 0px;}
.type9 .left-box .rqw li a span.num2{background-position:-1750px -97px;}
.type9 .left-box .rqw li a span.num3{background-position:-1750px -194px;}
.type9 .left-box .rqw li a span.num4{background-position:-1750px -281px;}
.type9 .left-box .rqw li a span.num5{background-position:-1750px -364px;}
.type9 .left-box .rqw li a span.num6{background-position:-1750px -441px;}
.type9 .left-box .rqw li a span.num7{background-position:-1750px -522px;}
.type9 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #cce299;}
.type9 .main-right h2{ border:1px solid #cce299; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#698203;}
.type9 .xprm{ border:1px solid #cce299;}
.type9 .main-left .left-box{border:1px solid #cce299; border-top:0;}
.type9 .w185 .lm{background:#cce299;}
.type9 .class-box h3 span, .type9 .class-box h3 p, .type9 .class-box h3 p a, .type9 .class-box .b-r ul li a{ color:#698203;}
.type9 .w185 .lm li.c0,.type9 .w185 .lm li.c1, .type9 .w185 .lm li.c2, .type9 .w185 .lm li.c3, .type9 .w185 .lm li.c4, 
.type9 .w185 .lm li.c5,.type9 .w185 .lm li.c6,.type9 .w185 .lm li.c7, .type9 .w185 .lm li.c8,.type9 .w185 .lm li.c9,
.type9 .w185 .lm li.c10,.type9 .w185 .lm li.c11,.type9 .w185 .lm li.c12,.type9 .w185 .lm li.c13,.type9 .w185 .lm li.c14,
.type9 .w185 .lm li.c15{background:url(../images/category/t9.png) 0 -27px no-repeat;}
.type9 .w185 .lm li.c0{background:url(../images/category/t9.png) 0 0 no-repeat;}
.type9 .w189 h3{background:url(../images/category/t9.png) right 0 no-repeat; }
.type9 .main-left h3{background:url(../images/category/t9.png) -300px 0px no-repeat; }
.type9 .main-left h3 span{ background:url(../images/category/t9.png) 0 -82px no-repeat;}
.type9 .main-left h3 a.c{background:url(../images/category/t9.png) 0 -82px no-repeat;}
.type9 .class-box{background:url(../images/category/t9.png) 0 -139px no-repeat; }
.type9 .category{background: url(../images/category/class_9.gif) 0 0 no-repeat; }
.type9 .category .bg{ background: url(../images/category/class_9.gif) 0 bottom no-repeat;}

/* t10珠宝饰品 */
.type10 .left-box .rqw li a span.num1{background-position:-975px 0px;}
.type10 .left-box .rqw li a span.num2{background-position:-975px -97px;}
.type10 .left-box .rqw li a span.num3{background-position:-975px -194px;}
.type10 .left-box .rqw li a span.num4{background-position:-975px -281px;}
.type10 .left-box .rqw li a span.num5{background-position:-975px -364px;}
.type10 .left-box .rqw li a span.num6{background-position:-975px -441px;}
.type10 .left-box .rqw li a span.num7{background-position:-975px -522px;}
.type10 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #caa9e0;}
.type10 .main-right h2{ border:1px solid #caa9e0; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#723a9f;}
.type10 .xprm{ border:1px solid #caa9e0;}
.type10 .main-left .left-box{border:1px solid #caa9e0; border-top:0;}
.type10 .w185 .lm{background:#caa9e0;}
.type10 .class-box h3 span, .type10 .class-box h3 p, .type10 .class-box h3 p a, .type10 .class-box .b-r ul li a{ color:#723a9f;}
.type10 .w185 .lm li.c0,.type10 .w185 .lm li.c1, .type10 .w185 .lm li.c2, .type10 .w185 .lm li.c3, .type10 .w185 .lm li.c4, 
.type10 .w185 .lm li.c5,.type10 .w185 .lm li.c6,.type10 .w185 .lm li.c7, .type10 .w185 .lm li.c8,.type10 .w185 .lm li.c9,
.type10 .w185 .lm li.c10,.type10 .w185 .lm li.c11,.type10 .w185 .lm li.c12,.type10 .w185 .lm li.c13,.type10 .w185 .lm li.c14,
.type10 .w185 .lm li.c15{background:url(../images/category/t10.png) 0 -27px no-repeat;}
.type10 .w185 .lm li.c0{background:url(../images/category/t10.png) 0 0 no-repeat;}
.type10 .w189 h3{background:url(../images/category/t10.png) right 0 no-repeat; }
.type10 .main-left h3{background:url(../images/category/t10.png) -300px 0px no-repeat; }
.type10 .main-left h3 span{ background:url(../images/category/t10.png) 0 -82px no-repeat;}
.type10 .main-left h3 a.c{background:url(../images/category/t10.png) 0 -82px no-repeat;}
.type10 .class-box{background:url(../images/category/t10.png) 0 -139px no-repeat; }
.type10 .category{background: url(../images/category/class_10.gif) 0 0 no-repeat; }
.type10 .category .bg{ background: url(../images/category/class_10.gif) 0 bottom no-repeat;}

/* t11农资产品 */
.type11 .left-box .rqw li a span.num1{background-position:-1750px 0px;}
.type11 .left-box .rqw li a span.num2{background-position:-1750px -97px;}
.type11 .left-box .rqw li a span.num3{background-position:-1750px -194px;}
.type11 .left-box .rqw li a span.num4{background-position:-1750px -281px;}
.type11 .left-box .rqw li a span.num5{background-position:-1750px -364px;}
.type11 .left-box .rqw li a span.num6{background-position:-1750px -441px;}
.type11 .left-box .rqw li a span.num7{background-position:-1750px -522px;}
.type11 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #b8c6a3;}
.type11 .main-right h2{ border:1px solid #b8c6a3; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#0c3e23;}
.type11 .xprm{ border:1px solid #b8c6a3;}
.type11 .main-left .left-box{border:1px solid #b8c6a3; border-top:0;}
.type11 .w185 .lm{background:#b8c6a3;}
.type11 .class-box h3 span, .type11 .class-box h3 p, .type11 .class-box h3 p a, .type11 .class-box .b-r ul li a{ color:#0c3e23;}
.type11 .w185 .lm li.c0,.type11 .w185 .lm li.c1, .type11 .w185 .lm li.c2, .type11 .w185 .lm li.c3, .type11 .w185 .lm li.c4, 
.type11 .w185 .lm li.c5,.type11 .w185 .lm li.c6,.type11 .w185 .lm li.c7, .type11 .w185 .lm li.c8,.type11 .w185 .lm li.c9,
.type11 .w185 .lm li.c10,.type11 .w185 .lm li.c11,.type11 .w185 .lm li.c12,.type11 .w185 .lm li.c13,.type11 .w185 .lm li.c14,
.type11 .w185 .lm li.c15{background:url(../images/category/t11.png) 0 -27px no-repeat;}
.type11 .w185 .lm li.c0{background:url(../images/category/t11.png) 0 0 no-repeat;}
.type11 .w189 h3{background:url(../images/category/t11.png) right 0 no-repeat; }
.type11 .main-left h3{background:url(../images/category/t11.png) -300px 0px no-repeat; }
.type11 .main-left h3 span{ background:url(../images/category/t11.png) 0 -82px no-repeat;}
.type11 .main-left h3 a.c{background:url(../images/category/t11.png) 0 -82px no-repeat;}
.type11 .class-box{background:url(../images/category/t11.png) 0 -139px no-repeat; }
.type11 .category{background: url(../images/category/class_11.gif) 0 0 no-repeat; }
.type11 .category .bg{ background: url(../images/category/class_11.gif) 0 bottom no-repeat;}

/* t12邮政商品 */
.type12 .left-box .rqw li a span.num1{background-position:-1750px 0px;}
.type12 .left-box .rqw li a span.num2{background-position:-1750px -97px;}
.type12 .left-box .rqw li a span.num3{background-position:-1750px -194px;}
.type12 .left-box .rqw li a span.num4{background-position:-1750px -281px;}
.type12 .left-box .rqw li a span.num5{background-position:-1750px -364px;}
.type12 .left-box .rqw li a span.num6{background-position:-1750px -441px;}
.type12 .left-box .rqw li a span.num7{background-position:-1750px -522px;}
.type12 #topstory {width:563px; height:237px;margin-top:5px; overflow:hidden;background: #fff; border:1px solid #b8c6a3;}
.type12 .main-right h2{ border:1px solid #b8c6a3; background:url(../images/index/right_png.png) 0 -1208px repeat-x;color:#093f25;}
.type12 .xprm{ border:1px solid #b8c6a3;}
.type12 .main-left .left-box{border:1px solid #b8c6a3; border-top:0;}
.type12 .w185 .lm{background:#b8c6a3;}
.type12 .class-box h3 span, .type12 .class-box h3 p, .type12 .class-box h3 p a, .type12 .class-box .b-r ul li a{ color:#093f25;}
.type12 .w185 .lm li.c0,.type12 .w185 .lm li.c1, .type12 .w185 .lm li.c2, .type12 .w185 .lm li.c3, .type12 .w185 .lm li.c4, 
.type12 .w185 .lm li.c5,.type12 .w185 .lm li.c6,.type12 .w185 .lm li.c7, .type12 .w185 .lm li.c8,.type12 .w185 .lm li.c9,
.type12 .w185 .lm li.c10,.type12 .w185 .lm li.c11,.type12 .w185 .lm li.c12,.type12 .w185 .lm li.c13,.type12 .w185 .lm li.c14,
.type12 .w185 .lm li.c15{background:url(../images/category/t12.png) 0 -27px no-repeat;}
.type12 .w185 .lm li.c0{background:url(../images/category/t12.png) 0 0 no-repeat;}
.type12 .w189 h3{background:url(../images/category/t12.png) right 0 no-repeat; }
.type12 .main-left h3{background:url(../images/category/t12.png) -300px 0px no-repeat; }
.type12 .main-left h3 span{ background:url(../images/category/t12.png) 0 -82px no-repeat;}
.type12 .main-left h3 a.c{background:url(../images/category/t12.png) 0 -82px no-repeat;}
.type12 .class-box{background:url(../images/category/t12.png) 0 -139px no-repeat; }
.type12 .category{background: url(../images/category/class_12.gif) 0 0 no-repeat; }
.type12 .category .bg{ background: url(../images/category/class_12.gif) 0 bottom no-repeat;}