@charset "utf-8";
/* CSS Reset */

/*\*/ * html ul {
	position: relative;
}/**/
html { /* for "Unnecessary Horizontal Scrollbar in IE Popups or Frames XHTML Bug" */
	overflow-y: scroll;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td, img, button{margin:0; padding:0; font-size:12px; font-family:\5fae\8f6f\96c5\9ed1,\5b8b\4f53;}
body{background:#FFF;}
table{border-collapse:collapse; border-spacing:0;}
fieldset, img{border:0;vertical-align:middle;}
address, caption, cite, code, dfn, em, strong, th, var,{ font-style:normal; font-weight:normal;}
ol, ul{ list-style:none;}
caption, th{ text-align:left;}
h1, h2, h3, h4, h5, h6{font-weight:bold;}
h1{font-size:28px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:16px;}
h5{font-size:14px;}
h6{font-size:12px;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
addr, acronym{ border:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
sup{vertical-align:baseline;} 
sub{vertical-align:baseline;}
legend{*margin-left:-6px;}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;} 
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0;}
select option {padding-right:3px;}
cite, blackquote, em, i {font-style: italic;}
strong, b {font-weight: bold;}
pre, code {font-family: monospace;}
acronym, abbr {cursor: help;}
a{cursor:pointer;text-decoration:none;color:#333;blr:expression(this.onFocus=this.blur())} 
a:hover{color:#f60;text-decoration:underline} 
a:focus{outline:1px dotted;}

.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}.clearfix{*zoom:1}

body.menu {
	font: 12px Arial，"Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;
	color: #000;
	width:expression(document.body.clientWidth < 950? "950px": "auto" );
	min-width:950px;}
a, #styleShift input{
	blr:expression(this.onFocus=this.close());
	blr:expression(this.onFocus=this.blur());
}
a:focus, input:focus{ -moz-outline-style: none; }
.c1{color:#0091D4}
.c2{color:#999}
.tal{text-align:left}
.tac{text-align:center}
.tar{text-align:right}


/* -----------------End--------------- */

/*button*/
.f-but {background: url("../images/user/bg-bt-o.gif") no-repeat scroll left top transparent;color: #FFFFFF;display: inline-block;height: 22px;line-height: 22px;margin-left: 10px;text-align: center;text-decoration: none;width: 73px;}
.but, .but2 {background: url("../images/user/bg_button.gif") no-repeat scroll left top transparent;border: 0 none;cursor: pointer;height: 20px;line-height: 20px;margin: 0 3px;width: 83px;}
.but2 {background: url("../images/user/bg_button2.gif") no-repeat scroll left top transparent;color: #4E2825;}

/*form元素*/
.inpt,textarea,select{ border:1px solid; border-color:#A6A6A6 #A6A6A6 #D7D7D7 #D7D7D7;padding:3px;vertical-align:middle}
.select{ padding:1px; border:1px solid #dcdcdc;background:url(../images/user/inp_bg.png) 0 0 repeat-x;}
input, select{ vertical-align:middle;}select{padding:2px 3px}
textarea{}

/*自定义*/
.ad{ border:1px solid #ddd;}
.index_bg{background:url(../images/index.png) 0 -310px repeat-x;}
.main{ width:980px; margin:0 auto;}
.head{ background:url(../images/hotline.jpg) 98% 48% no-repeat;position:relative; height:150px;}
.top{ line-height:30px; height:30px;}
.logo{ background:url(../images/logo.png) no-repeat; height:50px; margin-top:15px; width:330px; display:block;}

.search{position:absolute; left:365px; top:50px; z-index:11}
.search ul li{ float:left;list-style:none}
.search .input_t{ width:250px; height:28px; line-height:28px; color:#959595; padding:0 5px; border:solid 2px #0091D4; border-right:none 0;}
.search .font_c{ color:#000;}
.search .selectbox{width:92px; background:url(../images/img06.gif) 0 0 no-repeat; height:30px; line-height:30px; border:none; display:block; padding-left:4px; cursor:pointer;}
.search .selectbox-wrapper{width:94px; border:solid 1px #8a8a8a; border-top:none; position:absolute; background-color:#fff; text-align:left; margin-top:-1px;}
.search .selectbox-wrapper ul li.selected {}
.search .selectbox-wrapper ul li.current { color:#000; background-color:#CCC;}
.search .selectbox-wrapper ul li{ cursor:pointer; line-height:20px; padding:3px; float:none;}
.search .input_b{ width:55px; height:24px; line-height:24px; background:url(../images/img03.gif) 0 0 no-repeat; border:none 0; color:#FFF; cursor:pointer;}

.result{background:#fff;border:2px solid #0091D4;border-top:0;width:260px;padding:3px 0 0;margin-top:-3px;position:absolute}
.result em{float:right;color:#999}
.result a{display:block;height:24px;line-height:24px;padding:0 10px 0 5px}.result a:hover{background-color:#f5f5f5;text-decoration:none}

.header{background:url(../images/header.png) 100% 30px no-repeat;height:153px}
.header .logo{background:url(../images/logo_direct.png)}
.header .search{left:550px}
.navigation{padding:20px 0 0 50px}
.navigation li{float:left;padding:0 5px;font-size:16px;font-weight:600}
.navigation li a{display:block;height:38px;line-height:38px;padding:0 25px}.navigation li a:hover{text-decoration:none}
.navigation li ul{background:url(../images/navigation_child.png);position:absolute;border:1px solid #0091D4;padding:0 0 10px;display:none}
.navigation li li{float:none;padding:0;height:28px;line-height:28px;font-size:14px;font-weight:normal}
.navigation li.on a{background-color:#0091D4;color:#fff}
.navigation li.on li a{background:none;color:#333}.navigation li.on li a:hover{color:#f60}

.btn-search{background-color:#0091D4;width:75px;height:32px;font-size:14px;border:0;color:#fff;cursor:pointer;vertical-align:middle}

.main_nav{ background: url(../images/index_1.png) 0 bottom no-repeat; height:74px; position:absolute; left:0; bottom:0; width:980px; z-index:10;}
.main_nav ul{ padding-left:15px; height:32px; line-height:32px; zoom:1;}
.main_nav ul li{ width:66px; height:30px; line-height:30px; text-align:center; float:left; background:url(../images/index.png) right -30px no-repeat;}
.main_nav ul li.nobg{ background:none;}
.main_nav ul li a{ color:#000; }
.main_nav ul li.hover{ background:url(../images/index.png) 0 -30px no-repeat; font-weight:600; color:#fff; margin-top:2px;}
.main_nav ul li.hover a{color:#fff;}
.main_nav ol{ height:39px; line-height:39px;}
.main_nav ol li.fenlei{ background:url(../images/fenlei_bg.png) 0 5px no-repeat; width:238px; text-align:center; height:39px; font-size:14px; color:#fff; font-weight:600; padding-top:3px; letter-spacing:1px;}
.main_nav ol li.shopcar{ margin-right:5px; color:#ff7700}
.main_nav ol li.shopcar a{ color:#000; font-weight:600;}
.main_nav ol li.shopcar button{ margin-top:8px;}

.foot{background-color:#F5F5F5;border-top:1px solid #ddd; }
.foot p{ line-height:30px;text-align:center;}
.help{ width:980px; margin:0 auto; padding-left:60px; overflow:hidden; color:#555;}
.help dl{ float:left; width:150px; margin-right:10px;}
.help dl dt{ font-weight:700;height:35px; line-height:35px;}
.help dl dd{ height:20px; line-height:20px;}
.link{width:980px; margin:0 auto 10px;}
.link h6{padding:5px 0;color:#555;}
.link ul{ padding:10px 0 0 0; border:1px solid #ddd; border-width:1px 0; margin-top:5px; _height:100%; overflow:hidden;}
.link ul li{ margin:0 20px 10px 0; float:left;}

/*空间头*/
.space_bg{background:url(../images/user/space_top.png) repeat-x;}
.space_head{ height:127px; border-bottom:2px solid #ff943f; position:relative; margin-bottom:10px;}
.space_nav{ height:32px; position:absolute; left:0; bottom:0; width:980px; z-index:10;}
.space_nav ul{ padding-left:15px; height:32px; line-height:32px; zoom:1;}
.space_nav ul li{ width:66px; height:30px; line-height:30px; text-align:center; float:right; margin-right:10px; background:url(../../images/index.png) right -30px no-repeat;}
.space_nav ul li.nobg{ background:none;}
.space_nav ul li a{ color:#000; }
.space_nav ul li.hover{ background:url(../images/index.png) 0 -30px no-repeat; font-weight:600; color:#fff; margin-top:2px;}
.space_nav ul li.hover a{color:#fff;}

/* 分页 */
.pages-box{ height:26px; overflow:hidden;background: url(../images/admin/bg2.gif) 0 0 repeat-x; }
/*
.pages {margin:3px 10px 10px 5px; vertical-align:middle; text-align:right; color:#333;}
.pages a {text-align:center;text-decoration:none; color:#4674a6; border:#ccc 1px solid;padding:0px 5px;margin-left:1px;}
.pages b{ color:#1a3a60;}
.pages a:hover {text-decoration:none;background-color:#E7FAFE;border:#7DC0F7 1px solid;color:#FF9900;}
.pages input {color:#87a32e;border:#76bac2 solid 1px;padding:1px;margin-top:1px;height:13px;}
.pages input:hover {border:#FF9900 solid 1px;}*/

.showList table,.showPic table{width:100%}
.showList th,.showList td{text-align:center;border:1px solid #eee;padding:5px}
.showList th{background:#F6f6f6;padding:8px 5px}
.showList .go{color:#0091D4}
.showList .odd td{background-color:#fafafa}
.showPic table{border-bottom:1px solid #eee}
.showPic h2{padding:5px 0 0;font-size:14px}
.showPic td{padding:5px}
.showPic li{float:left;width:200px;height:22px;line-height:22px;overflow:hidden;color:#878787}
.showPic label{display:inline-block;width:100px;text-align:right;color:#878787}
.showPic em{color:#f00}


.pages{padding:10px;text-align:right}
.pages a,.pages span,.pages .txt{display:inline-block;padding:3px 6px;border:1px solid #C1C1C1;background-color:#F9F9F9;margin:auto 2px}.pages .txt{padding:3px 2px;width:30px;text-align:center}
.pages a:hover{border-color:#908F8F;background-color:#F4F4F4;text-decoration:none;color:#333}
.pages a.current{background-color:#E7F2FC;border-color:#CAD5E0;font-weight:700}
.pages span{background:none;border:0;padding:4px 7px}



/*color*/
.bg_co1{ background-color:#fff7fc;}
.bg_co_w{ background-color:#FFF;}
.co_b{ color:#000;}
.co_w{ color:#fff;}
.co_r{ color:red;}
.co1{ color:#999;}
.co2{ color:#005BAA}

/*background*/
.tt_bg{padding:5px 0;}

/*btn*/
.button-1, .button-2, .button-3, .button-4, .button-5, .button-6, .button-7, .button-8, .button-9{ background-image:url(../images/btn.png); background-repeat:no-repeat; text-align:center; display:inline-block; border:0; cursor:pointer;}
.button-1{ background-position: 0 0px; height:30px; width:96px; display:inline-block; *margin-top:1px; _margin-top:0;}
.button-2{ background-position: 0 -30px; height:23px; line-height:23px; width:59px; display:inline-block; color:#FFF; font-weight:600;}
.button-2:hover{ color:#fff;}
.button-3{ background-position: 0 -53px; height:28px; line-height:28px;width:104px; display:inline-block;}
.button-4{ background-position: 0 -81px; height:28px; line-height:28px;width:104px; display:inline-block;}
.button-5{ background-position: 0 -109px; height:29px; line-height:29px;width:110px; display:inline-block; font-size:16px; color:#FFF;font-weight:600 }
.button-5:hover{ color:#fff;}
.button-6{ background-position: 0 -138px; height:23px; line-height:23px; width:59px; display:inline-block; color:#FFF; font-weight:600;}
.button-6:hover{ color:#fff;}
.button-7{ background-position: 0 -161px; height:29px; line-height:29px; width:64px; display:inline-block; font-size:16px; color:#FFF;font-weight:600}
.button-7:hover{ color:#fff;}

/* Font 文字排版 */
.f10{font-size:10px;}
.f12{font-size:12px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f22{font-size:22px;}
.f28{font-size:28px;}
.fb{ font-weight:bold;}
.fn{ font-weight:normal;}
.lh150{ line-height:150%;}
.lh180{ line-height:180%;}
.lh200{ line-height:200%;}
.unl{ text-decoration:underline;}
.no-unl{ text-decoration:none;}

/* 定位 */
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto; margin-right:auto;}
.fl{ float:left;display:inline}
.fr{ float:right;display:inline}
.clear{clear:both;}
.clear-l{clear:left;}
.clear-r{clear:right;}
.clearfix:after{content:'.';display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block}
* html .clearfix{height:1%;}. Clearfix{ display:block;}
.vm{vertical-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.pn{position:static;}
.abs-right{}
.zoom{zoom:1;}
.hidden{visibility:hidden;}
.none{display:none;}
.block{display:block;}
.in_block{display:inline-block;}
.v_top{ vertical-align:top;}
.v_mid{ vertical-align:middle;}
.text_ind20{ text-indent:20px;}
.ov_hid{ overflow:hidden}
.one_lin{ height:20px; line-height:20px; overflow:hidden; display:inline-block;}
.two_lin{ height:40px; line-height:40px; overflow:hidden; display:inline-block;}


/* Width & Height */
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w65{width:65px;}
.w70{width:70px;}
.w80{width:80px;}
.w85{width:85px;}
.w90{width:90px;}
.w95{width:95px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w150{width:150px;}
.w190{width:190px;}
.w200{width:200px;}
.w250{width:250px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w950{width:950px;}
.w960{width:980px;}
.w980{width:980px;}
.w1000{width:1000px;}
.w{width:100%;}
.h{height:100%;}
.h18{height:18px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.h70{height:70px;}
.h80{height:80px;}
.h100{height:100px;}
.h200{height:200px;}

/* 边距 */
.m10{margin:10px}
.m15{margin:15px}
.m30{margin:30px}
.mt-1{margin-top:-1px}
.mt-5{margin-top:-5px}
.mt5{margin-top:5px}
.mt10{margin-top:10px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mt50{margin-top:50px}
.mt100{margin-top:100px}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb100{margin-bottom:100px;}
.ml-1{ margin-left:-1px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.ml100{margin-left:100px;}
.mr5{margin-right:5px;}
.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr100{margin-right:100px;}

.p5{ padding:5px;}
.p10{padding:10px}
.p15{padding:15px}
.p30{padding:30px}
.pt5{padding-top:5px}
.pt10{padding-top:10px}
.pt15{padding-top:15px}
.pt20{padding-top:20px}
.pt30{padding-top:30px}
.pt50{padding-top:50px}
.pt100{padding-top:100px}
.pb5{padding-bottom:5px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr100{padding-right:100px;}




div.nav{background:#0091D4;height:40px;width:980px;margin:20px auto auto;position:relative;z-index:5}
div.nav a:hover{text-decoration:none}
.category{width:210px;position:absolute;top:2px;z-index:5}
.category .hd,.fast-nav a,.fast-nav span{background:url(../images/nav.png) no-repeat}
.category .hd{background-position:0 -180px;height:38px;overflow:hidden;line-height:41px;text-indent:25px;font-size:16px;font-weight:700;color:#005BA9;color:#fff}
.category .bd{background-color:#EAF8FF;padding:7px 5px;border:solid 2px #0091D3;border-top:0;height:240px;}
.category li{height:34px;padding:0 5px;color:#333}
.category p{width:141px;height:30px;line-height:30px;padding-left:5px;border:2px solid #EAF8FF;font-size:14px;font-weight:700;cursor:pointer}
.category .on{position:absolute;z-index:11;border-color:#f60;background:#fff;border-right-color:#fff}
.category img{vertical-align:middle;margin-right:10px}
.sub-category{background-color:#fff;border:2px solid #f60;width:150px;padding:5px;position:absolute;left:160px;margin-top:-10px;display:none}
.sub-category li{background:none;border:0;padding:3px 5px;height:auto}
.fast-nav{position:absolute;left:220px;top:3px}
.fast-nav li{float:left;padding:0 10px 0 0;font-size:14px;font-weight:700}
.fast-nav a,.fast-nav span{height:37px;line-height:37px;display:inline-block}
.fast-nav a{background-position:0 -400px;padding-left:5px;color:#fff}
	.fast-nav a:hover{background-position:0 -45px}
.fast-nav span{background-position:100% -400px;padding:0 15px 0 10px}
	.fast-nav a:hover span{background-position:100% -85px}
.fast-nav a.current{background-position:-10px -45px;color:#005BA9}
.fast-nav a.current span{background-position:100% -130px}

.btnAttention,.btnBuy{background:url(../images/btns.png) no-repeat;}
.btnAttention,.btnBuy{width:59px;height:24px;line-height:24px;display:inline-block;font-weight:700;margin:3px 5px;color:#fff;text-align:center}
.btnBuy:hover{background-position:-65px 0;text-decoration:none;color:#fff}
.btnAttention{background-position:0 -30px;color:#0091D3}
.btnAttention:hover{background-position:-65px -30px;text-decoration:none;color:#0091D3}

.hide{display:none}
.rank{width:215px;border:1px solid #DDD;border-top:0}
.rank-tab{background-color:#f5f5f5;border-bottom:1px solid #ddd}
.rank_con em{display:inline-block;width:24px;height:20px;text-align:center;vertical-align:middle}
.rank_con{padding:10px 0}
.rank_con table td{padding:10px 0}
.one,.two,.three{background-color:#DB352F;color:#fff}.two{background-color:#A48629}.three{background-color:#0091D4}


.confirm dl{padding:20px 20px 20px 160px;border:1px solid;margin:10px auto}
	dl.err{background:url(../images/ic_err.gif) 60px 20px no-repeat;border-color:#FFD8B1;background-color:#FFF4E8}
	dl.success{background:url(../images/ic_ok.gif) 60px 20px no-repeat;border-color:#CBD7E3;background-color:#E5F5FF}
.confirm dt{font-size:20px;font-weight:700}
	dl.err dt{color:#f00}
.confirm dd{padding:5px 0}

/*风险评估*/
.estimate p{ line-height:20px;}
.estimate ol{background-color:#f9f9f9;border:1px dashed #eee; overflow:hidden;  padding:10px 20px}
.estimate ol li{padding:3px 0;}
.estimate dl{ border:1px solid #eee;overflow:hidden; margin:10px auto;padding:10px 20px 5px}.estimate dl.on{background-color:#F5F5F5;border:1px dashed #ddd}
.estimate dt{font-weight:700;font-size:14px}
.estimate dd{padding:5px}
.estimate li{padding:2px 5px}
.estimate .on{background-color:#E3F6E6}

.balance{color:#f60;font-size:18px;font-weight:700}

.btnS1,.btnS2,.btnS3{background:url(../images/user/btn.png) repeat-x;border:1px solid;display:inline-block;overflow:visible;border-radius:3px;padding:0 15px;cursor:pointer;vertical-align:middle}
.btnS1,.btnS2,.btnS3{line-height:29px;height:29px;border-color:#E06F00}
.btnS1{color:#fff}.btnS1:hover{background-position:0 -35px;text-decoration:none}
.btnS2,.btnS3{background-position:0 -200px;border-color:#999}.btnS3{height:24px;line-height:24px}	.btnS2:hover,.btnS3:hover{background-position:0 -235px;text-decoration:none}


.sidebar{float:left;width:210px;margin-top:10px}
.sidebar .hd,.content .hd,.article-list .hd{background:#F5F5F5 url(../images/x_hd.png) repeat-x;height:26px;line-height:26px;padding:0 10px;border-bottom:1px solid #ddd;font-size:12px;font-weight:700}
.intro{border:1px solid #ddd;margin-bottom:10px}
.bd{padding:10px;line-height:20px}

.content{float:right;width:760px;border:1px solid #ddd;margin-top:10px}
.frm{margin:10px 25px 25px}
.frm td{padding:5px}
.frm td.item-title{text-align:right}

.prompt{color:#999}
.error{background: url(../images/ic_error.gif) 4px 3px no-repeat;color:#F00;padding-left:20px}
.success{background: url(../images/ic_success.gif) 4px 3px no-repeat;color:#F00;padding-left:20px}

.payment-item{padding:10px;margin:10px auto;border-bottom:1px solid #ddd;display:block}
.payment-item dt{float:left;width:72px;padding:0 50px 0 20px;text-align:center;font-size:14px;;border-right:1px solid #ddd}
.payment-item dd{padding-left:180px}
.payment-item h3{font-size:14px;color:#f60}
.payment-item a{display:inline-block;margin:3px 5px auto;white-space:nowrap}

.article-list{float:left;width:318px;margin:10px 10px auto auto;border:1px solid #ddd}.article-list-last{margin-right:auto}
.article-list .hd{font-size:14px;color:#f60;padding:0 15px}
.article-list .bd{padding:15px}
.article-list li{height:24px;line-height:24px;overflow:hidden}

.footer{width:980px;margin:10px auto}
.footer-services{border-top:1px solid #ddd;text-align:center;width:700px}
.footer-services dl{float:left;width:95px;padding:10px}
.footer-services dt{font-weight:700;padding-bottom:5px}
.copyright{padding:10px 0;text-align:center;width:100%}.copyright a{margin:auto 5px}


/* 图片滚动 */
#demo {
	overflow:hidden;
	width: 980px;
}
#demo img {
	border: 1px solid #D0D0D0;margin-left:5px;
}
#indemo {
float: left;
width: 2000%;
}
#demo1 {
float: left;
}
#demo2 {
float: left;
}