@charset "utf-8";
/* CSS Document */


h3.icon-sh{background: url(../images/glossy_ecommerce_012.jpg) top left no-repeat; text-indent:40px;line-height:35px;padding:0;}
h3.icon-dd{background: url(../images/shopping_cart_accept.jpg) no-repeat; text-indent:40px;line-height:35px; padding:0; }
.search-info{ margin-top:10px; line-height:20px;}
.search-gl{ float:left;}
.search-gl li{ float:left; margin-right:20px; height:30px; line-height:30px; }
.search-gl li a{}


/* main */
.main{ margin:10px 0 0 0; width:950px;overflow:hidden; background:#fff;}
.layout-190{ width:190px; overflow:hidden;}
.layout-210{ width:210px; overflow:hidden; margin-right:10px;}
.layout-530{ width:530px; overflow:hidden;}
.layout-730{ width:730px; overflow:hidden;}
.layout-750{ width:745px; margin-left:10px !important; margin-left:5px; overflow:hidden;}

.float-l{ float:left; display:block;}
.float-r{ float:right;}

.pay-ul .float-l{ clear:both; margin-left:35px; display:block;}
.m-b-5{ margin-bottom:5px; display:block; height:59px;}
.height-71{ height:71px; overflow:hidden}

.main h2{ width:950px; height:32px; line-height:32px; margin:10px 0; padding:0; background:url(../images/h2_bg.gif) top left no-repeat;}
.main h2 span{ font-size:16px; font-weight:600; color:#FFF; margin-left:65px;}

/* 当前位置 */
.nav-crumbs{ line-height:14px; margin-bottom:5px; margin-left:5px; height:14px; border-bottom:1px dotted #eee; }
.nav-crumbs a{ margin:0px 5px;}

.box-190 dl{padding:0; margin-left:8px; margin-right:8px;}
.box-190 dl dt{ line-height:24px; margin-top:5px; height:24px; overflow:hidden; background:#FFE3AA url(../images/links_q.gif) left 1px no-repeat;}
.box-190 dl dt a{ margin-left:24px; font-weight:600; color:#93241d;}
.box-190 dl dd{ padding:3px; line-height:22px; margin-bottom:5px;}

/* 浏览过的商品 190 */
.class-190{ width:188px; margin-bottom:10px; overflow:hidden;  margin-right:10px; border:1px solid #FFE0A2; position:relative;background:#FFFDF4;}
.class-190 h3{ font-size:14px; height:30px;line-height:30px; background:#FFE0A2; color:#94130d;margin:0px; padding:0;}
.class-190 h3 span{ margin-left:18px;}
.class-190 ul li{ float:left; width:50px; margin-left:10px; margin-top:5px;border:1px solid #f5f5f5;}
.class-190 ul li a{ float:left;width:50px; }
.class-190 ul li a img{ height:50px; width:50px; float:left; margin-right:5px;}
.class-190 ul li a em{ color:#c20201; font-style:normal;}

/* 猜你喜欢 */
.cai{ width:188px; margin-bottom:10px; overflow:hidden;  margin-right:10px; border:1px solid #FFE0A2; position:relative;background:#FFFDF4;}
.cai h3{ font-size:14px; height:30px;line-height:30px; background:#FFE0A2; color:#94130d;margin:0px; padding:0;}
.cai h3 span{ margin-left:18px;}
.cai ul li{ float:left; width:80px; height:120px; overflow:hidden; margin-left:10px !important; margin-left:5px; margin-top:5px; text-align:center; }
.cai ul li a{width:80px;}
.cai ul li a img{ height:80px; width:80px; float:left;  border:1px solid #f5f5f5;}
.cai ul li a span{ color:#555; line-height:14px; height:28px; overflow:hidden; float:left; cursor:pointer;padding-top:5px;}

/* 热卖排行 box 190px */
.box-190{ width:190px; margin-bottom:10px;background: url(../images/box190_bg_c.gif) repeat-y; position:relative;}
.box-190 h3{ font-size:14px; height:42px; line-height:42px;background: url(../images/h3_bg3.gif) no-repeat; color:#94130d;
	margin:0px; padding:0;}
.box-190 h3 span{ margin-left:58px;}
.box-190 .box-190-b{ height:7px; width:190px; background: url(../images/box190_bg_b.gif) no-repeat;
	position:absolute; bottom:0px !important;bottom:-8px;}
.box-190 ul li{ float:left; width:170px; margin-left:10px; margin-top:5px; border-bottom:1px dotted #ccc;}
.box-190 ul li a{ float:left;width:170px; }
.box-190 ul li a img{ height:45px; width:45px; float:left; margin-right:5px;}
.box-190 ul li a span{ line-height:20px; height:20px; width:100px; *width:120px; overflow:hidden; color:#333; display:block; cursor:pointer;}
.box-190 ul li a:hover span{color:#FF9900}
.box-190 ul li a em{ color:#c20201;}

.sh-210-10{width:210px; height:auto; overflow:visible;background: url(../images/box190_bg_c2.gif) repeat-y;}
.sh-210-10 h3{background: url(../images/h3_bg4.gif) no-repeat;}
.sh-210-10 .box-190-b{width:210px; background: url(../images/box190_bg_b2.gif) no-repeat; }
.sh-210-10 ul{ float:left; margin-bottom:8px;}
.sh-210-10 ul li{ float:left; width:190px; margin-left:10px; margin-top:5px; border-bottom:1px dotted #ccc;}
.sh-210-10 ul li.li-4-10 a span{ float:left; margin-left:10px;width:180px; *width:180px; }
.sh-210-10 ul li.li-4-10 a img{display:none; }
.sh-210-10 ul li.li-4-10 a em{ float:left; margin-left:10px; display:none; }
.sh-210-10 a.more{ float:right; margin-right:10px !important;margin-right:5px; font-size:12px; color:#FF9900;font-weight:300;}

.sh-bg5 h3{background: url(../images/h3_bg5.gif) no-repeat; }
.sh-bg5 ul{ margin-bottom:7px;}

/* 广告 */
.play-210{ margin-bottom:10px; width:210px;}
.play-210 img{ width:210px;}


/*分页*/
.pages {margin:5px 10px 10px 5px; vertical-align:middle; text-align:right;}
.pages a {text-align:center;text-decoration:none;	border:#AECAF4 1px solid;padding:0px 5px;margin-left:3px;}
.pages a:hover {text-decoration:none;background-color:#E7FAFE;border:#7DC0F7 1px solid;color:#FF9900;}
.pages input {color:#87a32e;border:#76bac2 solid 1px;padding:1px;margin-top:1px;height:13px;}
.pages input:hover {border:#FF9900 solid 1px;}
