@charset "utf-8";
/* CSS Document */

body, div, ul, ol, li, form, iframe, fieldset, input, p, dl, dt, dd, tr, td{
	font: 12px Geneva, Arial, Helvetica, sans-serif, Tahoma;margin:0;padding:0;font-weight:400; font-size:12px;}
input, select, textarea {font: 12px Geneva, Arial, Helvetica, sans-serif, Tahoma; color: #000;}
li{list-style-type:none; }
body{font-size:12px;color:#666;margin:0px;background-color: #fff; }
img {border:0;vertical-align: middle;}
a{color:#0044dd;text-decoration:none;}
a:hover{color:#FF9900;text-decoration:none;}
p{text-indent:24px; margin-top:10px;}
body{background: #ffffff;}
 
.body950{color:#666;width:950px;margin:0px auto;}
.clear{clear: both;margin:0;padding:0;height:0px;overflow:hidden; border:0;}
.bold{font-weight:bold;}
input.but-204{ border:0px; height:40px; line-height:40px;width:204px;background: url(../images/but_204.gif) no-repeat; cursor:pointer;
	font-size:16px;color:#fff; font-weight:600;}
	
/* 页首 top */
.header{ height:130px;background: url(../images/logo.png) 0 16px no-repeat;position:relative;}
.header .top-link{ float:right; margin-right:10px; margin-top:15px;}
.header .top-link li{ float:left; line-height:20px; margin-left:10px;}
.header .top-link li a{ color:#666;}
.header .top-link li a:hover{ color:#FF9900;}
.header .logo{ margin-top:5px; float:left;}
.header .wel-span{ line-height:30px;float:left;}
.header .wel-span a{ margin-left:3px;}
.header .common-link{ float:right; margin:6px 0;}
.header .common-link li{float:left; line-height:40px; margin-right:10px; color:#ab0302;}
.header .common-link li a { color:#ab0302; font-size:14px; margin-right:10px;}
.header .header-search{position:absolute; top:80px; left:205px;}
.header .header-search .inp{ width:280px; height:26px;  line-height:26px; display:block; float:left; overflow:hidden;padding-left:10px; border:1px solid #d1d1d1;
	background:#fff url(../images/input_bg.gif) top left no-repeat;}
.header .header-search select{ border:0px; height:20px; *height:26px;  padding-top:3px; margin-bottom:0px !important; margin-bottom:3px; margin-left:10px; width:100px; *width:103px; overflow:hidden;}
.select-bg-t, .select-bg-b, .select-bg-l, .select-bg-r{ position:absolute; }
.select-bg-t{ top:0px; left:300px; height:4px; width:113px;background: url(../images/select_bg.gif) top left no-repeat; z-index:9999;}
.select-bg-b{ top:22px !important;top:13px; left:300px; height:6px; width:113px;background: url(../images/select_bg.gif) bottom left no-repeat;z-index:9999;}
.select-bg-l{ top:0px; left:300px; height:26px; width:6px;background: url(../images/select_bg.gif) top left no-repeat;z-index:9999;}
.select-bg-r{ top:0px; left:404px; height:26px; width:9px;background: url(../images/select_bg.gif) top right no-repeat;z-index:9999;}
.header-search iframe{position:absolute;}
.bg-t{ top:0px; left:300px; height:4px; width:105px; border:1px solid #fff;}
.bg-b{ top:24px; left:300px; height:6px; width:113px;}
.bg-l{ top:0px; left:300px; height:26px; width:6px;}
.bg-r{ top:0px; left:406px; height:26px; width:9px;}
.header .header-search input.but60{ border:1px solid #d1d1d1; height:28px; line-height:28px;width:75px; padding-bottom:3px; *padding-bottom:0px;
	background: url(../images/but_26.gif) left top no-repeat; color:#690100; margin-left:15px;cursor:pointer; text-align:left; text-indent:27px;}

.header .cart-link{ width:220px;height:22px;line-height:22px;background:url(../images/cart_bg.gif) top left no-repeat;
	position:absolute; top:85px; right:0px; }
.header .cart-link li{ float:left; line-height:24px; margin-left:5px;}
.header .cart-link li.first{ margin-left:30px;}
.nav-crumbs{ height:31px; line-height:31px; background:url(../images/header_bg2.gif) top left no-repeat; text-indent:45px; width:950px; overflow:hidden;}

/* 页脚 footer */
.footer{background: padding-top:20px; height:70px; 
	text-align:center; line-height:20px; margin-top:30px; margin-bottom:15px;}
.footer ul{ display:block; text-align:center;}
.footer ul li{ display:inline; margin-left:20px;}
.footer ul li a{ color:#666; line-height:25px;}
.footer ul.foot-link li{ margin-left:14px;}
.footer ul.foot-link li a{ color:#265E95}

/* help */
.help-l{ width:240px; float:left; margin-top:10px;border:1px solid #f9d5be; }
.help-l h2{ margin:0px; padding:0; background: url(../images/help_t.gif) left bottom no-repeat; height:75px; width:240px; overflow:hidden; display:block;}
.help-l h2 span{ display:none;}
.help-l h4{ margin:0px; padding:0; line-height:30px; height:30px;overflow:hidden; }
.help-l h4 span, .help-l h4 span.c{ width:18px; height:14px; display:block; float:left; margin-top:8px; margin-left:10px;
	background: url(../images/icn_bt_plus.gif) no-repeat;}
.help-l h4 span.c{ background: url(../images/icn_bt_minus.gif) no-repeat;}
.help-l h4 a{ color:#333; font-size:14px; margin-left:5px; font-weight:300;}
.help-l h4.menu-closed{ font-weight:300;}
.help-l h4.menu-closed a{ font-weight:600;}
.help-l h4.menu-closed span{background: url(../images/icn_bt_minus.gif) no-repeat;}
.help-l ul li{ line-height:20px; margin-left:15px; background: left 5px url(../images/icon_104.gif) no-repeat;}
.help-l ul li a{ margin-left:12px;}
.help-l ul li.c a{ color:#FF6600; font-weight:600;}

.help-r{ width:700px; float:right; margin-top:10px;}
.help-search{ width:700px; height:76px; background: url(../images/help_s.gif) no-repeat; position:relative;}
.help-search .inp{ position:absolute; top:30px; left:270px; width:300px; padding:3px; border:1px solid #f9d5be;}
.help-search .but{position:absolute; top:30px; left:600px; width:70px;}
.help-r h3{ font-size:14px; text-indent:30px;  padding:0; line-height:35px; background: url(../images/header_bg.gif) bottom repeat-x;}
.help-r h3 span{  background: url(../images/links_q.gif) left -3px no-repeat;color:#333; font-weight:600; padding-left:23px;}
.help-r h3 span a{ font-weight:300; font-size:13px; margin-left:10px; color:#FF6600}
.help-list ul{ margin:10px 20px 10px 30px;}
.help-list ul li{ line-height:22px;background: left 7px url(../images/icon_104.gif) no-repeat;}
.help-list ul li a{ margin-left:15px; font-size:13px;}
.help-list p{ color:#333; line-height:22px; margin:10px;}
.help-r dl{ width:340px !important;width:330px; height:85px; overflow:hidden; float:left; margin:10px 0px 10px 10px; background-color:#fefeeb;}
.help-r dl dt{ clear:both; line-height:30px;font-size:12px; font-weight:600; line-height:22px;background: 6px 10px url(../images/dd_bg.gif) no-repeat;}
.help-r dl dt a{color:#333; margin-left:10px;line-height:30px; margin-left:20px;}
.help-r dl dd{ float:left; margin-left:10px; line-height:25px;}
.help-r dl dd a{ margin-right:10px;}


/* 分页 */
.pagination a, .page-start, .page-end{background-image:url(../images/list.png);background-repeat:no-repeat; cursor:pointer;}
.list-nav li.pagination{float:right;width:150px;margin:0;}
.pagination{height:22px;font-family:tahoma;font-size:12px; border-top:1px dotted #eee; padding-top:10px;}
.page-top,.page-bottom{float:right;}
.pagination a,.page-info,.page-prev,.page-cur,.page-start,.page-end,.page-break,.page-skip{
	float:left;height:17px;margin:0 3px 0 0;text-align:center;white-space:nowrap;vertical-align:middle;line-height:18px;}
.page-start,.pagination a,.page-end{padding:0 5px;border:solid 1px #ccc;}
.page-start{width:20px;padding:0!important;background-position:7px -175px;}
a.page-prev{width:20px;padding:0!important;background-position:-68px -175px!important;}
.page-cur,.page-break{padding:0 3px;}
a.page-next{padding-right:16px;background-position:-179px -175px!important;}
.page-end{padding-right:16px;background-position:-104px -175px;}
.page-cur{border-color:#fff;color:#ff6400;font-weight:700;}
.page-skip{padding:0 3px; }
.page-skip input.inp{width:30px;height:16px;margin:0 3px;border:solid 1px #ccc;vertical-align:top;}
.page-skip input[type="text"]{width:30px;height:16px;margin:0 3px;border:solid 1px #ccc;vertical-align:top;}
.page-skip input.button{width:37px;height:17px;margin:2px 0 0 2px;border:0 none; color:#000; cursor:pointer; 
	margin-right:10px;border:1px solid #FF6600;background:#FF9900; color#FF6600; color:#fff;}
.page-prev span,.page-start span,.page-mini .page-next span,.page-mini .page-end span,.page-skip button span{display:none!important;}


/* 高级搜索 */
.main h2.search{ width:950px; height:32px; line-height:32px; margin:10px 0; padding:0; background:url(../images/h2_bg.gif) top left no-repeat;}
.main h2.search span{ font-size:16px; font-weight:600; color:#FFF; margin-left:65px;}
input.but148{ border:0px; height:29px; line-height:29px;width:148px; padding-bottom:5px;*padding-bottom:0px;
	background: url(../images/but_148.gif) no-repeat; color:#fff; font-size:14px; font-weight:600;cursor:pointer;}
.advanced-search{ margin:20px auto; width:700px; background-color:#f5f5f5;}
.advanced-search table{ display:block; margin:20px 10px;}
.advanced-search table td{ line-height:30px;}
.advanced-search table td.td-l{ text-align:right; width:150px; padding-right:10px;}
.advanced-search table td.td-t{text-align:right; width:300px; padding-right:10px;}
.advanced-search table td.td-r{ text-align:left; color:#7D1E06; font-weight:600; }
.advanced-search table td.td-r span{ color:#006699; font-weight:300; margin-left:10px;}
.advanced-search table select{ margin-right:10px;}
.advanced-search p{ color:#B05400; font-size:14px; margin-left:50px; width:500px; line-height:28px;
	 border-bottom:1px dotted #FFCC66; margin-bottom:10px; }
.advanced-search p img{ margin-right:10px;}
.tpcg{color:#FF6600; background:url(../images/icn_errortips_ok.gif ) top left no-repeat; padding-left:30px;}
/* 公告 */
.news h2{ text-align:center; font-size:20px; line-height:40px; color:#333; border-bottom:1px solid #eee; padding:0; margin:20px 0 10px 0;}
.news h3{background: url( ../images/blogicon_002.gif) left center no-repeat; margin:10px; line-height:40px; text-indent:40px; font-size:20px; color:#FF9900;
	border-bottom:2px solid #FFE6B5;}
.news .news-info{ text-align:center; color:#999; line-height:30px;}
.news .news-info span{ margin-left:20px; }
.news .news-content{ border:1px solid #F4FDFF;line-height:25px; color:#555; font-size:14px; }
.news .news-content p{ line-height:25px; color:#555; font-size:14px; text-indent:40px; padding:10px;}
.news .news-content img{ text-align:center; margin:10px auto; display:block;}
.news .news-list{ margin:10px;}
.news .news-list li{ line-height:30px; background: url( ../images/icon_104.gif) left center no-repeat; border-bottom:1px dotted #eee;}
.news .news-list li a{ font-size:14px; color:#003366; margin-left:15px;}
.news .news-list li a:hover{ color:#0066CC;}
.news .news-list span{ float:right; margin-right:20px; color:#ccc;}

/* 资讯中心首页 */
.bbs h4{ margin:20px 0 0 0; padding:0; line-height:30px; height:30px;  background: url( ../images/list.png) repeat-x;}
.bbs h4 a{ color:#000; font-size:14px; font-weight:600; margin-left:0px;}
.bbs h4 a.more{ float:right; margin-right:20px; color:#fff; font-size:12px; font-weight:300; padding:0px 5px; line-height:20px; background-color:#FF9900;}
.bbs table{ width:950px; border:1px solid #FFDEA6; border-collapse:collapse;}
.bbs table th{ line-height:20px; text-align:center; font-weight:300; color:#000; background-color:#fff;}
.bbs table td{ line-height:25px;border:1px solid #FFDEA6; background-color:#FFFAF0; padding:5px 10px;}
.bbs table td a{ color:#333;}
.bbs table td.title{background:#FFFAF0 url( ../images/page_white.gif) 10px 10px no-repeat;}
.bbs table td.title a{ margin-left:20px;}
.bbs table td.title a:hover{ color:#FF6600}
.bbs table tr.admin td.title{background:#FFFAF0 url( ../images/page_white2.gif) 10px 10px no-repeat;}
.bbs table tr.manager td.title{background:#FFFAF0 url( ../images/page_white3.gif) 10px 10px no-repeat;}
.bbs table tr.admin td.title a{  color:#820000}
.bbs table tr.manager td.title a{ color:#820000 }
.bbs table .author{ width:100px; text-align:center;}
.bbs table .time{ width:100px;text-align:center;}
.bbs table .reply{ width:50px;text-align:center;}
.bbs table .last-reply{ width:100px;}
.bbs h4 a.add{ border:0px; height:20px; line-height:20px;width:100px; display:block; float:right; margin-right:20px;
	background: url(../images/but_100_20.gif) no-repeat; color:#000;cursor:pointer; font-size:12px;text-align:center; color:#990000}
.bbs table td.title a.bn-top{ color:#0066CC}
.bbs table tr td.title a.bn-top{ color:#0066CC; font-weight:300;}
.bbs table tr.tr-top td a{ font-weight:600;}
/* comment */
.comment{width:948px;border:1px solid #DDD;margin-top:10px;background-color:#FFF;}
.comment .news{ width:900px; margin:0px auto;}
.comment .commenttitle{width:948px;height:26px;margin:1px auto;border-bottom:1px solid #DDD;border-top:1px solid #DDD;
	background:url(../images/title_bg_1.gif) repeat-x;}
.comment .commenttitle div{float:left;margin:5px 0px 0px 12px;color:#999;display:inline;}
.comment .commenttitle div strong{letter-spacing:1px;color:#444;margin-right:10px;}
.comment .commenttitle a{float:right;display:block;width:95px;height:22px;display:inline;text-align:center;line-height:22px;
	text-decoration:none;background:url(../images/user/ico_gotopost.gif) no-repeat;margin:1px 3px 0px 0px;}
.comment .commentbox{}
.comment .commentbox dl{width:870px;margin:10px auto 0px;border:1px solid #FFE7B9;}
.comment .commentbox dl dt{width:870px;background:#FFF9F0;line-height:25px;text-indent:10px;color:#333;border-bottom:1px solid #FFECC8;}
.comment .commentbox dl dt strong{margin-right:5px;}
.comment .commentbox dl dt span{color:#669933;font-size:11px;}
.comment .commentbox dl dd{padding:10px;font-size:14px;line-height:25px;color:#666;}

/* add comment */
.comment .posttitle{width:948px;height:26px;margin:10px auto;background:url(../images/title_bg_1.gif) repeat-x;border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;}
.comment .posttitle strong{letter-spacing:1px;color:#444;display:block;margin:7px 0px 0px 13px;}
.comment .postbox{width:800px;margin:5px auto;overflow:hidden;}
.comment .postbox .txtbox{width:800px;line-height:25px;}
.comment .postbox .txtbox textarea{border:1px solid #CCC;width:750px;height:120px;padding:5px; margin-bottom:10px;}
.comment .postbox  .sbut{margin:10px;}
.comment .postbox .userbox .submit{width:100px;height:25px;padding-top:2px;}
.comment .postbox .txtbox .form{ clear:both;}
.comment .postbox .txtbox .form span{ float:left; line-height:25px; width:50px; margin-right:10px;}
.comment .postbox .txtbox .form .inp{border:1px solid #CCC; width:605px; padding:2px;}
.comment .postbox .txtbox .form .inp2{border:1px solid #CCC; width:66px; padding:2px;}
.comment .postbox .txtbox .form textarea{border:1px solid #CCC;width:600px;height:400px;padding:5px; margin-bottom:10px;}

/* 帮助中心 */
.map h3{ font-size:14px; font-weight:600; color:#5B0000; clear:both; line-height:40px; padding:0; margin:10px 0 0px 10px;}
.map ul{ float:left; background-color:#eee; width:950px;padding:10px 0;}
.map ul li{ float:left; width:170px;  line-height:30px; margin-left:20px; background: url(../images/icon_104.gif) left center no-repeat}
.map ul li a{ margin-left:15px;}

/* EMS */
.ems-box{ width:815px; margin:10px auto; padding-bottom:10px; position:relative; background: url(../images/ems_bot.gif) left bottom no-repeat;}
.ems-box table{ margin:5px 0 10px 20px !important;  margin:20px 0 10px 13px; 
	width:375px; overflow:hidden; float:left; border:1px solid #ccc; border-collapse:collapse;}
.ems-box table td{ line-height:24px; padding:0px 5px 0px 5px; border:1px solid #ccc;}
.ems-box table td.td-t{ width:75px; padding:0 0 0 5px; background-color:#f5f5f5;}
.ems-box table .inp{ border:0; border-bottom:1px dotted #ccc; width:90px; color:#FF9900;}
.ems-box table .inp2{ border:0; border-bottom:1px dotted #ccc; width:270px;color:#FF9900;}
.ems-box table .inp3{ border:0; border-bottom:1px dotted #ccc; width:40px;}
.ems-box table .red{color:red;}
.ems-box table .checkbox{ margin-left:3px;}
.ems-box table tr.bg td, .ems-box table tr.bg td .inp, .ems-box table tr.bg td .inp2{ background-color:#FFFFCC;}
.ems-but select{ float:left; margin-top:10px; margin-left:450px; margin-right:10px;}
.ems-but{ clear:both; margin-bottom:20px;}
.ems-type{ margin-top:20px; margin-left:25px; font-size:14px; color:#41251F; line-height:20px;}
.ems-box .contacts{ cursor:pointer;}
.ems-box table.ems-yd{ width:600px; margin:20px auto 20px 100px !important; margin:20px auto 20px 50px; }
.ems-box table.ems-yd td.td-t{ width:100px;line-height:30px;}

.ems-box .contacts-div{ background-color:#FFF8E8; border:3px solid #FFDBA6; width:150px; position:absolute;
	 top:125px !important; top:5px; left:200px !important;left:240px; }
.ems-box .contacts-div ul{ margin:2px 0px 5px 10px; height:170px;overflow:auto;}
.ems-box .contacts-div ul li{ line-height:20px; color:#333; border-bottom:1px dotted #eee;}
.ems-box .contacts-div h3{ margin:0; padding:0; font-size:12px; line-height:20px; color:#DF821A; background-color:#FFDBA6; text-indent:10px;}
.ems-box .contacts-div h3 a{ font-weight:300; float:right; margin-right:5px;}
.ems-box #contactsDiv2{left:600px !important; }
#contactsDiv3 {width:500px; top:350px !important; top:400px; } 
.ems-box #contactsDiv3 ul{height:200px;overflow:hidden;}

/* 网上邮局 */
.wsyj{ height:260px;background: url(../images/wsyj_bg.gif) left top no-repeat; clear:both;}
.wsyj-l{ margin-top:80px; margin-left:40px; float:left; }
.wsyj-l a img{ border:5px solid #fff; margin-left:10px !important;margin-left:0px;}
.wsyj-l a.hover img{border:5px solid #FFCC00;}
.wsyj-r{ float:right;}
.p-box{ width:850px; margin:10px auto;}
.p-box h3{ font-size:14px; color:#59361A; margin-top:20px;line-height:20px; border-bottom:1px solid #eee; background: url(../images/icon_429.gif) left top no-repeat; text-indent:25px;}
.p-box h3 a{ float:right; background-color:#FF6600; color:#fff; text-align:center; font-size:12px; width:80px; line-height:18px;
	 text-indent:0 !important;text-indent:25px;  }
.p-box p{ color:#755435; line-height:20px;}

/* 闲置商品 */
.goods-xz{ background-color:#fffaf0;}
.goods-xz h2{ font-size:18px; line-height:30px; color:#333; float:left; width:950px; clear:both; margin:0; text-indent:20px; padding:0;background-color:#fffaf0;}
.goods-xz dl{ border-bottom:1px dotted #ccc; margin:5px 0; clear:both; float:left; width:950px;}
.goods-xz dl dt{ float:left; height:60px; width:700px; color:#999;}
.goods-xz dl dt a.list_title{ line-height:30px; font-size:14px;}
.goods-xz dl dt img { float:left; width:50px; margin-bottom:10px; height:50px; margin-right:10px;}
.goods-xz dl dd{ float:left; width:120px; line-height:50px; color:#FF0000;}
.goods-xz dl dd.date{ color:#999;}

.goods-xz-title{background: url(../images/xzsp_title.gif) left top no-repeat; height:100px;  }
.goods-xz-title p{ display:block; margin-top:60px; text-indent:0; margin-left:640px; font-size:14px; color:#743123;} 
.goods-xz-title p .inp{ width:150px; padding:1px 2px; border:1px solid #ECA539; background-color:#FFFAF0}
.goods-xz-photo { background-color:#fff; clear:both; margin:10px;}
.goods-xz-photo .l{ float:left; width:400px; text-align:center; border:1px solid #f6ba60; overflow:hidden; margin:10px 10px !important; margin:10px 5px;}
.goods-xz-photo .l img{ width:300px;}
.goods-xz-photo .r{ float:right; width:480px;}
.goods-xz-photo .r li{ line-height:35px; font-size:14px; clear:both; border-bottom:1px dotted #f6ba60; margin-right:20px;}
.goods-xz-photo .r label{ width:100px; float:left;}
.goods-xz-photo .r span{ color:#006699}
.goods-xz-photo .r span.red{ font-weight:600; color:#F00; font-size:16px;}
.goods-xz-photo .r p{ background-color:#eee; margin-right:15px; display:block; margin-top:10px;}
.goods-xz-photo .r img{ width:50px; margin:10px 5px; border:2px #eee solid;}
.goods-xz-photo .r .current img{border:2px #FF9900 solid;}
.goods-xz-p{ margin:10px; background-color:#fff; padding:10px;}
.goods-xz-p h3{ font-size:14px;color:#333; }

.name-list { width:900px; margin:10px auto; background-color:#f5f5f5; }
.name-list tr th{ line-height:30px; background-color:#FF9900; color:#fff;}
.name-list tr td{ line-height:40px; padding:0 5px;}
.name-list tr.bg td{ background-color:#fff;} 

/* 趣味中心 */
.qwzx{ width:750px;  margin:30px auto; background: url(../images/qwzx.png) no-repeat; }
.qwzx img{ margin-left:35px;}
.qwzx .p-box{ width:650px; margin:0px auto 20px auto; border:3px solid #EFB669; background-color:#eee; padding:10px;}


.name-list-notice { width:600px; margin:10px auto; background-color:#f5f5f5; }
.name-list-notice tr th{ line-height:30px; background-color:#FF9900; color:#fff;}
.name-list-notice tr td{ line-height:40px; padding:0 5px; text-align:center;}
.name-list-notice tr.bg td{ background-color:#fff;} 

