@charset "utf-8";
/* CSS Document */

.main{	margin-top:0px;}
.require-field{ color:#FF0000; font-weight:600; margin-right:3px;}
/* 登录 */
.login button, .login_zc{background:transparent url(../images/login/btn_bg.png) no-repeat scroll 0 0;}
.login *{overflow:hidden}
.login{width:942px;margin:10px auto 20px;}
.login li, .login .bg{float:left;}
.login .l{width:23px;margin-top:39px;}
.login .r{width:549px;margin-top:39px;}
.login .r img{ *margin-bottom:1px;}
.login .c{width:340px;}
.login .bg{background:url(../images/login/login_bg_04.png) no-repeat top;}
.login .top_bg{background:url(../images/login/login_bg_02.png) no-repeat top;}
.login .top_bg h1{color:#000000;font-size:14px;line-height:30px;height:30px;margin:0 10px 5px 45px;padding-top:14px;}
.login .c ul{margin:0px 10px 10px 45px;}
.login .c li{line-height:30px;float:left;width:285px;}
.login .c h3{color:#FF6C00;font-size:12px;font-weight:100;display:block;}
.login .c label{float:left;margin-top:2px;width:50px;}
.login .c .input{width:200px;height:20px;border:1px solid #C5DAE9;}
.login .c h3, .login .c .jz{margin-left:50px;}
.login .c .jz{width:205px;float:left;_margin-left:25px; margin-top:5px; margin-bottom:5px;}
.login .c .jz input{margin:9px 0px 0px;*margin:-3px 0px 0px;position:absolute;}
.login .c .jz span{margin-left:20px;}
.login .c .jz a{font-size:14px;margin:0 5px; line-height:40px; *line-height:20px; float:right;}
.login .c .bg{background:url(../images/login/login_bg_04.png) repeat-y;float:left;}
.login .c h2{font-size:12px;font-weight:100;}
.login .c .zc{margin-left:12px;width:285px;border-top:1px dotted #377AB7;line-height:20px;padding:20px 10px 5px;margin-top:20px}
.login .c .zc strong{color:#377AB7;}
.login .c .zc input{background:url(../images/login/login_btn.png) no-repeat;border:none;width:168px;height:29px;
	font-size:14px;margin-left: 60px;margin-top:15px;color:#000; cursor:pointer;}
.login .c .bz{margin-left: 25px;}
.login .jz .button{background:transparent url(../images/login/btn_bg.png) no-repeat scroll 0 0; border:medium none;height:26px;
	margin-right:20px;width:80px;margin-top:10px;cursor:pointer; display:block;}
.login input[type="button"] { cursor:pointer;}
.r_text{margin-top:20px;}
.r_text li{line-height:40px;width:460px;color:#404040;float:right;margin-right:20px;padding:0px 10px;border-bottom:1px dotted #ededed;}
.r_text i{width:36px;height:30px;float:left;margin:5px 10px;}
.r_text .icon01{background:url(../images/login/login_ico2.png) no-repeat;}
.r_text .icon02{background:url(../images/login/login_ico3.png) no-repeat;}
.r_text .icon03{background:url(../images/login/login_ico1.png) no-repeat;}
.r_text .icon04{background:url(../images/login/login_ico4.png) no-repeat;}
.r_text strong{color:#404040;margin-right:5px;}
.r_text li.last{border:none;}

/* 注册协议 */
.service { margin:0 20px;}
.service h2{ text-align:center; color:#333; font-size:18px;}
.service h4{ color:#333; font-size:14px;}
/* 成功页面 */

.success-box, .error-box{ height:314px; width:750px;background: url(../images/login/success_bg.gif) no-repeat; margin:20px auto;}
.success-box h2, .error-box h2{ text-align:center; line-height:70px; height:70px; color:#1e6e19;}
.success-box dl, .error-box dl{ margin:20px 0 0 230px;}
.success-box dl dt, .error-box dl dt { line-height:30px; font-size:14px; color:#003366}
.success-box dl dd,  .error-box dl dd{ margin-left:24px; line-height:20px; font-size:13px;background: url(../images/login/dd_bg.gif) left 5px no-repeat; }
.success-box dl dd a,  .error-box dl dd a{ margin-left:15px;}

/* 错误页 */
.error-box{ background: url(../images/login/error_bg.gif) no-repeat; }
.error-box h2{color:#570000;}


/* 注册 */
div#reg{margin:0pt auto;width:750px;}
.inp input{_height:20px;_padding:1px 8px 0 3px;_border:1px solid #A7A6AA;}
#reg_items li{height:30px;overflow:hidden;}
#reg_items li.submit{text-align:center;margin:20px 0 10px 0;height:100px}
#reg_items .s_btn{width:500px;}
#reg_items .s_btn input{width:80px;margin:0px 5px;}
#reg_items li div.inp{float:left;width:175px;}
#reg_items li div.inf{float:right;margin:5px 0px;_margin:2px 0px;width:400px;}
#reg_items li input[type="text"], #reg_items li input[type="password"]{border:1px solid #A7A6AA;height:18px;width:160px;margin-top:4px;padding:2px 8px 0pt 3px;}
#reg_items li input.readonly{border:none; background:#fff;}
#reg_items li input.ccode{width:54px;}
#reg_items li label{color:#404040;float:left;font-size:14px;line-height:28px;margin-right:5px;text-align:right;width:160px;}
.default{margin-left:10px;color:#AAA;padding-top:3px;}
ul#reg_terms{list-style-image:none;list-style-position:outside;list-style-type:none;margin:0pt;padding:0pt;}
.seperator{border-top:1px solid #EEE;clear:both;font-size:0pt;height:0pt;width:100%;}
.title, .title2{
	color:#195790;
	font-size:14px;
	margin:20px 0 10px;
	padding:0px 10px;
	line-height:22px;
	font-weight:bold;
	border-bottom:1px dashed #EDEDED;
	}
.title2{
   font-size:20px;
   } 
ul#reg_terms li.terms_content{
	line-height:200%;
	margin:20px 0pt 10px;
	text-align:center;
}
ul#reg_terms li.terms_content div{
	background-color:#FAFAFA;
	border:1px solid #CCCCCC;
	height:60px;
	margin:0pt auto;
	overflow:auto;
	padding:5px;
	text-align:left;
	width:700px;
}
.WarningMsg{
	background:#FFEAF7 url(../images/login/msg_warning.gif) no-repeat scroll 5px 50%;
	border:1px solid #FFBABE;
	color:#000;
	margin:-1px 0 0 4px !important;
	margin:0 0 0 4px;
	height:16px !important;
	height:12px;
	padding:2px 5px 2px 25px !important;
	padding:4px 5px 2px 25px;
}

.FailedMsg{
	background:#FFF2E9 url(../images/login/standard_msg_error.gif) no-repeat scroll 5px 50%;
	border:1px solid #FF6600;
	color:#000;
	margin:-1px 0 0 4px !important;
	margin:0 0 0 4px;
	height:16px !important;
	height:12px;
	padding:2px 5px 2px 25px !important;
	padding:4px 5px 2px 25px;
}

.SucceedMsg{
	background:#E6FFE6 url(../images/login/standard_msg_ok.gif) no-repeat scroll 5px 45%;
	/*border:1px solid #00BE00;*/
	color:#000;
	height:16px !important;
	height:12px;
	padding:2px 5px 2px 25px !important;
	padding:4px 5px 2px 25px;
	margin:-1px 0 0 4px !important;
	margin:0 0 0 4px;
}

input.but-204{ border:0px; height:40px; line-height:40px;width:204px;background: url(../images/button_bg.gif) 0 -40px no-repeat; cursor:pointer;
	font-size:16px;color:#fff; font-weight:600;}