@charset "utf-8";
/* CSS Document */

.main { background:#fff; margin:5px 0 0 0; width:950px;overflow:hidden;}
.main h2{ width:950px; height:32px; line-height:32px; margin:10px 0; padding:0; background:url(../images/h2_bg.gif) top left no-repeat;}
.main h2 span{ font-size:16px; font-weight:600; color:#FFF; margin-left:65px;}
.layout-190{ width:190px; overflow:hidden;}
.layout-210{ width:210px; overflow:hidden; margin-right:10px;}
.layout-530{ width:530px; overflow:hidden;}
.layout-730{ width:730px; overflow:hidden;}
.layout-750{ width:750px; overflow:hidden;}
.float-l{ float:left; margin-left:0;  display:block;}
.float-r{ float:right;}
.pay-ul .float-l{ clear:both; margin-left:35px; display:block;}
.m-b-5{ margin-bottom:5px; display:block; height:59px;}
.height-71{ height:71px; overflow:hidden}
.clear{clear: both;margin:0;padding:0;height:0px;overflow:hidden;}
.bold{font-weight:bold;}
a.f-link{font-size:12px; margin-left:10px;}
.f-f90{ color:#FF9900;}
.f-ccc{ color:#ccc; margin-left:10px;}
.f-096{ color:#009966; font-weight:600;}
.f-red{ color:#790300; font-weight:600;}
.f-r{float:right;}
.f-red{color:#c20201;font-weight:600; margin:0px 5px;}
.h-412{ height:412px; overflow:hidden;}
.h-354{height:354px; overflow:hidden; }
.w-730{ width:730px;}
.w-950{width:950px;}


/* 按钮 button */
input.but-pay{ border:0px; height:40px; line-height:40px;width:204px;background: url(../images/button_bg.gif) 0 0 no-repeat; cursor:pointer;}
input.but-204{ border:0px; height:40px; line-height:40px;width:204px;background: url(../images/button_bg.gif) 0 -40px no-repeat; cursor:pointer;
	font-size:16px;color:#fff; font-weight:600;}
input.but104{ border:0px; height:26px; line-height:26px;width:106px;
	background: url(../images/button_bg.gif) 0 -80px no-repeat; color:#000; margin-left:5px;cursor:pointer;}
input.but100{ border:0px; height:20px; line-height:20px;width:100px;
	background: url(../images/button_bg.gif) 0 -106px no-repeat; color:#000;cursor:pointer;}
input.but148,input.but148b{ border:0px; height:29px; line-height:29px;width:148px;
	background: url(../images/button_bg.gif) 0 -155px no-repeat; color:#fff; font-size:14px; font-weight:600; margin-left:5px;cursor:pointer;}
input.but148b{ background: url(../images/button_bg.gif) 0 -126px no-repeat; color:#482B1E; }
a.font-search{ width:148px; height:28px; line-height:28px; text-align:center; float:left;background: url(../images/button_bg.gif) 0 -184px no-repeat; color:#5E2D1C}
a.font-search2{ width:148px; height:28px; line-height:28px; text-align:center; float:left;background: url(../images/button_bg.gif) 0 -126px no-repeat; color:#5E2D1C}
a.link-mp{ width:112px; height:24px; line-height:24px; text-align:center; float:left;background: url(../images/button_bg.gif) 0 -214px no-repeat; }
a.font-but{ padding:3px 0 3px 20px;margin-left:10px; background: url(../images/icon_left.gif) top left no-repeat; color:#003366; text-decoration:underline;}
a.font-but:hover{ color:#0066CC;}
h3.icon-sh{background: url(../images/glossy_ecommerce_012.jpg) top left no-repeat; text-indent:40px;line-height:35px;padding:0;}
h3.icon-dd{background: url(../images/shopping_cart_accept.jpg) no-repeat; text-indent:40px;line-height:35px; padding:0; }

.search-info{ margin-top:10px; line-height:20px;}
.search-gl{ float:left;}
.search-gl li{ float:left; margin-right:20px; height:30px; line-height:30px; }


/* 购物流程 */
.num{ width:950px; line-height:23px; height:23px; overflow:hidden; margin:10px 0;background:#e4e4e4;}
.num li{ float:left; width:190px; text-align:center; line-height:23px; margin:0;}
.num li span{display:block; line-height:23px; height:23px;font-size:14px; color:#BA7B12}
.num li.current{background:#ffa900 url(../images/num_l.gif) top left no-repeat;}
.num li.current span{background: url(../images/num_r.gif) top right no-repeat; font-weight:600; color:#fff;}

/* 广告 */
.play-210{ margin-bottom:10px; width:210px;}
.play-210 img{ width:210px;}

/* 购物车 */
.my-cart{margin:20px 0;width:950px;}
.my-cart table{ width:950px;}
.my-cart table th{ height:20px; line-height:20px; border-bottom:2px solid #FF9900;}
.my-cart table tr.shop-name span{ margin-left:15px;}
.my-cart table tr td{ background-color:#FFFCF0; border-bottom:1px solid #FBDCA2; padding:3px;}
.my-cart table tr.shop-name td{ background-color:#fff; line-height:30px; padding-left:10px;}
.my-cart table tr.shop-name td span.promotions{ float:right; margin-right:10px; color:#006666}
.my-cart table tr .t-chk{ text-align:center; width:60px;}
.my-cart table tr .t-name img{ float:left; width:50px; height:50px; margin:3px; line-height:30px;}
.my-cart table tr .t-name a{ }
.my-cart table tr .t-name span{ display:block; line-height:20px;}
.my-cart table tr .t-name p{ float:left; width:400px; text-indent:0; line-height:12px; padding:0; margin:0; color:#006699;}
.my-cart table tr .t-price{ width:100px;text-align:left;}
.my-cart table tr .t-price em{font-weight:600;}
.my-cart table tr .t-amount{ width:100px;text-align:left;}
.my-cart table tr .t-amount input{ width:40px;}
.my-cart table tr .t-total{ width:100px; text-align:left;}
.my-cart table tr .t-total em{ color:#C40000; font-weight:600;}
.my-cart table tr .t-del{ width:70px; text-align:center;}
.my-cart table tr .t-servic{ width:100px; text-align:center;}
.my-cart table tr.total td{ background-color:#fff; border-bottom:0; line-height:20px; font-size:12px; text-align:right; color:#333;}
.my-cart table tr.total td a{ font-size:12px;}
.my-cart table tr.total td em{ font-style:normal; font-size:16px; font-weight:600;color:#C40000; }
.my-cart table tr.tr-but td{background-color:#fff; border-bottom:0; line-height:20px; text-align:right; }
.my-cart table tr.tr-but td input{ margin-right:10px; float:right;}
.my-cart table tr.total2{ text-align:left; vertical-align:top;}
.my-cart table tr.total2 td{ background-color:#FFF4E1; color:#333;padding-left:10px;}
.my-cart table tr.total2 textarea{ width:300px; height:50px; font-size:12px; margin-right:20px;}
.my-cart table tr.total2 .t-r{ text-align:right; font-size:12px; line-height:20px; }
.my-cart table tr.total2 select{ width:130px;}
.my-cart table tr.total2 .t-r span{ float:right; clear:both;}
.my-cart table tr.total2 .t-r span.t-r-s{ color:#999;}
.my-cart table tr.total2 .t-r span.t-r-s em{font-style:normal; text-decoration:line-through; font-size:12px; font-weight:600;color:#666;}
.my-cart table tr.total2 em{ font-style:normal; font-weight:600; color:#C40000; font-size:14px;}
.my-cart table tr.total3 td{ font-size:15px; font-weight:600; line-height:25px;}
/* 购物车空 */
.my-cart-null{ height:200px; margin-top:50px; margin-left:50px; background: url(../images/shopping_cart.jpg) 50px 40px no-repeat;}
.my-cart-null h3{ color:#333; line-height:50px; text-indent:50px;}
.my-cart-null ul{ float:left; margin-left:200px;}
.my-cart-null ul li{ line-height:25px; font-size:14px;}

ul.dz{ margin-left:40px;}
ul.dz li{ line-height:30px;}

/* 网上邮局 */
.wsyj{ height:260px;}
.wsyj-r{ float:left;}
.wsyj-y{ float:right;}
.wsyj-b{ float:left;}
.wsyj-e{
	float:right;
	background-image: url(../images/wsyj_bg.gif);
	background-repeat: no-repeat;
	background-position: left top;
	height: 260px;
	width: 475px;
}
.wsyj-l{
	margin-top:80px;
	padding-left: 7px;
}
.wsyj-l a img{ border:5px solid #fff; margin-left:0px;margin-left:5px !important;}
.wsyj-l a.hover img{border:5px solid #FFCC00;}
/*.wsyj-r{ float:right;}*/
.p-box{ width:850px; margin:10px auto;}
.p-box h3{ font-size:14px; color:#59361A; margin-top:20px;line-height:20px; border-bottom:1px solid #eee; background: url(../images/icon_429.gif) left top no-repeat; text-indent:25px;}
.p-box h3 a{ float:right; background-color:#FF6600; color:#fff; text-align:center; font-size:12px; width:80px; line-height:18px;text-indent:0px;  }
.p-box h3 span{ display:block; }
.p-box p{ color:#755435; line-height:20px;}


/* EMS */
.ems-box{ width:815px; margin:10px auto; padding-bottom:10px; position:relative; background: url(../images/ems_bot.gif) left bottom no-repeat;}
.ems-box table{ margin:5px 0 10px 20px !important;  margin:20px 0 10px 13px;
	width:375px; overflow:hidden; float:left; border:1px solid #ccc; border-collapse:collapse;}
.ems-box table td{ line-height:24px; padding:0px 5px 0px 5px; border:1px solid #ccc;}
.ems-box table td.td-t{ width:75px; padding:0 0 0 5px; background-color:#f5f5f5;}
.ems-box table .inp{ border:0; border-bottom:1px dotted #ccc; width:90px; color:#FF9900;}
.ems-box table .inp2{ border:0; border-bottom:1px dotted #ccc; width:270px;color:#FF9900;}
.ems-box table .inp3{ border:0; border-bottom:1px dotted #ccc; width:40px;}
.ems-box table .red{color:red;}
.ems-box table .checkbox{ margin-left:3px;}
.ems-box table tr.bg td, .ems-box table tr.bg td .inp, .ems-box table tr.bg td .inp2{ background-color:#FFFFCC;}
.ems-but select{ float:left; margin-top:10px; margin-left:450px; margin-right:10px;}
.ems-but{ clear:both; margin-bottom:20px;text-align:center;}
.ems-type{ margin-top:20px; margin-left:25px; font-size:14px; color:#41251F; line-height:20px;}
.ems-box .contacts{ cursor:pointer;}
.ems-box table.ems-yd{ width:600px; margin:20px auto 20px 100px !important; margin:20px auto 20px 50px; }
.ems-box table.ems-yd td.td-t{ width:100px;line-height:30px;}

.ems-box .contacts-div{ background-color:#FFF8E8; border:3px solid #FFDBA6; width:350px; position:absolute;
	 top:145px !important; top:5px; left:100px !important;left:240px; }
.ems-box .contacts-div ul{ margin:2px 0px 5px 10px; height:170px;overflow:auto;}
.ems-box .contacts-div ul li{ line-height:20px; color:#333; border-bottom:1px dotted #eee;}
.ems-box .contacts-div h3{ margin:0; padding:0; font-size:12px; line-height:20px; color:#DF821A; background-color:#FFDBA6; text-indent:10px;height:32px; width:350px;}
.ems-box .contacts-div h3 a{ font-weight:300; float:right; margin-right:5px;}
.ems-box #contactsDiv2{left:495px !important; }
#contactsDiv3 {width:500px; top:350px !important; top:400px; }
.ems-box #contactsDiv3 ul{height:200px;overflow:hidden;}
.ems-box #contactsDiv4{top: 125px ! important; left: 206px ! important; }

/* 网上邮局 */
/*.wsyj{ height:260px;background: url(../images/wsyj_bg.gif) right top no-repeat; clear:both;}
.wsyj-l{ margin-top:80px; margin-right:8px; float:right; }
.wsyj-l a img{ border:4px solid #fff; margin-left:10px !important;margin-left:0px;}
.wsyj-l a.hover img{border:4px solid #FFCC00;}
.wsyj-r{ float:left;}*/
.p-box{ width:850px; margin:10px auto;clear:both;}
.p-box h3{ font-size:14px; color:#59361A; margin-top:20px;line-height:20px; border-bottom:1px solid #eee; background: url(../images/icon_429.gif) left top no-repeat; text-indent:25px;}
.p-box h3 a{ float:right; background-color:#FF6600; color:#fff; text-align:center; font-size:12px; width:80px; line-height:18px;text-indent:0px;  }
.p-box h3 span{ display:block; }
.p-box p{ color:#755435; line-height:20px;}

/* 帮助中心 */
.map h3{ font-size:14px; font-weight:600; color:#5B0000; clear:both; line-height:40px; padding:0; margin:10px 0 0px 10px;}
.map ul{ float:left; background-color:#eee; width:950px;padding:10px 0;}
.map ul li{ float:left; width:170px;  line-height:30px; margin-left:20px; background: url(../images/icon_104.gif) left center no-repeat}
.map ul li a{ margin-left:15px;}

/* 选号 */
.xuanhao{}
.xuanhao h3{ border-bottom:4px solid #ff9600; line-height:40px; height:35px; font-size:14px; font-weight:600; color:#ff6600; text-indent:20px;}
.xuanhao-p1{ margin:30px 0;}
.xuanhao-p1 a{ float:left;}

.xuanhao-p2{width:930px; margin:10px; border:1px solid #ccc;border-top:0px; 
	background:#fff; padding-bottom:20px;}
.xuanhao-p2 .p2-tab{  height:34px; width:930px;background:#fff url(../images/xuanhao_bg.png) 0 -74px repeat-x; border-bottom:1px solid #eee;}
.xuanhao-p2 .p2-tab dt{ float:left; height:35px; border-top:1px solid #ccc;}
.xuanhao-p2 .p2-tab dt select{ margin:5px 10px; width:150px; padding:2px; height:24px; line-height:30px;}
.xuanhao-p2 .p2-tab dd{ float:left; line-height:33px; border-top:1px solid #ccc;
	background:#fff url(../images/xuanhao_bg.png) top right repeat-x;}
.xuanhao-p2 .p2-tab dd a{ color:#325e7f; font-weight:600; margin:0 10px;}
.xuanhao-p2 .p2-tab dd a:hover{ color:#F90; font-weight:600; text-decoration:underline;}
.xuanhao-p2 .p2-tab dd.last{background:#fff url(../images/xuanhao_bg.png) 0 0 repeat-x; }
.xuanhao-p2 .p2-tab dd.c{border-top:0px solid #ccc;  background:#fff url(../images/xuanhao_bg.png) 0 -36px repeat-x;}
.xuanhao-p2 .p2-tab dd.c a{ padding:0 20px; color:#000;}
.xuanhao-p2 .p2-tab2{ height:24px; padding:0 10px; margin-top:5px; clear:both;background: url(../images/xuanhao_bg2.png) 0 bottom repeat-x;}
.xuanhao-p2 .p2-tab2 li{ float:left; margin-right:20px; line-height:24px;}
.xuanhao-p2 .p2-tab2 li a{ color:#333; font-weight:300;}
.xuanhao-p2 .p2-tab2 li.c{width:80px; background: url(../images/xuanhao_bg2.png) 0 0 no-repeat; text-align:center;}
.xuanhao-p2 .p2-tab2 li.c a{ color:#000; font-weight:600;}
.xuanhao-p2 .list{ margin:10px 5px 0 10px; height:200px; overflow:auto;}
.xuanhao-p2 .list li{ float:left; line-height:35px; width:125px; text-align:center; font-size:14px; font-weight:600;}
.xuanhao-p2 .list li a, .xuanhao-p2 .list li span{ color:#AB4712; text-decoration:underline;}
.xuanhao-p2 .list li.c{ background:#ff6600; height:35px;}
.xuanhao-p2 .list li.c a, .xuanhao-p2 .list li.c span{ color:#fff; text-decoration:none;}
.xuanhao-p2 .list li a:hover{ color:#F90;}

.xuanhao-p3 ul{ margin:10px;}
.xuanhao-p3 li{ line-height:30px; border-bottom:1px dotted #eee;}
.xuanhao-p3 li strong{ color:#333; margin-right:10px;}
.xuanhao-p3 li span{ color:#069; margin-right:10px;}
.xuanhao-p3 li a{ color:#F90; text-decoration:underline;}

.xuanhao-p4 .list{ width:148px; height:230px; overflow:hidden; float:left; text-align:center;
	margin-left:6px !important; margin-left:3px; margin-right:4px; margin-bottom:20px; line-height:16px; }
.xuanhao-p4 .list a{ color:#333;}
.xuanhao-p4 .list .photo img{ width:100px; height:100px; border:1px solid #ccc;}
.xuanhao-p4 .list del{ color:#333;}
.xuanhao-p4 .list .name{ height:36px; overflow:hidden; line-height:18px;}
.xuanhao-p4 .list .name a{ color:#069;}
.xuanhao-p4 .list .price {color:#F90;}
.xuanhao-p4 .list .price span{ color:#999;}
.xuanhao-p4 .list .info a{ color:#06C; text-decoration:underline; line-height:18px;}

.xuanhao-but{ margin:10px 20px; text-align:center; border-top:3px solid #ff9600; padding:10px 0;}
.xuanhao-but table{ border:5px solid #eee;  border-collapse:collapse; display:block; margin:10px auto;width:400px; }
.xuanhao-but table td{ line-height:30px;border:1px solid #eee;width:300px; text-align:left; padding-left:10px;}
.xuanhao-but table th{ width:100px; text-align:right; border:1px solid #eee; line-height:30px; font-weight:300; color:#333;}
.xuanhao-but table td strong{ font-size:18px; font-weight:600; color:#F60;}


/* **************************************************************************************************************************** */



/* UI商品列表 */
ul.comm-120-150{ float:left; height:155px; width:122px; overflow:hidden; margin-left:10px !important; margin-left:5px; margin-top:3px;}
ul.comm-120-150 li.photo img{ height:120px;width:120px;border:1px solid #cbccd1;}
ul.comm-120-150 li.name{ line-height:20px; width:120px; height:20px; overflow:hidden;}
ul.comm-120-150 li.price{}

/* 支付选择 */
.p-title{ margin:20px 0 0; line-height:30px; text-indent:33px; font-size:14px; color:#603C1C; background: #ffc url(../images/icon_293.gif) 10px 6px no-repeat;}
.pay-tab{ margin:0px; margin-top:20px; float:left;}
.pay-tab li{ float:left; line-height:27px; height:27px; width:120px; background: url(../images/pay_tab_bg.gif) no-repeat; margin-right:8px; text-align:center}
.pay-tab li.current{ background: url(../images/pay_tab_c_bg.gif) no-repeat;}
.pay-tab li a{ color:#000; font-size:14px; font-weight:600;}
.pay-tab li.current a{ color:#fff;}
.pay-box{ border:1px solid #ec970f; background-color:#f4bd52; width:948px; }
.bgccc{ border:1px solid #ccc;background-color:#eee;}
.table-2-14{ margin:5px; background-color:#fff;}
.table-2-14 table{ border:0; width:730px !important;  width:720px;}
.table-2-14 table td{color:#000;font-size:14px; padding:10px 0 10px 5px;}
.table-2-14 table td.tb-label{ width:25%; line-height:15px;text-align:right; }
.table-2-14 table td.tb-field{ width:70%; }

.table-2-14 table .tb-field .f-f90{ width:180px; float:left;}
.table-2-14 table .tb-field .f-red{ width:100px; float:left;}
.table-2-14 table .tb-field .f-red span{ font-size:12px; color:#333; font-weight:300;}
.statement{ border:1px solid #ffcc33; background-color:#fff4c2; padding:8px; margin-bottom:10px; line-height:18px; font-size:12px; width:80%;}
.statement span.red{ color:#FF0000; font-weight:600; padding:0px 3px;}

/* 积分卡查询 */

.card .pay-tab li.current{ background: url(../images/card_tab_c_bg.gif) no-repeat;}
.card .pay-box{ border:1px solid #c2171f; background-color:#eee; width:720px !important;  width:710px; }
.card .table-2-14{ margin:5px; background-color:#fff; padding-top:20px;}
.card .but148{ margin-left:0;}

.link-210{float:right; width:210px;}
.link-210 img{ width:210px; height:312px;  margin-bottom:10px;}

.link-950{float:right; clear:both; margin-top:10px; }
.link-950 img{width:950px;height:100px; margin-bottom:10px;}



/* 侧边栏容器 box 210px */
.box-210{ width:210px; overflow:hidden; margin-bottom:10px;}
.box-210 h3{ font-size:12px; height:26px; line-height:26px;background: url(../images/box_210_top.gif) no-repeat; color:#FFF;
	margin:0px; padding:0;}
.box-210 h3 span{ margin-left:19px;}
.box-210 h3 a{ font-size:12px; float:right; margin-right:10px; font-weight:300; color:#666;}
.box-210 h3 a:hover{ color:#FF9900;}
.box-210 div.box-body{ border:1px solid #ccc;border-top:0px; padding-top:5px; width:208px;}
.box-210 ul{padding:0; margin-left:8px; margin-right:8px;}
.box-210 ul li{ line-height:22px;background: url(../images/icon_104.gif) left center no-repeat;}
.box-210 ul li a{ color:#666; margin-left:12px;}
.box-210 ul li a:hover{ color:#FF9900;}

.box-210 marquee{ color:#333;}

.box-210 dl{padding:0; margin-left:8px; margin-right:8px;}
.box-210 dl dt{ line-height:24px; height:24px; overflow:hidden; background:#f2f2f2 url(../images/links_q.gif) left 1px no-repeat;}
.box-210 dl dt a{ margin-left:24px; font-weight:600; color:#93241d;}
.box-210 dl dd{ padding:3px; line-height:18px; margin-bottom:5px;}

.box-190 dl{padding:0; margin-left:8px; margin-right:8px;}
.box-190 dl dt{ line-height:24px; margin-top:5px; height:24px; overflow:hidden; background:#FFE3AA url(../images/links_q.gif) left 1px no-repeat;}
.box-190 dl dt a{ margin-left:24px; font-weight:600; color:#93241d;}
.box-190 dl dd{ padding:3px; line-height:22px; margin-bottom:5px;}

/* 类目栏容器 class-210 */
.class-210{width:210px !important;width:205px; position:relative; overflow:hidden; min-height:200px;height:auto !important; height:200px; overflow:visible;
 margin-bottom:10px; position:relative;background: url(../images/class_bg_c.gif) repeat-y;}
.class-210 h3{ position:absolute; top:10px; left:5px; width:20px; font-size:14px; color:#fff; font-weight:600; line-height:20px;}
.class-210 h4{ font-size:14px; font-weight:600; color:#8F3D2C;margin:0px;  padding:0;  margin-left:40px;
	line-height:30px;clear:both; border-bottom:1px #FF9900 solid; margin-right:3px; display:block;}
.class-210 .class-210-t{ height:13px; width:210px; background: url(../images/class_bg_t.gif) no-repeat;}
.class-210 .class-210-c{ min-height:200px;}
.class-210 .class-210-b{ height:13px; position:absolute; bottom:0px; left:0; width:210px; background: url(../images/class_bg_b.gif) no-repeat; margin-bottom:0px !important; margin-bottom:-2px;}
.class-210 ul{ float:left; margin-bottom:10px; margin-left:20px !important; margin-left:5px; border-bottom:1px s dotted #ccc;}
.class-210 ul li{ float:left; line-height:22px; margin-left:10px;}
.class-210 ul li a{ color:#666;}
.class-210 ul li a.f-f90{ color:#FF9900}
.class-210 ul li a:hover{ color:#FF9900;}

/* 浏览过的商品 190 */
.class-190{ width:188px; margin-bottom:10px; overflow:hidden;  margin-right:10px; border:1px solid #FFE0A2; position:relative;background:#FFFDF4;}
.class-190 h3{ font-size:14px; height:30px;line-height:30px; background:#FFE0A2; color:#94130d;margin:0px; padding:0;}
.class-190 h3 span{ margin-left:18px;}
.class-190 ul li{ float:left; width:50px; margin-left:10px; margin-top:5px;border:1px solid #f5f5f5;}
.class-190 ul li a{ float:left;width:50px; }
.class-190 ul li a img{ height:50px; width:50px; float:left; margin-right:5px;}
.class-190 ul li a em{ color:#c20201; font-style:normal;}

/* 猜你喜欢 */
.cai{ width:188px; margin-bottom:10px; overflow:hidden;  margin-right:10px; border:1px solid #FFE0A2; position:relative;background:#FFFDF4;}
.cai h3{ font-size:14px; height:30px;line-height:30px; background:#FFE0A2; color:#94130d;margin:0px; padding:0;}
.cai h3 span{ margin-left:18px;}
.cai ul li{ float:left; width:80px; margin-left:10px; margin-top:5px; }
.cai ul li a{ float:left;width:80px; height:120px; }
.cai ul li a img{ height:80px; width:80px; float:left; margin-right:5px; border:1px solid #f5f5f5;}
.cai ul li a span{ color:#555; line-height:14px; height:28px; overflow:hidden; float:left; cursor:pointer;padding-top:5px;}


/* 热卖排行 box 190px */
.box-190{ width:190px; margin-bottom:10px;background: url(../images/box190_bg_c.gif) repeat-y; position:relative;}
.box-190 h3{ font-size:14px; height:42px; line-height:42px;background: url(../images/h3_bg3.gif) no-repeat; color:#94130d;
	margin:0px; padding:0;}
.box-190 h3 span{ margin-left:58px;}
.box-190 .box-190-b{ height:7px; width:190px; background: url(../images/box190_bg_b.gif) no-repeat;
	position:absolute; bottom:0px !important;bottom:-8px;}
.box-190 ul li{ float:left; width:170px; margin-left:10px; margin-top:5px; border-bottom:1px dotted #ccc;}
.box-190 ul li a{ float:left;width:170px; }
.box-190 ul li a img{ height:45px; width:45px; float:left; margin-right:5px;}
.box-190 ul li a span{ line-height:20px; height:20px; width:100px; *width:120px; overflow:hidden; color:#333; display:block; cursor:pointer;}
.box-190 ul li a:hover span{color:#FF9900}
.box-190 ul li a em{ color:#c20201;}

.sh-210-10{width:210px; height:auto; overflow:visible;background: url(../images/box190_bg_c2.gif) repeat-y;}
.sh-210-10 h3{background: url(../images/h3_bg4.gif) no-repeat;}
.sh-210-10 .box-190-b{width:210px; background: url(../images/box190_bg_b2.gif) no-repeat; }
.sh-210-10 ul{ float:left; margin-bottom:8px;}
.sh-210-10 ul li{ float:left; width:190px; margin-left:10px; margin-top:5px; border-bottom:1px dotted #ccc;}
.sh-210-10 ul li.li-4-10 a span{ float:left; margin-left:10px;width:180px; *width:180px; }
.sh-210-10 ul li.li-4-10 a img{display:none; }
.sh-210-10 ul li.li-4-10 a em{ float:left; margin-left:10px; display:none; }
.sh-210-10 a.more{ float:right; margin-right:10px !important;margin-right:5px; font-size:12px; color:#FF9900;font-weight:300;}

.sh-bg5 h3{background: url(../images/h3_bg5.gif) no-repeat; }
.sh-bg5 ul{ margin-bottom:7px;}


/* 水电煤缴费 */
.sdm-box{ border:1px solid #ccc;background: url(../images/sdm_bg.gif) left top repeat-x; height:200px; margin-top:10px;}
.sdm-box .sdm-link{ width:160px; height:160px; overflow:hidden; float:left; margin-left:18px !important;margin-left:13px; margin-top:20px;  position:relative;
	background: url(../images/sdm_bg2.gif) no-repeat; }
.sdm-box .sdm-link img{ float:left; margin-left:15px; margin-top:20px;}
.sdm-box .sdm-link h4{ float:left; margin-top:40px; margin-left:8px; font-size:18px; font-weight:600; color:#b97826;}
.sdm-box .sdm-link span{ line-height:20px; margin-left:15px; margin-top:10px; display:block;}
.sdm-box .but148{ position:absolute; bottom:10px; left:2px;}
/*lilei 20100409 add 自助缴费页面增加文案*/
.sdm-box .span0409{ color:#FF0000; font-family:Courier New; font-weight:700; margin-left:150px;}
/*lilei 20100409 add end*/

.fm{ width:600px; float:left;}
.fm .fm-item{ clear:both; margin-top:10px; line-height:30px;}
.fm .fm-item label{ width:150px; text-align:right; float:left; line-height:30px; font-size:14px;}
.fm .fm-item strong{ margin-left:10px; font-size:16px; color:#990000;font-weight:600; margin-right:10px;}
.fm .fm-item select{ margin-right:10px;}
.fm .fm-item span.required{ font-weight:600; color:#FF0000;}
.fm .fm-item span.rs{ margin-left:10px; color:#ccc}
.fm .fm-item .inp30{border:2px solid #ccc; padding:3px; height:20px; line-height:20px; font-size:16px; font-weight:600;}
.fm .fm-item .inp30-c{ border:2px solid #FFCC99; padding:3px; height:20px; line-height:20px; font-size:16px; font-weight:600; background-color:#FFF9E1}
.fm .fm-item p{ border:1px solid #FFCC66; line-height:30px; text-indent:30px; width:300px;color:#333; float:left;}
.fm .fm-item p.warning{ background: url(../images/msg_warning.gif) 10px 5px no-repeat}
.fm .fm-item p.info{ }
.fm .fm-item p.info strong{ font-size:14px; color:#A20000;font-weight:600; margin-right:5px;}


.fm-side{ position:relative; float:right;}
#fmSide{ top:68px; height:10px; position:absolute; border:2px solid red; }
.fm-side .sample img{ border:5px solid #eee;}
.none{display:none;}


/* 机票 */
.la730-a{ margin:0px 0 10px 0; background:#FFF3DF; float:left}
.la730-b{ margin:10px; margin-top:10px; border:1px solid #dbc359; background:#fff;}
.la730-s td{ line-height:50px; height:50px; padding-left:20px;}
.la730-s td input{ width:100px;}
.la730-s td.td-button input{ width:104px;}
.cs-ul{background:#ffead9 url(../images/ul_bg3.gif) left bottom repeat-x; height:30px; }
.cs-ul li{ float:left; text-align:center; line-height:23px; margin-top:5px; padding:0px 10px; margin-left:4px;
	background:#fff3eb; border-top:1px solid #ffead9;border-bottom:1px solid #c55c01; cursor:pointer;}
.cs-ul li.current{ border:1px solid #c45d01; border-bottom:1px solid #fff; color:#000; font-weight:600;}
.cs-ul li a{ color:#666;}
.cs-table{ width:100%;border:1px solid #ffead9;}
.cs-table th{ color:#333; line-height:30px; text-align:left; background-color:#FFF5EC; padding-left:30px; }
.cs-table td{ line-height:24px; border-bottom:1px solid #eee; padding-left:10px;}
.cs-table td span{color:#999; margin-right:5px;}
.cs-table td a{color:#006cc6;}
.cs-table td strong{ color:#fe6700; margin-left:5px; }

.jp-ul{ height:30px; }
.jp-ul li{ float:left; text-align:center; line-height:23px; margin-top:5px; padding:0px 8px; margin-left:4px;
	background:#fff; border:1px solid #ccc;border-bottom:1px solid #fff; cursor:pointer; color:#000;}
.jp-ul li.current{ background:#c45d01; border:1px solid #c45d01; color:#fff; font-weight:600;}
.jp-table{ width:100%;border-top:1px solid #c45d01; }
.jp-table th{ background:#c45d01; color:#fff; line-height:26px; font-weight:300; font-size:14px; text-align:left; padding-left:10px;}
.jp-table tr.tr_bg{ background-color:#F0FDFF;}
.jp-table td{ line-height:20px; border-bottom:1px solid #eee; padding:5px 0 5px 10px; border-bottom:1px dotted #ccc; }
.jp-table td img{ float:left;margin-top:3px; margin-right:5px;}
.jp-table td span{color:#999; margin-right:5px; }
.jp-table td a{color:#006cc6;}
.jp-table td strong{ color:#fe6700;font-size:16px;font-weight:600; margin-left:5px; margin-right:5px; }
.filter{ line-height:40px;}
.filter select{ margin-left:10px;}

.updata { float:left; padding:5px; background-color:#eee; width:100%;}
.updata li{ float:left; width:59px; line-height:18px; text-align:center;}
.updata li.current{ background-color:#FFCC66; }
.updata li.current a{ color:#fff}
.updata li a{ color:#003366}
.updata li a:hover{ color:#FD9904}

.la730-b h3{color:#463411; font-size:14px; text-indent:30px; padding:0;}
.la730-b h4{color:#333; font-size:14px; text-indent:20px; padding:0; line-height:40px;
	 background-color:#FFF9EE; border-top: 1px dotted #FBD2A6;border-bottom: 1px dotted #FBD2A6;}
.la730-b h4 img{ margin-right:10px;}
.la730-b h5{color:#000; font-size:14px; text-indent:30px; padding:0; margin-bottom:0;}
.la730-b h5 span{ font-weight:300; margin-left:10px; color:#666;}
.la730-b .jp-t2{ margin:10px; border:1px solid #D9ECFF; width:680px;}
.la730-b .jp-t2 th{ line-height:30px; padding-left:20px; text-align:left; background-color:#F0F8FF; color:#006699}
.la730-b .jp-t2 th span{ color:#FF9900; }
.la730-b .jp-t2 td{ line-height:24px; padding-left:10px}
.la730-b .jp-t2 td span{ color:#0049C4}
.la730-b .jp-t2 td span.f-096{ color:#FF0000; margin-left:10px; font-weight:300;}
.la730-b .jp-t3{ margin:10px 30px; line-height:25px;font-weight:600; color:#333;}
.la730-b .jp-t3 select{ margin-right:10px; width:50px;}
.la730-b .jp-t4{ width:680px; background-color:#f5f5f5; margin:10px auto; border-bottom:1px solid #eee; border-right:1px solid #eee;}
.la730-b .jp-t4 td{line-height:35px; padding-left:10px;}
.la730-b .jp-t4 td input.inp{ width:80px; margin-right:20px;}
.la730-b .jp-t4 td input.inp2{ width:160px; margin-right:20px;}
.la730-b .jp-t4 td input.inp3{ width:40px; margin-right:5px;}
.la730-b .jp-t4 td input.inp4{ width:110px; margin-right:20px;}
.la730-b select{ height:19px; padding:0;}
.la730-b .jp-t4 td select{ margin-right:10px;}
.la730-b .jp-t4 td span{ color:#FF6600; margin-left:10px;}
.la730-b .jp-t4 td strong{ color:#742618;}
.la730-b .jp-t5{border-collapse: collapse; width:680px;  margin:0 auto 30px auto;}
.la730-b .jp-t5 th{border:1px solid #FDA257; line-height:30px; font-weight:300; background-color:#FFF5E6; color:#000;}
.la730-b .jp-t5 td{border:1px solid #FDA257; line-height:30px; padding-left:20px; color:#000;}

/* 活动 */
.f-promotions{width:950px;}
.f-promotions .title-img{ width:950px;}
.f-promotions .f-p-title{ margin:10px auto; border:3px solid #FFCC00;width:944px; width:944px; overflow:hidden;}
.f-promotions .f-p-title h2{ font-size:16px; line-height:30px; margin:20px 20px 0 20px; text-indent:30px; background:none;}
.f-promotions .f-p-title p{ color:#FF6600; text-indent:20px; font-size:14px; padding:0 10px; line-height:22px;}
.f-promotions .f-p-title ul li{ line-height:20px;  margin-left:20px;}
.f-promotions-list{ margin-bottom:20px;}
.f-promotions-list h3{background:url(../images/h3_bg.gif) no-repeat; line-height:32px; height:32px; font-size:14px; display:block; }
.f-promotions-list h3 span{background:url(../images/h3_bg6.gif) top right no-repeat; display:block; float:left; height:32px;
	 width:auto; margin-left:30px !important;margin-left:15px;color:#FFF; padding-right:10px; }

.f-p-list{ margin-bottom:10px;}
.f-p-list .title-img{ width:500px; float:left;}
.f-p-list .f-p-title{ width:430px;float:right; border:3px solid #FFFFCC; height:194px;overflow:auto}
.f-p-list .f-p-title h2{ font-size:14px; line-height:30px; margin-left:20px;}
.f-p-list .f-p-title p{ color:#FF6600; text-indent:20px;}
.f-p-list .f-p-title ul li{ line-height:20px;  margin-left:20px;}

/* 订单查询 */
.formbasic{ width:950px; background-color:#eee; margin-top:10px;}
.formbasic table{ margin:10px; width:930px;}
.formbasic table td{ line-height:30px; font-size:13px; color:#660000;}
.formbasic table td.fm-label{ width:100px; padding-right:10px; text-align:right; color:#333; font-size:12px;}

/* 列表 */
.listbox table{ width:100%;}
.listbox th {
	font: 12px "Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;color: #dd7810;font-weight:normal;padding: 4px;
	line-height:25px;background:#fff url(../../images/user/icn_bt_split.gif) right no-repeat;border-bottom: 2px solid #990000;text-align: center;}
.listbox th a{ color:#006633; text-decoration:underline;}
.listbox .lastth {background: #fff;width: auto;}
.listbox td {padding: 3px 4px;border-bottom: 1px solid #cdd4e3;text-align: left;line-height:20px;}
.listbox tbody td {text-align: center;text-align: left;}
.tr_bg td{background-color:#f5f5f5;}
.email-wd td{ font-weight:600;}
.listbox .actionbt {width: 20px;}
.listbox td.td-classes{background: url(../../images/user/td_bg.gif) top left no-repeat; padding-left:55px;}
.listbox .table-box{border:1px solid #e6e6e6; margin-top:10px; }
.listbox .table-box th{ text-align:left;background:#f3f3f3;border:0px; border-bottom:1px solid #e6e6e6; padding-left:10px;}
.listbox td.w8{width:7%;}
.listbox td.w10{width:10%;}
.listbox td.w10b{ width:10%;color:#FF6600;}
.listbox td.w10c a{ margin-right:10px;}
.listbox td.w12{width:12%;}
.listbox td.w30{width:30%;text-align:left; color:#999;}
.listbox td.w30-th{width:30%;}
.listbox td.w100{text-align:left; color:#666; border-bottom:0px;}

/* 成功页面 */

.success-box{ height:150px; width:750px;background: url(../images/info_bg.gif) no-repeat; margin:30px auto 50px auto;}
.success-box h2{ display:block; margin-left:90px !important;margin-left:45px; margin-top:20px;text-align:center; line-height:50px; height:50px;
	 width:500px; text-indent:60px; font-size:18px; display:block; float:left; background:none;}
.success-box h2.success{ background: url(../images/icon_a.gif) no-repeat;color:#1e6e19;}
.success-box h2.error{ background: url(../images/icon_b.gif) no-repeat;color:#792020;}
.success-box h2.warning{ background: url(../images/icon_c.gif) no-repeat;color:#805A22;}
.success-box ul{ margin:20px 0 0 230px !important; margin:20px 0 0 110px; float:left;}
.success-box ul li{ float:left; margin-left:10px;}

/*分页*/
.pages {margin:5px 10px 10px 5px; vertical-align:middle; text-align:right;}
.pages a {text-align:center;text-decoration:none;	border:#AECAF4 1px solid;padding:0px 5px;margin-left:3px;}
.pages a:hover {text-decoration:none;background-color:#E7FAFE;border:#7DC0F7 1px solid;color:#FF9900;}
.pages input {color:#87a32e;border:#76bac2 solid 1px;padding:1px;margin-top:1px;height:13px;}
.pages input:hover {border:#FF9900 solid 1px;}

a.zf-but{ line-height:30px; background: url(../images/zf_but_bg.gif) top center; padding:4px 10px; color:#fff; border:1px solid #B50000;}
a.zf-but:hover{ color:#333333}

.pay-ul li{ clear:both; line-height:23px; margin-bottom:10px; }
.pay-ul li input[type="radio"]{ float:left; margin-top:5px; *margin-top:0px; margin-right:5px;}
.pay-ul li strong{ float:left; line-height:23px; color:#1F304B}
.pay-ul li input{ float:left; margin-left:10px;}
.pay-ul li input.inp{ float:none; margin-right:10px; width:40px;}
.pay-ul li span span{ color:#FF6600; font-weight:600; padding:0 5px;}

/* 积分 */
.jf-box{ margin:10px; border-bottom:1px solid #eee;}
.jf-box a.link{line-height:25px; text-align:center; padding:0 10px; text-indent:0; background-color:#FF9900; color:#fff; font-size:12px; float:right; }
.jf-box a.link:hover{background-color:#FF3300;}
.jf-box img{ float:left; margin:0 10px 10px 10px; width:120px; padding:1px; border:1px solid #FFE0A6;}
.jf-box dl{ float:left; width:550px; background-color:#FFFDF4; border-bottom:1px dotted #FFE0A6;}
.jf-box dt{ line-height:25px; background-color:#FFF0DD; font-size:14px; text-indent:24px; margin-bottom:10px; font-weight:600;}
.jf-box dd{ line-height:24px; padding-left:10px;}
.jf-box strong{ color:#333; margin-right:10px;}
.jf-but{ margin:10px; clear:both; text-align:center;}
.details img{ width:200px;}
.details dl{ float:left; width:450px; background-color:#FFFDF4; border-bottom:1px dotted #FFE0A6;}
.box-730-c .detail-other{ margin:10px; width:700px; overflow:hidden;}

.apply-table{ margin:10px; width:600px; border-collapse:collapse; border:1px solid #eee;}
.apply-table th{ text-align:right; line-height:30px; font-weight:300; background-color:#eee; width:120px; padding-right:10px;}
.apply-table td{ border:1px solid #eee; padding-left:10px;}

/* 趣味中心 */
.qwzx{ width:750px;  margin:30px auto; background: url(../images/qwzx.png) no-repeat; }
.qwzx img{ margin-left:35px;}
.qwzx .p-box{ width:650px; margin:0px auto 20px auto; border:3px solid #EFB669; background-color:#eee; padding:10px;}

/* 闲置商品 */
.goods-xz{ background-color:#FFFBF7; clear:both;}
.goods-xz h2{ font-size:18px; line-height:30px; background:#fffaf0; color:#333; float:left; width:930px; clear:both; margin:0 10px; text-indent:20px; padding:0;}
.goods-xz dl{ border-bottom:1px dotted #ccc; margin:5px 10px; clear:both; float:left; width:930px;}
.goods-xz dl dt{ float:left; height:60px; width:680px; color:#999;}
.goods-xz dl dt a.list_title{ line-height:30px; font-size:14px;}
.goods-xz dl dt img { float:left; width:50px; margin-bottom:10px; height:50px; margin-right:10px;}
.goods-xz dl dd{ float:left; width:120px; line-height:50px; color:#FF0000;}
.goods-xz dl dd.date{ color:#999;}

.goods-xz .xz-list{ width:950px; margin:10px 0; border-collapse:collapse; background-image:url(../images/trbg3.jpg); background-repeat: no-repeat;}
.goods-xz .xz-list th{ color:#371515; border-bottom:1px solid #F96; line-height:30px; }
.goods-xz .xz-list td{ line-height:25px; padding:5px; border-bottom:1px dotted #eee;}
.goods-xz .xz-list td .red{ color:#F00; font-weight:600;}
.goods-xz .xz-list tr.bg td{background:#fff;}

.goods-xz-title{background: url(../images/xzsp_title.gif) left top no-repeat; height:100px;  }
.goods-xz-title p{ display:block; margin-top:60px; text-indent:0; margin-left:640px; font-size:14px; color:#743123;}
.goods-xz-title p .inp{ width:150px; padding:1px 2px; border:1px solid #ECA539; background-color:#FFFAF0}
.goods-xz-title2{background: url(../images/cddyj_title.jpg) left top no-repeat; height:100px;  }
.goods-xz-title2 p{ display:block; margin-top:60px; text-indent:0; margin-left:640px; font-size:14px; color:#743123;}
.goods-xz-title2 p .inp{ width:150px; padding:1px 2px; border:1px solid #ECA539; background-color:#FFFAF0}
.goods-xz-photo { background-color:#fff; clear:both; margin:10px;}
.goods-xz-photo .l{ float:left; width:400px; text-align:center; border:1px solid #f6ba60; overflow:hidden; margin:10px 10px !important; margin:10px 5px;}
.goods-xz-photo .l img{ width:300px;}
.goods-xz-photo .r{ float:right; width:480px;}
.goods-xz-photo .r li{ line-height:35px; font-size:14px; clear:both; border-bottom:1px dotted #f6ba60; margin-right:20px;}
.goods-xz-photo .r label{ width:100px; float:left;}
.goods-xz-photo .r span{ color:#006699}
.goods-xz-photo .r span.red{ font-weight:600; color:#F00; font-size:16px;}
.goods-xz-photo .r p{ background-color:#eee; margin-right:15px; display:block; margin-top:10px;}
.goods-xz-photo .r img{ width:50px; margin:10px 5px; border:2px #eee solid;}
.goods-xz-photo .r .current img{border:2px #FF9900 solid;}
.goods-xz-p{ margin:10px; background-color:#fff; padding:10px;}
.goods-xz-p h3{ font-size:14px;color:#333; }

/* 拍卖 */

.auction-box{ clear:both; margin:10px 0;}
.auction-l{ width:218px; background:#fffcf0; float:left; margin-right:10px; padding-bottom:10px;border:1px solid #fce5b9;border-top:3px solid #fbdca2;}
.auction-l h3{ font-size:12px; line-height:30px; height:30px; margin:0; text-indent:20px; color:#900;}
.auction-l p{ color:#333; line-height:20px; margin-top:5px; text-indent:10px;}
.auction-l p a{ color:#069;}
.auction-l p span{ color:#F60; font-weight:600;}
.auction-l img{ width:200px; margin-left:10px; border:1px solid #fbdca2;}
.auction-r{ float:right; width:718px;background:#fffcf0;border:1px solid #fce5b9;border-top:2px solid #fbdca2;}
.auction-r table th{ width:100px; text-align:right; padding-right:10px; font-weight:300; color:#000; line-height:30px;}
.auction-r table td{ line-height:30px;}
.auction-r table td .f-red{ color:#F00; font-weight:300;}
.auction-r h3{font-size:12px; line-height:38px; height:38px; margin:0; text-indent:40px; color:#900;
	border-top:1px solid #fbdca2;}

.auction-r ul.dz{ margin-bottom:10px;}
.auction-r ul.dz li{ color:#333;}
.auction-r h3.icon-sh{background: url(../images/h3_ico_a.gif) top left no-repeat; text-indent:40px;line-height:35px;padding:0;}
.auction-r h3.icon-dd{background: url(../images/h3_ico_b.gif) no-repeat; text-indent:40px;line-height:35px; padding:0; }
.auction-r h3.icon-tj{background: url(../images/h3_ico_c.gif) no-repeat; text-indent:40px;line-height:35px; padding:0; }
.auction-r .but148{ margin:10px;}

/* 高级搜索 */
.main h2.search{ width:950px; height:32px; line-height:32px; margin:10px 0; padding:0; background:url(../images/h2_bg.gif) top left no-repeat;}
.main h2.search span{ font-size:16px; font-weight:600; color:#FFF; margin-left:45px;}
input.but148{ border:0px; height:29px; line-height:29px;width:148px; padding-bottom:5px;*padding-bottom:0px;
	background: url(../images/button_bg.gif) 0 -155px no-repeat; color:#fff; font-size:14px; font-weight:600;cursor:pointer;}
.advanced-search{ margin:20px auto; width:700px; background-color:#f5f5f5;}
.advanced-search table{ display:block; margin:20px 10px;}
.advanced-search table td{ line-height:30px;}
.advanced-search table td.td-l{ text-align:right; width:150px; padding-right:10px;}
.advanced-search table td.td-t{text-align:right; width:300px; padding-right:10px;}
.advanced-search table td.td-r{ text-align:left; color:#7D1E06; font-weight:600; }
.advanced-search table td.td-r span{ color:#006699; font-weight:300; margin-left:10px;}
.advanced-search table select{ margin-right:10px;}
.advanced-search p{ color:#B05400; font-size:14px; margin-left:50px; width:500px; line-height:28px;
	 border-bottom:1px dotted #FFCC66; margin-bottom:10px; }
.advanced-search p img{ margin-right:10px;}
.tpcg{color:#FF6600; background:url(../images/icn_errortips_ok.gif ) top left no-repeat; padding-left:30px;}

/* 频道主页橱窗 */
.box-730{background: url(../images/box_730_bg.gif) repeat-y; margin-bottom:10px;}
.box-730 h3{ font-size:12px; margin:0px; padding:0px; background: url(../images/box_730_bg_t.gif) no-repeat; line-height:30px; height:26px; overflow:hidden; color:#9A6223;}
.box-730 h3 span{ margin-left:25px;}
.box-730 .box-730-c{ width:730px; clear:both; background: url(../images/box_730_bg_b.gif) left bottom no-repeat; padding-bottom:10px;}
.box-730 .box-730-l{ float:left; margin-left:6px; height:300px; width:180px;}
.box-730 .box-730-l img{ height:300px; width:180px;}

.pd-top{ position:relative; height:190px; overflow:hidden;}
.pd-top h3 span{ display:none; }
.pd-top .box-730-c{ height:154px;}
.pd-top a{ display:block; position:absolute; top:4px; left:5px;}
.pd-top a img {width:720px; height:180px;}

.sh-80-6{background: url(../images/box_730_bg2.gif) no-repeat; }
.sh-80-6 h3{ background:none;line-height:26px; height:26px; overflow:hidden; color:#fff;}
.sh-80-6 h3 span{ margin-left:45px;}
.sh-80-6 .box-730-c{ background:none; border:1px solid #dedede; border-top:0; width:728px; }
.sh-80-6 .box-730-c ul.comm-120-150{float:left; height:155px; width:92px; overflow:hidden; margin-left:10px !important; margin-left:5px; margin-top:3px;}
.sh-80-6 .box-730-c ul.comm-120-150 li.photo img{height:92px; border:1px solid #d4d4d4;}
.sh-80-6 .box-730-c ul.comm-120-150 li.photo1 img{height:92px; width:90px; border:1px solid #d4d4d4;}
.sh-80-6 .box-730-c ul.comm-120-150 li.name{ line-height:20px; width:90px; height:40px; overflow:hidden; text-align:center;}

/* 资讯中心首页 */
.bbs h4{ margin:20px 0 0 0; padding:0; line-height:30px; height:30px;  background: url( ../images/list.png) repeat-x;}
.bbs h4 a{ color:#000; font-size:14px; font-weight:600; margin-left:0px;}
.bbs h4 a.more{ float:right; margin-right:20px; color:#fff; font-size:12px; font-weight:300; padding:0px 5px; line-height:20px; background-color:#FF9900;}
.bbs table{ width:950px; border:1px solid #FFDEA6; border-collapse:collapse;}
.bbs table th{ line-height:20px; text-align:center; font-weight:300; color:#000; background-color:#fff;}
.bbs table td{ line-height:25px;border:1px solid #FFDEA6; background-color:#FFFAF0; padding:5px 10px;}
.bbs table td a{ color:#333;}
.bbs table td.title{background:#FFFAF0 url( ../images/page_white.gif) 10px 10px no-repeat;}
.bbs table td.title a{ margin-left:20px;}
.bbs table td.title a:hover{ color:#FF6600}
.bbs table tr.admin td.title{background:#FFFAF0 url( ../images/page_white2.gif) 10px 10px no-repeat;}
.bbs table tr.manager td.title{background:#FFFAF0 url( ../images/page_white3.gif) 10px 10px no-repeat;}
.bbs table tr.admin td.title a{  color:#820000}
.bbs table tr.manager td.title a{ color:#820000 }
.bbs table .author{ width:100px; text-align:center;}
.bbs table .time{ width:100px;text-align:center;}
.bbs table .reply{ width:50px;text-align:center;}
.bbs table .last-reply{ width:100px;}
.bbs h4 a.add{ border:0px; height:20px; line-height:20px;width:100px; display:block; float:right; margin-right:20px;
	background: url(../images/but_100_20.gif) no-repeat; color:#000;cursor:pointer; font-size:12px;text-align:center; color:#990000}
.bbs table td.title a.bn-top{ color:#0066CC}
.bbs table tr td.title a.bn-top{ color:#0066CC; font-weight:300;}
.bbs table tr.tr-top td a{ font-weight:600;}
/* comment */
.comment{width:948px;border:1px solid #DDD;margin-top:10px;background-color:#FFF;}
.comment .news{ width:900px; margin:0px auto;}
.comment .commenttitle{width:948px;height:26px;margin:1px auto;border-bottom:1px solid #DDD;border-top:1px solid #DDD;
	background:url(../images/title_bg_1.gif) repeat-x;}
.comment .commenttitle div{float:left;margin:5px 0px 0px 12px;color:#999;display:inline;}
.comment .commenttitle div strong{letter-spacing:1px;color:#444;margin-right:10px;}
.comment .commenttitle a{float:right;display:block;width:95px;height:22px;display:inline;text-align:center;line-height:22px;
	text-decoration:none;background:url(../images/user/ico_gotopost.gif) no-repeat;margin:1px 3px 0px 0px;}
.comment .commentbox{}
.comment .commentbox dl{width:870px;margin:10px auto 0px;border:1px solid #FFE7B9;}
.comment .commentbox dl dt{width:870px;background:#FFF9F0;line-height:25px;text-indent:10px;color:#333;border-bottom:1px solid #FFECC8;}
.comment .commentbox dl dt strong{margin-right:5px;}
.comment .commentbox dl dt span{color:#669933;font-size:11px;}
.comment .commentbox dl dd{padding:10px;font-size:14px;line-height:25px;color:#666;}

/* add comment */
.comment .posttitle{width:948px;height:26px;margin:10px auto;background:url(../images/title_bg_1.gif) repeat-x;border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;}
.comment .posttitle strong{letter-spacing:1px;color:#444;display:block;margin:7px 0px 0px 13px;}
.comment .postbox{width:800px;margin:5px auto;overflow:hidden;}
.comment .postbox .txtbox{width:800px;line-height:25px;}
.comment .postbox .txtbox textarea{border:1px solid #CCC;width:750px;height:120px;padding:5px; margin-bottom:10px;}
.comment .postbox  .sbut{margin:10px;}
.comment .postbox .userbox .submit{width:100px;height:25px;padding-top:2px;}
.comment .postbox .txtbox .form{ clear:both;}
.comment .postbox .txtbox .form span{ float:left; line-height:25px; width:50px; margin-right:10px;}
.comment .postbox .txtbox .form .inp{border:1px solid #CCC; width:605px; padding:2px;}
.comment .postbox .txtbox .form .inp2{border:1px solid #CCC; width:66px; padding:2px;}
.comment .postbox .txtbox .form textarea{border:1px solid #CCC;width:600px;height:400px;padding:5px; margin-bottom:10px;}

/* 公告 */
.news h2{ text-align:center; font-size:20px; line-height:40px; color:#333; border-bottom:1px solid #eee; padding:0; margin:20px 0 10px 0;
	background:none;}
.news h3{background: url( ../images/blogicon_002.gif) left center no-repeat; margin:10px; line-height:40px; text-indent:40px; font-size:20px; color:#FF9900;
	border-bottom:2px solid #FFE6B5;}
.news .news-info{ text-align:center; color:#999; line-height:30px;}
.news .news-info span{ margin-left:20px; }
.news .news-content{ border:1px solid #F4FDFF;line-height:25px; color:#555; font-size:14px; }
.news .news-content p{ line-height:25px; color:#555; font-size:14px; text-indent:40px; padding:10px;}
.news .news-content img{ text-align:center; margin:10px auto; display:block;}
.news .news-list{ margin:10px;}
.news .news-list li{ line-height:30px; background: url( ../images/icon_104.gif) left center no-repeat; border-bottom:1px dotted #eee;}
.news .news-list li a{ font-size:14px; color:#003366; margin-left:15px;}
.news .news-list li a:hover{ color:#0066CC;}
.news .news-list span{ float:right; margin-right:20px; color:#ccc;}

/*中奖名单*/
.name-list { width:900px; margin:10px auto; background-color:#f5f5f5; }
.name-list tr th{ line-height:30px; background-color:#FF9900; color:#fff;}
.name-list tr td{ line-height:40px; padding:0 5px;}
.name-list tr.bg td{ background-color:#fff;} 

.name-list-notice { width:600px; margin:10px auto; background-color:#f5f5f5; }
.name-list-notice tr th{ line-height:30px; background-color:#FF9900; color:#fff;}
.name-list-notice tr td{ line-height:40px; padding:0 5px; text-align:center;}
.name-list-notice tr.bg td{ background-color:#fff;} 

/* 帮助中心 */
.map h3{ font-size:14px; font-weight:600; color:#5B0000; clear:both; line-height:40px; padding:0; margin:10px 0 0px 10px;}
.map ul{ float:left; background-color:#eee; width:950px;padding:10px 0;}
.map ul li{ float:left; width:170px;  line-height:30px; margin-left:20px; background: url(../images/icon_104.gif) left center no-repeat}
.map ul li a{ margin-left:15px;}

/* help */
.help-l{ width:240px; float:left; margin-top:10px;border:1px solid #f9d5be; }
.help-l h2{ margin:0px; padding:0; background: url(../images/help_t.gif) left bottom no-repeat; height:75px; width:240px; overflow:hidden; display:block;}
.help-l h2 span{ display:none;}
.help-l h4{ margin:0px; padding:0; line-height:30px; height:30px;overflow:hidden; }
.help-l h4 span, .help-l h4 span.c{ width:18px; height:14px; display:block; float:left; margin-top:8px; margin-left:10px;
	background: url(../images/icn_bt_plus.gif) no-repeat;}
.help-l h4 span.c{ background: url(../images/icn_bt_minus.gif) no-repeat;}
.help-l h4 a{ color:#333; font-size:14px; margin-left:5px; font-weight:300;}
.help-l h4.menu-closed{ font-weight:300;}
.help-l h4.menu-closed a{ font-weight:600;}
.help-l h4.menu-closed span{background: url(../images/icn_bt_minus.gif) no-repeat;}
.help-l ul li{ line-height:20px; margin-left:15px; background: left 5px url(../images/icon_104.gif) no-repeat;}
.help-l ul li a{ margin-left:12px;}
.help-l ul li.c a{ color:#FF6600; font-weight:600;}

.help-r{ width:700px; float:right; margin-top:10px;}
.help-search{ width:700px; height:76px; background: url(../images/help_s.gif) no-repeat; position:relative;}
.help-search .inp{ position:absolute; top:30px; left:270px; width:300px; padding:3px; border:1px solid #f9d5be;}
.help-search .but{position:absolute; top:30px; left:600px; width:70px;}
.help-r h3{ font-size:14px; text-indent:30px;  padding:0; line-height:35px; background: url(../images/header_bg.gif) bottom repeat-x;}
.help-r h3 span{  background: url(../images/links_q.gif) left -3px no-repeat;color:#333; font-weight:600; padding-left:23px;}
.help-r h3 span a{ font-weight:300; font-size:13px; margin-left:10px; color:#FF6600}
.help-list ul{ margin:10px 20px 10px 30px;}
.help-list ul li{ line-height:22px;background: left 7px url(../images/icon_104.gif) no-repeat;}
.help-list ul li a{ margin-left:15px; font-size:13px;}
.help-list p{ color:#333; line-height:22px; margin:10px;}
.help-r dl{ width:340px !important;width:330px; height:85px; overflow:hidden; float:left; margin:10px 0px 10px 10px; background-color:#fefeeb;}
.help-r dl dt{ clear:both; line-height:30px;font-size:12px; font-weight:600; line-height:22px;background: 6px 10px url(../images/dd_bg.gif) no-repeat;}
.help-r dl dt a{color:#333; margin-left:10px;line-height:30px; margin-left:20px;}
.help-r dl dd{ float:left; margin-left:10px; line-height:25px;}
.help-r dl dd a{ margin-right:10px;}

/* 套餐查看 */
.table-tc{ width:500px; border:5px solid #eee; display:block; margin:0; border-collapse:collapse;}
.table-tc th{ border:1px solid #ccc; width:130px; padding-right:10px; text-align:right; 
	line-height:30px; font-size:12px; color:#333; font-weight:300; background:#f5f5f5;}
.table-tc td{ padding-left:10px; border:1px solid #ccc; font-size:12px; color:#F60;}	
	
	
	

