@charset "utf-8";
/* CSS Document */
.buy-Level-1, .buy-Level-2, .buy-Level-3, .buy-Level-4, .buy-Level-5, .buy-Level-6, .buy-Level-7, .buy-Level-8, .buy-Level-9, .buy-Level-10, .buy-Level-11, .buy-Level-12, .buy-Level-13, .buy-Level-14, .buy-Level-15, .buy-Level-16, 
.sell-Level-1, .sell-Level-2, .sell-Level-3, .sell-Level-4, .sell-Level-5, .sell-Level-6, .sell-Level-7, .sell-Level-8, .sell-Level-9, .sell-Level-10, .sell-Level-11,  .sell-Level-12, .sell-Level-13, .sell-Level-14, .sell-Level-15, .sell-Level-16{
 height:16px; display:block; float:left; line-height:16px; background-image:url(../images/credit.png); background-repeat:repeat; cursor:pointer;}
.buy-Level-1, .sell-Level-1{ width:16px; background-position:0 0;}
.buy-Level-2, .sell-Level-2{ width:32px; background-position:0 0;}
.buy-Level-3, .sell-Level-3{ width:48px; background-position:0 0;}
.buy-Level-4, .sell-Level-4{ width:64px; background-position:0 0;}
.buy-Level-5, .sell-Level-5{ width:80px; background-position:0 0;}
.buy-Level-6, .sell-Level-6{ width:16px; background-position:0 -14px;}
.buy-Level-7, .sell-Level-7{ width:32px; background-position:0 -14px;}
.buy-Level-8, .sell-Level-8{ width:48px; background-position:0 -14px;}
.buy-Level-9, .sell-Level-9{ width:64px; background-position:0 -14px;}
.buy-Level-10, .sell-Level-10{ width:80px; background-position:0 -14px;}
.buy-Level-11{ width:16px; background-position:0 -47px;}
.buy-Level-12{ width:32px; background-position:0 -47px;}
.buy-Level-13{ width:48px; background-position:0 -47px;}
.buy-Level-14{ width:64px; background-position:0 -47px;}
.buy-Level-15{ width:80px; background-position:0 -47px;}
.buy-Level-16{ width:80px; background-position:0 -83px;}
.sell-Level-11{ width:16px; background-position:0 -30px;}
.sell-Level-12{ width:32px; background-position:0 -30px;}
.sell-Level-13{ width:48px; background-position:0 -30px;}
.sell-Level-14{ width:64px; background-position:0 -30px;}
.sell-Level-15{ width:80px; background-position:0 -30px;}
.sell-Level-16{width:80px; background-position:0 -64px;}


.f-f60, a.f-f60{ color:#f60; margin-right:5px;}
.f-f90, a.f-f90{ color:#f90; margin-right:5px;}
.main{ margin-top:10px;}
.shop-left{ width:200px; float:left; overflow:hidden; background-color:#fff;}
.shop-right{width:740px; float:right; overflow:hidden;}
a.link-f{ width:120px; display:block;  height:27px; line-height:27px;   margin-left:27px; margin-top:5px;background: url(../images/link_favorites.gif) no-repeat;}
a.link-f span{ display:none;}

.shop-top{ width:950px; height:150px; background:#ffc url(../images/top_mr.jpg) no-repeat; overflow:hidden; border-bottom:1px solid #d5d5d5; position:relative;}
.shop-top h2{ font-size:24px; color:#2C4765; line-height:80px; text-indent:50px;}
.shop-top ul{ display:block; top:128px;left:30px; position:absolute; z-index:9999;}
.shop-top ul li{ float:left; margin-left:10px; line-height:26px; width:80px; text-align:center; background: url(../images/shop_nav_bg.gif) no-repeat;}
.shop-top ul li.current{background: url(../images/shop_nav_bg.gif) -25px left no-repeat;}
.shop-top ul li.current a{ color:#FF9900;}

.shop-190{ width:188px; overflow:hidden; border:1px solid #e4e4e4; background:#FFFEFB; margin:5px !important; margin:3px; float:left;}
.shop-190 h3{ background:#f5f5f5; font-size:12px; line-height:30px; height:25px; color:#000; text-indent:2px; margin:0px; padding:0; border-bottom:1px solid #999;}
.shop-190 table{ margin:5px; width:178px; overflow:hidden;}
.shop-190 table td{ line-height:22px;}
.shop-190 table td.tb-label{ width:80px; vertical-align:text-top;}
.shop-190 .inp{ width:100px; color:#999; padding:2px;}
.shop-190 h4{ line-height:25px; font-size:12px; padding:0; margin:0;color:#296D7E;font-weight:600;}
.shop-190 h4 span { margin-left:10px; cursor:pointer; width:18px; height:25px; line-height:25px;  float:left;}
.shop-190 h4 span.plus{background: url(../images/icn_bt_plus.gif) left 5px no-repeat;}	
.shop-190 h4 span.minus{background: url(../images/icn_bt_minus.gif) left 5px no-repeat;}	
.shop-190 h4 a{ margin-left:15px; font-weight:600; margin-left:5px; color:#296D7E;}
.shop-190 .promote-link{ line-height:35px; display:block; width:80px; height:35px; float:left; color:#660000; margin-left:40px !important;margin-left:20px; text-indent:20px;
	background: url(../images/icon_s_h.gif) left center no-repeat;}
.menu h4 img, .menu ul li img{ width:150px;}
.shop-190 .a-buy-tg img{ margin-top:8px; margin-left:5px;}

.shop-190 ul{ margin:5px;}
.shop-190 ul li{ line-height:20px;}
.shop-190 ul li a{ margin-left:20px;}

.shop-right h2{ font-size:20px; line-height:30px; margin:0;padding:0; clear:both; color:#006699; border-bottom:2px dotted #ccc; margin-bottom:10px;}
.shop-right h2 span{ background-color:#FF6600; color:#fff; line-height:30px; font-size:14px; padding:3px 10px; margin-left:10px; vertical-align:middle;}
.shop-right h3{ background:#FFFFCC; line-height:25px; height:25px; font-size:12px; color:#333; padding:0; margin:0; text-indent:24px; }
.shop-right h3 a{ float:right; margin-right:10px; font-size:12px; font-weight:300;}
.shop-right h4{ line-height:27px; font-size:13px; font-weight:600; color:#333; margin:20px 0 10px 0; text-indent:10px; padding:0;
	background: url(../images/h4_bg.png) repeat-x; clear:both;}
.shop-right .shop-new{ width:740px; overflow:hidden; margin-bottom:10px; line-height:20px; font-size:14px;}
.shop-right p.cx{ font-size:14px; line-height:30px; color:#990000; text-indent:30px;}
/* shop商品列表 */
.shop-right .shop-recomm{ margin-bottom:10px;}
.shop-recomm ul.comm-120-150{ float:left; height:195px; width:160px; overflow:hidden; margin-left:20px !important; margin-left:15px; margin-top:3px; margin-bottom:5px;}
.shop-recomm ul.comm-120-150 li.photo img{ width:160px; height:160px;}
.shop-recomm ul.comm-120-150 li.name{ line-height:20px; width:160px; height:20px; overflow:hidden;}
.shop-recomm ul.comm-120-150 li.price{ color:#A21313; font-weight:600;}

.shop-right .shop-740{ margin-bottom:10px;}

.shop-740 ul.comm-120-150{ float:left; height:185px; width:130px; overflow:hidden; margin-left:15px !important; margin-left:10px; margin-top:3px;}
.shop-740 ul.comm-120-150 li.photo img{ width:130px; height:130px;}
.shop-740 ul.comm-120-150 li.name{ line-height:20px; width:130px; height:20px; overflow:hidden;}
.shop-740 ul.comm-120-150 li.price{ color:#A21313; font-weight:600;}

.shop-740 table { width:740px;}
.shop-740 table td{ padding:10px; text-align:left;}
.shop-740 table td.td-200{ width:130px; vertical-align:text-top; text-align:right;color:#000; line-height:20px;}
.shop-740 p{ margin:0; margin-left:130px; display:block; border:1px solid #FFE5A8; padding:10px; background-color:#FFFFCF;}
.shop-740 p span{ color:#FF9900;}

.shop-740 table th{ line-height:30px; background-color:#eee;}
.shop-740 table tr.th th{ background-color:#fff;}
.shop-740 table td span.pj-time{ display:block; color:#ccc; width:150px; line-height:25px;}
.shop-740 table td span.f-red{color:#FF0000; font-weight:600;display:block;width:80px;}

.evaluation{ margin:10px auto; width:740px; background-color:#FFF; border:1px #A46B20 solid; border-collapse:collapse;}
.evaluation th span, .evaluation th a{ float:left;margin-right:10px; line-height:20px; color:#333; }
.evaluation th a{ color:#FF6600; font-weight:600;}
.evaluation th{ padding:10px; border:1px dotted #A46B20; }
.evaluation td{ width:33%; padding:20px 0 20px 10px; background-color:#FFF3E1}
.evaluation td img{ margin-right:10px;}
.evaluation td a{ font-size:14px; margin-left:10px; font-weight:600; color:#006699; text-decoration:underline;}
.evaluation td a:hover{color:#FF9900;}

/* shop全部商品 */
.shop-search{ border:1px solid #eaeaea; background-color:#f4f4f4; margin-bottom:10px;}
.shop-search div{ margin:10px; border:1px solid #eaeaea; background-color:#fff;}
.shop-search div.clear{ margin:0px; border:0px solid #eaeaea;}
.shop-search ul{ margin-top:4px;}
.shop-search ul li{ float:left; margin-left:10px; line-height:22px;}

.show-div .page{ float:right; line-height:25px;}
.show-div .page li{ float:left; display:block; margin-left:5px; width:22px; height:18px; line-height:18px; margin-top:2px;
	text-align:center; border:1px solid #eee;}
.show-div .page li.current{ background-color:#95071b;}
.show-div .page li.current a{ color:#fff;font-weight:600;}
.show-div { border-bottom:2px solid #eee; border-top:2px solid #eee;}
.show-div ul.show-type li{float:left; margin-left:10px; line-height:25px;}
.show-div .show-list, .show-div .show-list-c, .show-div .show-img-c, .show-div .show-img{
	width:18px; height:18px; border:0; cursor:pointer; margin-right:5px; }
.show-div .show-list{ background: url(../images/list_but.gif) -36px 0 no-repeat;}
.show-div .show-list-c{ background: url(../images/list_but.gif) 0 0 no-repeat;}
.show-div .show-img{ background: url(../images/list_but.gif) -18px 0 no-repeat;}
.show-div .show-img-c{background: url(../images/list_but.gif) -54px 0 no-repeat;}

/* 分页 */
.pagination a, .page-start, .page-end{background-image:url(../images/list.png);background-repeat:no-repeat;}
.list-nav li.pagination{float:right;width:150px;margin:0;}
.pagination{height:22px;font-family:tahoma;font-size:12px;}
.page-top,.page-bottom{float:right;}
.pagination a,.page-info,.page-prev,.page-cur,.page-start,.page-end,.page-break,.page-skip{
	float:left;height:18px;margin:0 3px 0 0;text-align:center;white-space:nowrap;vertical-align:middle;line-height:18px;}
.page-start,.pagination a,.page-end{padding:0 5px;border:solid 1px #ccc;}
.page-start{width:20px;padding:0!important;background-position:7px -175px;}
a.page-prev{width:20px;padding:0!important;background-position:-68px -175px!important;}
.page-cur,.page-break{padding:0 3px;}
a.page-next{padding-right:16px;background-position:-179px -175px!important;}
.page-end{padding-right:16px;background-position:-104px -175px;}
.page-cur{border-color:#fff;color:#ff6400;font-weight:700;}
.page-skip{padding:0 3px;}
.page-skip input[type="text"]{width:30px;height:18px;margin:0 3px;border:solid 1px #ccc;vertical-align:top;}
.page-skip button{width:37px;height:19px;margin:0 0 0 2px;border:0 none;background-position:-260px -123px;text-indent:-999px;}
.page-prev span,.page-start span,.page-mini .page-next span,.page-mini .page-end span,.page-skip button span{display:none!important;}

/* 店铺首页留言 */
#lyButton{ float:right; margin-right:20px; margin-top:20px;}
#lyMessage{ margin:20px; clear:both;}
#lyMessage dl dt{background: url(../images/msg_warning.gif) left center no-repeat; text-indent:20px; line-height:30px;}
#lyMessage dl dd{ line-height:20px; margin-left:20px; background: url(../images/dd_bg.gif) left center no-repeat;}
#lyMessage dl dd a{ margin-left:15px;}
#lyMessage{ clear:both;}
#lyMessage table{ background-color:#eee;}
#lyMessage table td.tb-label{ width:100px; text-align:right; vertical-align:top; padding-top:15px;}
#lyMessage table .inp{ width:400px;}
#lyMessage table textarea{ width:400px; height:100px;}

/* 按钮 */
.pagination input[type="submit"]{
background:url(../images/submit_btn.png) no-repeat;
background-position:-2px -1px;
border:1px solid #ccc;
height:20px;
line-height:20px;
color:#404040;
padding:0px 5px;
cursor:pointer;
}

.type-x ul.comm-box{ float:left; width:160px; margin:5px 10px 10px 12px; height:240px; overflow:hidden;}
.type-x ul.comm-box li{ line-height:18px;}
.type-x ul.comm-box li.photo img{ width:160px; height:160px;}
.type-x ul.comm-box li.name{ display:block; height:28px;line-height:14px; margin-top:2px;  overflow:hidden;}
.type-x ul.comm-box li.price{ color:#666; line-height:16px;font-weight:600;}
.type-x ul.comm-box li.price span{font-weight:300;}
.type-x ul.comm-box li.price2{ color:#A60000; line-height:16px;}
.type-x ul.comm-box li.price2 span.f-red{ margin:0;font-weight:600;}
.type-x ul.comm-box li.price2 font{font-size:12px;}
.type-x ul.comm-box li.service{}
.type-x ul.comm-box li.goodsNum{ display:none;}
.type-x ul.comm-box li.saleDate{ display:none;}
.type-x ul.comm-box li.seller{ display:none;}
.type-x ul.comm-box li.city{ display:none;}

.type-y ul.comm-box{ float:left; margin:5px 0; overflow:hidden; width:730px; height:100px; border-bottom:1px dotted #eee; position:relative;}
.type-y ul.comm-box li{ line-height:25px; float:left;}

.type-y ul.comm-box li.photo img{ width:90px; height:90px;}
.type-y ul.comm-box li.name{ display:block; height:14px; line-height:16px; font-size:14px; width:260px; margin-top:2px; margin-left:10px; font-weight:300;}
.type-y ul.comm-box li.price{position:absolute; top:0px; right:100px;}
.type-y ul.comm-box li.price span,.type-y ul.comm-box li.price2 font{display:none;}
.type-y ul.comm-box li.price2{ position:absolute; top:0px; right:10px; color:#A60000; line-height:25px;font-weight:600;}
.type-y ul.comm-box li.city{position:absolute; top:0px; right:170px; line-height:28px; }
.type-x p.info{ line-height:40px; margin: 10px 30px; border-bottom:1px dotted #eee; text-indent:20px;
	background: url(../images/msg_warning.gif) left center no-repeat;}
.link-gwc{ display:block; width:98px; height:24px; line-height:24px;  background: url(../images/link_gwc.gif) no-repeat;}
.type-y ul.comm-box li.service{ position:absolute; top:35px; left:100px; }
.type-y ul.comm-box li.goodsNum{ display:inline; width:50px; margin-left:10px;}
.type-y ul.comm-box li.saleDate{ display:inline;width:80px; }
.type-y ul.comm-box li.seller{ position:absolute; top:65px; left:100px;}
.type-y ul.comm-box li.seller a{ color:#FF9900;}

#type-y-title{ width:750px; float:left; background-color:#eee;}
#type-y-title li{ float:left; line-height:30px; margin-left:10px !important;margin-left:8px;}
#type-y-title li.name{ width:350px; }
#type-y-title li.goodsNum{ width:40px;}
#type-y-title li.saleDate{ width:85px; }
#type-y-title li.iocn{ width:100px;}
#type-y-title li.name-s{ width:300px;}
#type-y-title li.amount{ width:80px;}
#type-y-title li.credit{ width:130px;}
#type-y-title li.price{ width:70px; text-align:center;}
#type-y-title li.price2{ width:70px; text-align:center;}
#type-y-title li.city{width:45px; }


.type-shop ul.comm-box{ width:750px; margin-top:5px; margin-bottom:5px; border-bottom:1px dotted #ccc; float:left;}
.type-shop ul.comm-box li{ float:left;height:85px; overflow:hidden; }
.type-shop ul.comm-box li.iocn{ width:80px; margin-right:10px;}
.type-shop ul.comm-box li.iocn img{ width:80px;}
.type-shop ul.comm-box li.name-s{ width:305px; font-size:14px; font-weight:600; line-height:40px;}
.type-shop ul.comm-box li.name-s span{ display:block; font-size:12px; font-weight:300; line-height:20px;color:#999;}
.type-shop ul.comm-box li.name-s span a{ color:#FF9900; margin-left:10px;}
.type-shop ul.comm-box li.amount{width:120px; text-align:center;line-height:80px; }
.type-shop ul.comm-box li.credit{width:100px; }
.type-shop ul.comm-box li.credit .f-f60{ display:block; margin-top:25px;}
.type-shop ul.comm-box li.city{ width:130px;text-align:center; line-height:80px;}





/* 商品详细 */
.detail-photo{ width:320px; height:400px; background-color:#f5f5f5; float:left; overflow:hidden; text-align:center;}
.detail-photo div img{ width:310px; margin-left:4px !important; margin-left:0px; margin-top:4px; float:left;}
.detail-photo div { height:320px; overflow:hidden;}
.detail-photo ul{ margin-top:10px;}
.detail-photo ul li{ float:left; display:block; margin-left:7px; border:2px solid #fff;}
.detail-photo ul li.current{border:2px solid #FF0000;}
.detail-photo ul li img{ width:50px; height:50px; border:0; margin:0; padding:0; cursor:pointer;}

.detail-property{ width:400px; background-color:#FFFEF0; float:right; position:relative; padding-bottom:70px;}
.detail-property ul{ margin:20px 0px 20px 20px;}
.detail-property ul li{ line-height:30px; font-size:13px; border-bottom:1px dotted #eee; }
.detail-property ul li span{ margin-right:10px; width:80px; text-align:right; float:left;}
.detail-property ul li span.vip{ margin-right:0px; padding:0px 3px; color:#fff; line-height:10px; font-size:9px; 
	text-align:center; float:none; background-color:#82c634; cursor:pointer; margin-left:5px;}
.detail-property ul li span span{ margin-right:3px; margin-left:3px; width:40px; text-align:right; float:none; color:#0033CC}
.detail-property ul li strong{ font-size:18px; color:#BB0000; font-weight:600; margin-right:5px;}
.property-div{ height:auto;float:left; overflow:hidden; border:1px solid #fff;}
.points-info{ line-height:30px; border:1px solid #FFFF66; margin:0px 40px; text-indent:40px; color:#000;
	background:#FFFFCC url(../images/34aL_019.gif) 15px center no-repeat;}
.points-info span{ color:#339948; font-weight:600; margin:0px 5px;}
.detail-property-ul{ border:1px solid #fcbb29; background-color:#fff3d9; float:left; margin-bottom:10px; width:350px;}
ul.detail-property-ul li{ border-bottom:0px dotted #eee; margin-top:5px; clear:both; }
ul.detail-property-ul li.datailLi{ float:left; width:350px; }
ul.detail-property-ul li.datailLi div{ width:260px;float:left;}
.detail-property-ul .inp{ width:40px; margin-top:5px;*margin-top:0px;_margin-top:5px;}
.detail-property-ul .but{ border:1px solid #fff; background:#fff; padding:0px 4px; margin:3px;}
.detail-property-ul .but-m{ border:1px solid #C71203; background:#fff; padding:0px 4px;margin:3px;}
.detail-property-ul .but-c{ border:1px solid #C71203; background:#C71203; color:#fff; padding:0px 4px;margin:3px;}
.detail-property-ul p{ line-height:20px; font-size:14px; padding:10px;}

.detail-property .btn-buy-gwc, .detail-property .btn-buy-sc{ 
	width:128px; height:37px; line-height:37px; display:block; color:#fff; font-size:14px; font-weight:600;
	position:absolute; bottom:38px;left:53px; text-indent:40px; background: url(../images/btn-buy-gwc.gif) no-repeat;}
.detail-property .btn-buy-sc{left:200px;background: url(../images/btn-buy-sc.gif) no-repeat; }
.detail-property .btn-buy-tg, .detail-property .btn-buy-tz{ width:100px; height:20px; line-height:20px; overflow:hidden; display:block; color:#000;
	 position:absolute; bottom:10px; left:53px; text-indent:30px;  background: url(../images/but_bg3.gif) 0px -20px no-repeat; font-size:12px;}
.detail-property .btn-buy-tz{left:200px; background: url(../images/but_bg3.gif) 0px -40px no-repeat; color:#666;}
.detail-property .a-buy-tg{position:absolute; bottom:13px;left:160px;}
.detail-property .a-buy-tz{position:absolute; bottom:13px;left:308px;}

.detail-other-tab{ display:block; top:128px;left:30px; border-bottom:1px solid #ccc; float:left; width:100%; margin-top:10px;}
.detail-other-tab li{ float:left; margin-left:5px; line-height:25px; overflow:hidden; width:80px; text-align:center; 
	background: url(../images/shop_nav_bg2.gif) 0 -25px no-repeat; cursor:pointer;}
.detail-other-tab li span{ color:#333;}
.detail-other-tab li.current{background: url(../images/shop_nav_bg2.gif) no-repeat;}
.detail-other-tab li.current span{ color:#FF9900;}

#vipDiv{ position:absolute; top:55px; left:170px;border:1px solid #fcbb29; background-color:#e8e8e8;}
#vipDiv ul{ background-color:#fff; margin:5px; width:150px;}
#vipDiv ul li{ line-height:18px; margin-left:5px; font-size:10px;}
#vipDiv ul li span{ float:none; margin-left:5px; color:#FF6600; font-size:12px;}
#provincDiv{ position:absolute; top:75px; left:50px;border:2px solid #D8710A; background-color:#FDEED5; }
#provincDiv span{ display:block; line-height:18px; color:#fff; background-color:#D8710A; text-align:right; cursor:pointer;}
#provincDiv ul{ margin:5px;}
#provincDiv li{ float:left; line-height:20px; width:40px; text-indent:0; text-align:center; cursor:pointer; color:#006699}
.detail-property ul li span span#provincSpan{ margin-right:3px; margin-left:3px; width:80px; float:left; text-align:right; float:none; color:#0033CC}

.description{ line-height:30px;}
.description-table{ width:100%; float:left; margin:10px auto; background:#f5f5f5; border:1px solid #eee;}
.description-table tr td{ line-height:25px; padding:0 10px;}

.comments table{ width:100%; margin:10px auto; text-align:left;}
.comments table th{ background-color:#eee; border-bottom:1px solid #ccc; line-height:25px; padding-left:20px;}
.comments table td{border-bottom:1px solid #ccc; line-height:20px; padding-left:10px; color:#333;}
.comments table td span{ color:#ccc; display:block;}
.comments .show-div{ border-bottom:0; border-top:0;}
.comments-add { background:#eee; padding-top:10px; padding-bottom:10px; margin-top:10px;}
.comments-add li{margin-top:10px;}
.comments-add li span{ width:70px; margin-left:10px; float:left;}
.comments-add li textarea{ width:400px; height:100px; }

.icon-s{  margin-right:2px;cursor:pointer;}

.shop-notice{ margin-bottom:10px;}
.shop-notice p{ line-height:20px; text-indent:0;}

.sold-list table{ width:100%; margin-top:10px;}
.sold-list table th{ background-color:#eee; border-bottom:1px solid #ccc;border-top:1px solid #ccc; line-height:20px;}
.sold-list table td{ padding:10px;}

.error-box{ width:500px; margin:50px auto; border:1px solid #ffc000; background:#fff8cf;}
.error-box h4{ color:#ff6600; margin-left:30px; text-indent:25px; line-height:45px; font-size:16px; background: url(../images/standard_msg_error.gif) left center no-repeat;}
.error-box p{ line-height:24px; margin:0; text-indent:60px;}

/* 组合销售 */
.zuhe{ width:100%; height:207px; margin:10px 0; overflow:hidden;background: url(../images/zuhe_bg.gif) no-repeat;}
.zuhe-goods{ float:left; margin-top:50px; width:550px; }
.zuhe-goods ul li{ width:110px; overflow:hidden;background: url(../images/zuhe_bg2.gif) no-repeat;}
.zuhe-goods ul li.current{background:none;}
.zuhe-goods ul li img { width:80px; padding:1px; border:1px solid #ccc; display:block; margin-left:25px;}
.zuhe-goods ul li span{ line-height:24px; margin-left:30px;}
.zuhe-goods ul li span.red{ color:#FF0000; line-height:20px;}
.zuhe-goods ul li{ float:left;}
.zuhe-jiage{ float:right;background: url(../images/zuhe_bg.gif) top right no-repeat;width:190px; height:207px; overflow:hidden;position:relative; }
.zuhe-jiage dl{ display:block; margin-left:20px;  height:110px; overflow:hidden; margin-top:10px;}
.zuhe-jiage dl dt{ color:#006699;}
.zuhe-jiage dl dd{ line-height:20px; margin-left:10px;}
.zuhe-jiage ul{ display:block; margin-top:10px; margin-left:25px;}
.zuhe-jiage ul li{ line-height:20px;}
.zuhe-jiage ul span{ color:#FF0000; font-weight:600;}
.zuhe-jiage .bg{ position:absolute; height:115px; width:10px; right:0; top:0; background: url(../images/cuxiao_bg.gif) right no-repeat;}

/* 商家促销 */
.cuxiao{ width:100%; height:115px; margin:10px 0; position:relative; overflow:hidden;background: url(../images/cuxiao_bg.gif) no-repeat;}
.cuxiao p{ line-height:100px; font-size:16px; margin-left:110px;}
.cuxiao p .red{ color:#FF0000; font-weight:600;}
.cuxiao p .f069{ color:#006699; font-weight:300;}
.cuxiao .bg{ position:absolute; height:115px; width:10px; right:0; top:0; background: url(../images/cuxiao_bg.gif) right no-repeat;}

/* 店铺推广 */
.promote-goods{ border:1px solid #f6ddb0; background-color:#fff7ea; height:140px;}
.promote-goods img { width:90px; float:left; margin:20px;}
.promote-goods p{ line-height:40px; margin-top:20px; font-size:16px; text-indent:0; float:left;}
.promote-goods p a { font-weight:600; color:#006699}
.promote-goods p span{ color:#FF0000;}
.promote-url{ background-color:#eff8f9; border:1px solid #d8edff; margin-top:20px;}
.promote-url .l{ float:left; margin:20px; }
.promote-url .l h3{ font-size:16px; color:#005ba5; margin:0;}
.promote-url .l p{ color:#505050; line-height:20px; text-indent:0;}
.promote-url .r{ float:right; margin:20px;}
.promote-url .r textarea{ width:300px; height:60px; display:block; margin-bottom:10px;}

.hide-but, .show-but{ z-index:9999; width:5px; height:50px;background: url(../images/hide_but.png) no-repeat;position:fixed !important; position:absolute; top:400px;cursor:pointer; overflow:hidden;}
.show-but{background: url(../images/show_but.png) no-repeat;}

.detail-property .btn-buy-gwc, .detail-property .btn-buy-sc, .detail-property .btn-buy-pm, .detail-property .btn-buy-disabled{ 
	width:128px; height:37px; line-height:37px; display:block; color:#fff; font-size:14px; font-weight:600;
	position:absolute; bottom:38px;left:53px; text-indent:40px; background: url(../images/btn-buy-gwc.gif) no-repeat;}
.detail-property .btn-buy-sc{left:200px;background: url(../images/btn-buy-sc.gif) no-repeat; }
.detail-property .btn-buy-pm{background: url(../images/btn-buy-pm.gif) no-repeat; }
.detail-property .btn-buy-disabled{background: url(../images/btn-buy-disabled.gif) no-repeat; }

.detail-property .btn-buy-tg, .detail-property .btn-buy-tz,.detail-property .btn-buy-js{
	width:100px; height:20px; line-height:20px; overflow:hidden; display:block; color:#000;
	position:absolute; bottom:10px; left:53px; text-indent:30px;  background: url(../images/but_bg3.gif) 0px -20px no-repeat; font-size:12px;}
.detail-property .btn-buy-tz{left:200px; background: url(../images/but_bg3.gif) 0px -40px no-repeat; color:#666;}
.detail-property .btn-buy-js{ background: url(../images/but_bg3.gif) 0px -60px no-repeat; color:#666;}
.detail-property .a-buy-tg{position:absolute; bottom:13px;left:160px;}
.detail-property .a-buy-tz{position:absolute; bottom:13px;left:308px;}