@charset "utf-8";

/* 元素 */
body, div, ul, ol, li, form, iframe, fieldset, input, p{margin:0;padding:0;font-weight:400; font-size:12px;}
body{ background:#fff repeat-x;font-family:Tahoma,SimSun,Arial;color:#666;}
img {border: 0;vertical-align: middle; margin:0px;}
a{color:#0044dd;text-decoration:none;}
a:hover{color:#f50;text-decoration:underline;}
li{ list-style-type:none; }
p{ text-indent:24px; margin-top:10px;}
input, select, textarea {font: 12px "Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;color: #000;}
.clear{clear: both;margin:0;padding:0;height:0px;overflow:hidden;}
.clear9{clear: both;margin:0;padding:0;height:9px;overflow:hidden;}
.yahei{font: 12px "Microsoft YaHei", "Segoe UI", Calibri, Tahoma, Arial, Verdana, Helvetica, sans-serif}
.left5px{ margin-left:5px; font-size:12px; font-weight:normal;}
.right{float:right; margin-right:10px; font-size:12px;}

h2{color:#254B72;font: bold 18px "Microsoft YaHei", "Segoe UI", Calibri, Tahoma, Arial, Verdana, Helvetica, sans-serif; margin:10px;
	border-bottom:1px dashed #DEEDF8; margin-top:20px;}
h2 span{ font-size:12px;}
h3{color:#333; margin:20px 10px; font-size:14px;}
h3 img{ margin-right:10px;}
h3 a{font-size:12px; font-weight:300; margin-left:10px;}

/* 字体 */
.red{ color:#FF0000;}
.red2{ color:#FF0000; font-weight:bold; font-size:14px;}
.vip{color:#3F8718;font-weight:bold; font-size:14px;}
.f90{color:#FF9900;}
.f390{color:#339900;}
.font_FF6600{color:#FF6600; font-weight:normal;}
.font_error{color:#FF0000; padding-left:17px;background: url(../../images/user/ico_error.gif) center left no-repeat; line-height:18px; height:18px;}
.font_del{text-decoration:line-through;}
.font_999{color:#999;}
.font_12{color:#fea803;}

/* 基础 */
.inp, .inp2, .inp3, .inp4{border:1px solid #b4c8e0; width:80px; padding-left:2px;}
.inp2{width:50px;}
.inp3{width:150px;}
.inp4{width:300px;}
.but, .but2{border:0px; width:83px; height:20px;background: url(../../images/user/bg_button.gif) top left no-repeat; cursor:pointer;margin: 0 10px; }
.but2{background: url(../../images/user/bg_button2.gif) top left no-repeat; color:#4E2825}
.but3, .but4{border:0px; width:18px; height:14px;background: url(../../images/user/icn_bt_plus.gif) top left no-repeat; cursor:pointer;margin: 0 10px; }
.but4{background: url(../../images/user/icn_bt_minus.gif) top left no-repeat; }
.textarea{ width:400px; height:100px; float:left;}
.textarea2{ width:400px; height:300px; float:left;}
.f-900{color:#900;}
.f-f90{color:#f90}
.f-normal{ font-weight:normal;}
a.f-but{ margin-left:10px; text-align:center; width:73px; height:22px; display:block; float:left; line-height:22px; overflow:hidden;
	 background: url(../../images/user/bg-bt-o.gif) top left no-repeat; color:#fff; text-decoration:none;}
a.f-but:hover{color:red;}
.span-l{ float:left; line-height:20px; height:22px; line-height:22px;}


/* 布局 */
#content{ width:950px; margin:0px auto;background:#fff repeat-x;}
#top{margin:0px; height:85px; margin-bottom:10px; overflow:hidden;}
#content-left{width:170px;float:left; margin-right:10px;}
#content-right{width:770px;float:right; margin-top:20px;}
#footer{}

/* footer */
#footer{ clear:both; margin-top:20px; text-align:center;background: url(../../images/user/footer.gif) top repeat-x;}
#footer span{ line-height:30px;}	

/* content-top */
#content-top{ position:relative;}
#content-top ul{margin:5px 10px; float:right;}
#content-top ul li{float:left; margin-left:10px; line-height:30px;}
#content-top ul li span{ margin:0px 5px;}
.top-search{ position:absolute; top:40px; right:40px;}
.top-search .top-search-inp{padding:2px 4px; margin-right:10px; width:200px; color:#999;}
.top-search .top-search-b{ width:52px; height:24px;background: url(../../images/user/top_s.gif) no-repeat; border:0;}
#content-top ul.top-ul{ position:absolute; top:50px; left:170px;}
#content-top ul.top-ul li{background: url(../../images/user/top_li_bg.gif) no-repeat; width:100px;margin-left:3px; text-align:center; }
#content-top ul.top-ul li a{color:#FFF;}
#content-top ul.top-ul li a:hover{text-decoration:none; color:#FFCC00;}

/* content-left */
.modules { margin-top: 20px;width:160px; border:1px solid #b4c8e0; border-top:0; background-color:#F7FDFF;}
.modules h4 {font: bold 14px "Microsoft YaHei", "Segoe UI", Calibri, Tahoma, Arial, Verdana, Helvetica, sans-serif;
	color: #003366;background: url(../../images/user/h4_bg.gif) no-repeat;width: 130px;height:27px;line-height:27px;margin: 0 auto;
	padding:0;padding-left:30px;cursor: pointer;} 
.modules h4.menu-closed {background: url(../../images/user/h4_bg2.gif) no-repeat;} 
	
.modules ul {list-style: none;margin-bottom:5px;padding: 0;}
.modules ul li{background: url(../../images/user/icon_li_bg3.gif) 20px center no-repeat; margin:0px; padding:0px; line-height:24px;}
.modules a { padding-left:30px;}
.modules a{color: #023263;background: transparent;text-decoration: none;}
.modules a:hover {color: #023263; font-weight:bold;text-decoration: none;}
.modules ul li.currently a{ font-weight:bold; color:#FF9900;}
	
/* 我的首页 */
.my-tgj{margin:10px;}
.my-tgj ul{ margin-left:50px;}
.my-tgj ul li{ line-height:40px; margin-top:5px;}
.my-tgj ul li img { width:30px;}
.my-tgj ul.credit li{ line-height:17px; clear:both;}
.my-tgj ul.credit li span{ float:left; line-height:17px;}
.my-tgj ul.credit li a{ float:left; line-height:17px; margin-left:10px;}
.my-tgj p{ color:#ccc; text-indent:48px;}

/* 内容部分 */
#main-tab{ background:#fff url(../../images/user/tab_bg.gif) bottom repeat-x; display:block; line-height:25px; height:25px; margin:0px;}
#main-tab li{ line-height:25px; float:left; width:120px; text-align:center; background: url(../../images/user/tab_bg2.gif) right no-repeat; }
#main-tab li a{color:#333;}
#main-tab li.currently{background: url(../../images/user/tab_li_bg.gif) no-repeat; font-weight:bold;  }	
#main-tab li.currently a{color:#003366;}
#main-box{ border:1px solid #b5c9e1; border-top:0; margin:0px; clear:both; padding-top:0px; padding-bottom:10px; }

.search-box{ margin:0px; border:0px solid #b4c8e0; background:#f3fbfe; padding-top:10px;}
.search-box table{width:100%;}
.search-box table tr td{ line-height:30px;}
.search-box table tr td.sb-label{ text-align:right; padding-right:5px;}

.ep{border:1px solid #ffe591; background:#fff9e3; line-height:30px; height:30px; display:block; margin:20px 10px; color:#5A2D29; 
	overflow:hidden; padding-top:0px !important;padding-top:10px; }
.ep img{ margin-right:10px;}

.listbox {clear: both;background-color: #fff;margin: 0 10px;border-top: 1px solid #a3d8ea;border-bottom: 1px solid #a3d8ea;}
.listbox a {text-decoration:none;}
.listbox a:hover { text-decoration: underline;}
.listbox table {width: 100%;}

/* 列表 */
.listbox th {
	font: 12px "Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;color: #dd7810;font-weight:normal;padding: 4px;
	line-height:25px;background:#fff url(../../images/user/icn_bt_split.gif) right no-repeat;border-bottom: 2px solid #34aed5;text-align: center;}
.listbox th a{ color:#006633; text-decoration:underline;}
.listbox .lastth {background: #fff;width: auto;}
.listbox td {padding: 3px 4px;border-bottom: 1px solid #cdd4e3;text-align: left;line-height:20px;}
.listbox tbody td {text-align: center;text-align: left;}
.tr_bg td{background-color:#f5f5f5;}
.email-wd td{ font-weight:600;}
.listbox .actionbt {width: 20px;}
.listbox td.td-classes{background: url(../../images/user/td_bg.gif) top left no-repeat; padding-left:55px;}

.listbox .table-box{border:1px solid #e6e6e6; margin-top:10px; }
.listbox .table-box th{ text-align:left;background:#f3f3f3;border:0px; border-bottom:1px solid #e6e6e6; padding-left:10px;}
.listbox td.w8{width:7%;}
.listbox td.w10{width:10%;}
.listbox td.w10b{ width:10%;color:#FF6600;}
.listbox td.w10c a{ margin-right:10px;}
.listbox td.w12{width:12%;}
.listbox td.w30{width:30%;text-align:left; color:#999;}
.listbox td.w30-th{width:30%;}
.listbox td.w100{text-align:left; color:#666; border-bottom:0px;}
/*分页*/
.pages {margin:5px 10px 10px 5px; vertical-align:middle; text-align:right;}
.pages a {text-align:center;text-decoration:none;	border:#AECAF4 1px solid;padding:0px 5px;margin-left:3px;}
.pages a:hover {text-decoration:none;background-color:#E7FAFE;border:#7DC0F7 1px solid;color:#FF9900;}
.pages input {color:#87a32e;border:#76bac2 solid 1px;padding:1px;margin-top:1px;height:13px;}
.pages input:hover {border:#FF9900 solid 1px;}

/* 表单 */
.form-title{background-color:#fff3b9;margin: 10px 10px 0 10px; line-height:25px; height:25px; color:#666; padding-left:10px; font-size:14px;font-weight:bold;}
.form-title a{color:#003399; font-weight:normal; text-decoration:underline; margin-left:10px;}
.formbasic {color: #000;background: #f6f6f6;margin: 0px 10px;padding:15px; position:relative;}
.formbasic table {width: 100%;}
.tab-box{border:1px solid #9eb0c8; margin: 0px 10px 0 10px;}
.formbasic td {padding: 5px 0;text-align: left;}
.formbasic input, .formbasic select, .formbasic textarea { background: #fff;border: 1px solid #7b9ebd;padding: 2px 3px;}
.formbasic .fm-label {padding: 0px;width: 120px;text-align: right;padding-right: 10px; }
.formbasic .fm-label2 {padding: 0px;width: 200px;text-align: right;padding-right: 10px;}
.fm-asterisk {color:#f00;padding: 0px;width: 6px;text-align: left;margin-right: 4px;}
.formbasic .fm-field {color:#1C4053; text-align:left; padding-left:10px;}
.formbasic .fm-field-200 {color:#1C4053; text-align:left; padding-left:10px; width:200px;}
.formbasic textarea {height: 5em;}
.formbasic textarea.textarea2 {height: 20em;}
.formbasic .fm-radio {width: 1.2em;margin: 0 5px 0 10px;vertical-align: middle;border: 0;background: #eef0f6;}
.formbts {background: #e6e6e6;margin: 0 10px 10px 10px;padding: 4px 10px;text-align: center;}
.submitbt{border:0px; width:83px; height:20px;background: url(../../images/user/bg_button.gif) top left no-repeat; cursor:pointer;margin: 0 10px; }
.formbasic .checkbox {width: auto;margin-right: .5em;vertical-align: middle;border:0;background: #f6f6f6;}
.formbasic table p{border:0; font-size:14px; line-height:20px;color:#006699;}
.formbasic table p.message{ margin:0px; color:#FF6600; border:1px solid #FFCC99; padding:3px;}
td.fm-field p{margin:0px; color:#784E36; border:1px solid #FFCC99; padding:3px; font-size:12px; border:1px solid #DC976D}

.fm-field table{ background-color:#FFFDF4; border:1px solid #FFE3BB}
.fm-field table .fm-label{width: 130px;}

#massageBox{ position:absolute; width:410px;  background-color:#FFFDF4;   height:288px;top:45px; left:155px; border:2px solid #FFE9C4; overflow:hidden;}
#massageBox table{ width:100%;border-collapse:collapse;border-bottom:1px solid #FFDB7D; text-align:left; background-color:#FFFDF4; }
#massageBox table th{ border-bottom:1px solid #FFDB7D; line-height:20px; background-color:#FFE9C4; padding-left:5px;}
#massageBox table th a{ color:#006699; font-weight:300;}
#massageBox table td { padding-left:5px;line-height:20px;}
#massageBox table td input{background-color:#FFFDF4;}
#massageBox .pages{ margin-top:0;}
#massageBox .pages a{ border:1px solid #FFCC99;}


/* 小按钮工具组 */
.tool{margin:20px 10px 10px 10px;}
.tool a{margin: 0px 5px 0px 5px;text-decoration:none;padding:1px 12px 3px 16px;*padding:3px 12px 3px 16px;color:#24496F;}
.tool span {padding-bottom:4px;background: url(../../images/user/icn_bt_submit2.gif) top right no-repeat;}
.tool span a{background: url(../../images/user/icn_bt_submit.gif) top left no-repeat;}
.tool span a.bt_add{background: url(../../images/user/icn_bt_submit_add.gif) top left no-repeat;padding:0px 10px 4px 21px;*padding:3px 10px 3px 21px;}
.tool span a.bt_del{background: url(../../images/user/icn_bt_submit_del.gif) top left no-repeat;padding:0px 10px 4px 21px;*padding:3px 10px 3px 21px;}
.tool span a.bt_par{background: url(../../images/user/icn_bt_submit_par.gif) top left no-repeat;padding:0px 10px 4px 21px;*padding:3px 10px 3px 21px;}
.tool span a.bt_edit{background: url(../../images/user/icn_bt_submit_edit.gif) top left no-repeat;padding:0px 10px 4px 21px;*padding:3px 10px 3px 21px;}
.tool span a.bt_ren{background: url(../../images/user/icn_bt_submit_ren.gif) top left no-repeat;padding:0px 10px 4px 21px;*padding:3px 10px 3px 21px;}
.tool span a.bt_all{background: url(../../images/user/icn_bt_submit_all.gif) top left no-repeat;padding:0px 10px 4px 21px;*padding:3px 10px 3px 21px;}
.tool a:hover{color:#FF6600;}

input.button_add, input.button_ed, input.button_del{border:0px;height:19px; width:20px; margin-left:3px; margin-right:5px; cursor:pointer;}
input.button_add{ background: url(../../images/user/button_add.gif) top left no-repeat; }
input.button_ed{ background: url(../../images/user/button_ed.gif) top left no-repeat; }
input.button_del{ background: url(../../images/user/button_del.gif) top left no-repeat; }

.lm-td{ background:#fff url(../../images/user/ml_bg.gif) right no-repeat; width:25%; text-align:left; }
.listbox .table-z{ border:1px solid #6596BA; background:f5f5f5;}
.listbox .table-z th{ background:#e5e5e5; border-bottom:1px solid #e0e0e0; line-height:20px; color:#333;}
.listbox .table-z td{background:#f5f5f5;}

.width-auto table{ width:auto;}
.width-auto table tr td{ padding-left:10px; border:0; text-align:left;}

/* 收货地址 */
.address table{ width:745px;border-collapse:collapse;border: 1px solid #e8e8e8; margin:10px; margin-top:0;}
.address th {
	font: 12px "Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;color: #dd7810;font-weight:normal;padding: 4px;
	line-height:25px;background:#f8f8f8;border-bottom: 2px solid #FFCC00;text-align: center;}
.address th a{ color:#006633; text-decoration:underline;}
.address td {padding: 3px 4px;border: 1px solid #e8e8e8;text-align: left;line-height:20px;}
.address td.fm-label{ background:#FFFFCC;}

/* 订单管理 */
.item-list-tabs{ margin-left:10px;}
.item-list-tabs li, .item-list-tabs li a {background: url(../../images/user/tabview_bg.gif) no-repeat;float: left; }
.item-list-tabs li{background-position: left 7px;cursor: pointer;margin-right: 8px;line-height:28px;vertical-align:bottom;text-align: center}
.item-list-tabs li a {background-position: right 7px;line-height: 22px;padding-top: 8px;margin-left:10px;_margin-left:5px;
	padding:8px 10px 0px 0px;display: block; color: #111;}
.item-list-tabs li a:link, .item-list-tabs li a:visited{color:#195790;}
.item-list-tabs .current {background-position: left -40px;}
.item-list-tabs .current a{background-position: right -40px;font-weight: bold; color: #333;}
.item-list-tabs a:hover {text-decoration: none}
.item-list-tabs .current a:hover{cursor: default; }
.item-list-tabs a span{blr:expression(this.onFocus=this.blur());outline:none;}

.list-table{width:745px;border-collapse:collapse;border: 1px solid #C0DBF8; margin-left:10px;border-top: 0px solid #3377b6;}
.list-table th{border:0px; border-top:1px solid #C0DBF8; padding:0 5px;}
.list-table td{border:1px solid #C0DBF8;line-height:30px;padding-left:6px; padding-right:5px;}
.list-table td.r{text-align:right;}
.list-table th{caption-side:top; color:#3377B6;background:#f8fafd url(../../images/user/tit_bg.png) repeat-x top; line-height:30px;}

/* comment */
.comment{width:765px;border-top:1px solid #DDD;margin-top:7px;background-color:#FFF;}
.comment .commenttitle{width:765px;height:26px;margin:1px auto;background:url(../../images/user/title_bg_1.gif) repeat-x;border-bottom:1px solid #DDD;}
.comment .commenttitle div{float:left;margin:5px 0px 0px 12px;color:#999;display:inline;}
.comment .commenttitle div strong{letter-spacing:1px;color:#444;margin-right:10px;}
.comment .commenttitle a{float:right;display:block;width:95px;height:22px;display:inline;text-align:center;line-height:22px;
	text-decoration:none;background:url(../../images/user/ico_gotopost.gif) no-repeat;margin:1px 3px 0px 0px;}
.comment .commentbox{width:760px;}
.comment .commentbox dl{width:718px;margin:10px auto 0px;border:1px solid #D1DDCE;}
.comment .commentbox dl dt{width:718px;background:#F4F9F2;line-height:25px;text-indent:10px;color:#333;border-bottom:1px solid #E6ECE3;}
.comment .commentbox dl dt strong{margin-right:5px;}
.comment .commentbox dl dt span{color:#669933;font-size:11px;}
.comment .commentbox dl dd{padding:10px;font-size:14px;line-height:25px;color:#666;}

/* add comment */
.comment .posttitle{width:765px;height:26px;margin:10px auto;background:url(../../images/user/title_bg_1.gif) repeat-x;border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;}
.comment .posttitle strong{letter-spacing:1px;color:#444;display:block;margin:7px 0px 0px 13px;}
.comment .postbox{width:718px;margin:5px auto;overflow:hidden;}
.comment .postbox .txtbox{width:718px;line-height:25px;}
.comment .postbox .txtbox textarea{border:1px solid #CCC;width:650px;height:80px;padding:5px;}
.comment .postbox  .sbut{margin:10px;}
.comment .postbox .userbox .submit{width:100px;height:25px;padding-top:2px;}	
	
/* 发布商品 */
.category-ul{ margin:10px !important; margin:5px; background:#f5f5f5; float:left;border:1px solid #eee; width:745px; overflow:hidden;}
.category-ul li{ float:left; line-height:22px; margin-right:3px; margin-left:5px; width:140px; overflow:hidden;} 
.category-ul li a{ color:#572413;}
.category-div{ border:1px solid #c7deff; height:300px; margin:10px;}
.category-div ul{ float:left; margin-left:10px !important;margin-left:5px; width:175px; overflow:auto; height:300px;}
.category-div ul li{ line-height:18px;}
.category-div ul li.submenu{ background:url(../../images/user/icn_li_menu3_bg.gif) right center no-repeat;}
.category-div ul li a.c{ color:#000; font-weight:600;}

.hide{ display:none;}
.show{display:block;}
#categoryInfo{ font-size:16px; margin:30px auto auto; width:200px; text-align:center; color:#CCC;}
#categoryExtra{ border:1px solid #fedbab; background:#fffaf2; margin:10px; line-height:40px;}
#categoryExtra span{ margin-left:10px; color:#003366;}
#categoryExtra strong{margin-left:20px; color:#333; font-weight:300;}

input.but-204{ border:0px; height:40px; line-height:40px;width:204px;background: url(../../images/user/but_204.gif) no-repeat; cursor:pointer;
	font-size:16px;color:#fff; font-weight:600;}


/* 提示页面 */
.apply-div{ margin:30px 80px; border:1px solid #FFE1B5; background-color:#FFFAEC; position:relative; height:130px; overflow:hidden;}
.apply-div h3{ color:#402017; font-weight:300; margin-left:50px;}
.apply-div ul{position:absolute; bottom:20px; right:10px; text-align:center;}
.apply-div ul li{ line-height:25px; float:right; margin-right:20px; background-color:#FFECBB;}
.apply-div ul li a.but-102{ border:0px; height:34px; line-height:34px;width:102px;background: url(../../images/user/but_102.gif) no-repeat; cursor:pointer;
	font-size:14px;color:#fff; font-weight:600; display:block;}
.apply-div ul li a:hover{ color:#562B0E; text-decoration:none;}

.buy-Level-1, .buy-Level-2, .buy-Level-3, .buy-Level-4, .buy-Level-5, .buy-Level-6, .buy-Level-7, .buy-Level-8, .buy-Level-9, .buy-Level-10, .buy-Level-11, .buy-Level-12, .buy-Level-13, .buy-Level-14, .buy-Level-15, .buy-Level-16, 
.sell-Level-1, .sell-Level-2, .sell-Level-3, .sell-Level-4, .sell-Level-5, .sell-Level-6, .sell-Level-7, .sell-Level-8, .sell-Level-9, .sell-Level-10, .sell-Level-11,  .sell-Level-12, .sell-Level-13, .sell-Level-14, .sell-Level-15, .sell-Level-16{
 height:16px; display:block; float:left; line-height:16px; background-image:url(../../images/user/credit.png); background-repeat:repeat; cursor:pointer;}
.buy-Level-1, .sell-Level-1{ width:16px; background-position:0 0;}
.buy-Level-2, .sell-Level-2{ width:32px; background-position:0 0;}
.buy-Level-3, .sell-Level-3{ width:48px; background-position:0 0;}
.buy-Level-4, .sell-Level-4{ width:64px; background-position:0 0;}
.buy-Level-5, .sell-Level-5{ width:80px; background-position:0 0;}
.buy-Level-6, .sell-Level-6{ width:16px; background-position:0 -14px;}
.buy-Level-7, .sell-Level-7{ width:32px; background-position:0 -14px;}
.buy-Level-8, .sell-Level-8{ width:48px; background-position:0 -14px;}
.buy-Level-9, .sell-Level-9{ width:64px; background-position:0 -14px;}
.buy-Level-10, .sell-Level-10{ width:80px; background-position:0 -14px;}
.buy-Level-11{ width:16px; background-position:0 -47px;}
.buy-Level-12{ width:32px; background-position:0 -47px;}
.buy-Level-13{ width:48px; background-position:0 -47px;}
.buy-Level-14{ width:64px; background-position:0 -47px;}
.buy-Level-15{ width:80px; background-position:0 -47px;}
.buy-Level-16{ width:80px; background-position:0 -83px;}
.sell-Level-11{ width:16px; background-position:0 -30px;}
.sell-Level-12{ width:32px; background-position:0 -30px;}
.sell-Level-13{ width:48px; background-position:0 -30px;}
.sell-Level-14{ width:64px; background-position:0 -30px;}
.sell-Level-15{ width:80px; background-position:0 -30px;}
.sell-Level-16{width:80px; background-position:0 -64px;}

#messageBox{ position:absolute;  width:370px; height:170px; background-color:#FFFDF4; 
	top:45px; left:155px; border:2px solid #FFE9C4; overflow:hidden;}
#messageBox ul li{float:left; line-height:18px; width:70px;}
#messageBox div{width:360px;text-align:center; margin-top:10px;}
#messageBox div a{ margin-left:20px;}

/* 买了还买 */
h3.mlhm{ margin:0px; font-size:14px; font-weight:600; line-height:30px; clear:both; margin-top:10px; 
	 background:url(../../images/user/icon_293.gif) 5px center no-repeat; }
h3.mlhm span{ margin-left:30px; color:#A76814}
.type-x { float:left; clear:both;border:2px solid #FFF2DF; width: 764px;}
.type-x ul.comm-box{ float:left; width:130px; margin:5px 10px 10px 12px !important;margin:5px 10px 10px 8px; overflow:hidden;}
.type-x ul.comm-box li{ line-height:18px;}
.type-x ul.comm-box li.photo img{ width:130px; height:130px;}
.type-x ul.comm-box li.name{ display:block; height:28px;line-height:14px; margin-top:2px;  overflow:hidden;}
.type-x ul.comm-box li.service{}