@charset "utf-8";


.main{width:980px; margin:0px auto;}


/*导航树*/
.content-left{width:170px;float:left;padding-top:15px;}
.modules {width:160px; border:1px solid #C4CDDF; border-top:0; background-color:#fff}
.modules h4 {font: bold 14px "Microsoft YaHei", "Segoe UI", Calibri, Tahoma, Arial, Verdana, Helvetica, sans-serif;color: #003366;background: url(../../images/user/h4_bg.gif) no-repeat;width: 130px;height:31px;line-height:31px;margin: 0 auto;padding:0;padding-left:30px;cursor: pointer;} 
.modules h4.menu-closed {background: url(../../images/user/h4_bg2.gif) no-repeat;} 	
.modules ul {list-style: none;margin-bottom:5px;padding: 0;}
.modules ul li{background: url(../../images/user/icon_li_bg3.gif) 90% 8px no-repeat; margin:0px; padding-left:30px; line-height:24px;}
.modules ul li.hover{background: url(../../images/user/icon_li_bg4.gif) 90% 10px no-repeat;}
.modules ul li span{ cursor:pointer;display:block}
.modules ul li ol li{background: url(../../images/user/icon_li_bg1.gif) 0 center no-repeat; padding-left:8px;}
.modules a {}
.modules a{color: #023263;background: transparent;text-decoration: none;}
.modules a:hover {color: #023263; font-weight:bold;text-decoration: none;}
.modules ul li a.currently{ font-weight:bold; color:#0091D4 }

/*右边块*/
.content-right{width:805px;float:right;padding-top:15px;}
.main-tab{ background:#fff url(../../images/user/tab_bg.gif) bottom repeat-x; display:block; line-height:31px; height:31px; margin:0px;padding-left:10px}
.main-tab ul li{ border:1px solid #C4CDDF;line-height:25px;margin-top:2px;float:left; text-align:center;margin-right:5px; padding:1px 20px;cursor:pointer}
.main-tab ul li a{color:#333;}
.main-tab ul li.hover{line-height:29px;background:#fff url(../../images/user/x_tab.gif) bottom repeat-x;margin-top:auto;border-bottom-color:#fff;font-weight:bold;padding:0 19px }
.main-box{ border:1px solid #C4CDDF; border-top:0; padding:10px 15px; background-color:#fff; }	

/* 我的首页 */
.my-tgj{ padding:10px }
.my-tgj ul{}
.my-tgj ul li img { width:30px;}
.my-tgj ul.credit li{ line-height:17px;}
.my-tgj ul.credit li span{ float:left; line-height:17px;}
.my-tgj ul.credit li a{ float:left; line-height:17px; margin-left:10px;}


/*搜索*/
.search-box{ margin:0px; border:0px solid #f9dfb2; padding-top:10px;}
.search-box table{width:100%;}
.search-box table th, .search-box table td{ line-height:30px; padding:3px;}
.search-box table th{ text-align:right;}
.search-box table  td.sb-label{ text-align:right; padding-right:5px;}

/*提示*/
.ep{border:1px solid #ffe591; background:#fff9e3; line-height:30px; height:30px; display:block; margin:10px 0; color:#5A2D29; overflow:hidden;}
.ep img{ margin-right:10px;}

/* 表单 */
.tb1 {width: 100%;}
.tb1 th, .tb1 td {padding:3px; height:30px; line-height:30px;}
.tb1 th{ text-align:right; width:120px;}
.error{ color:red; padding-left:10px;}

/* 小按钮工具组 */
.tool{ padding:10px 10px 2px 0; text-align:left;}
.tool a{margin: 0px 5px 0px 0px;text-decoration:none;color:#24496F; font-family:"宋体"; display:inline-block; height:19px; line-height:19px; padding:0 5px 0 22px;}
.tool span {background: url(../../images/user/tool_bg.gif) right -178px no-repeat; white-space:nowrap; margin:0 5px 7px 0; height:19px; display:inline-block; }
.tool span a, .tool span a.bt_add, .tool span a.bt_del, .tool span a.bt_par, .tool span a.bt_edit, .tool span a.bt_ren, .tool span a.bt_all, .tool span a.bt_no{background-image: url(../../images/user/tool_bg.gif); background-repeat:no-repeat; font-family:"宋体"; height:19px;}
.tool span a{background-position: 0 -141px;}
.tool span a.bt_add{background-position: 0 -29px;}
.tool span a.bt_del{background-position: 0 -50px;}
.tool span a.bt_par{background-position: 0 -71px;}
.tool span a.bt_edit{background-position: 0 -92px;}
.tool span a.bt_ren{background-position: 0 -113px;}
.tool span a.bt_all{background-position: 0 -134px;}
.tool span a.bt_wu{background-position: 0 -156px;}
.tool span a.bt_no{background-position: 0 -200px;}
.tool a:hover{color:#FF6600; text-decoration:none;}


/* 订单管理 */
.item-list-tabs{ margin-left:0;position:relative;bottom:-1px;}
.item-list-tabs li, .item-list-tabs li a {float: left; }
.item-list-tabs li{border:1px solid #ddd;border-bottom:0;cursor: pointer;margin-right:5px;line-height:28px}
.item-list-tabs li a {display: block;padding:0 15px;}
.item-list-tabs .hover {background-color:#F9F9F9}
.item-list-tabs .hover a{background-position: right -40px;font-weight: bold;}
.item-list-tabs a:hover {text-decoration: none}
.item-list-tabs .current a:hover{ }
.item-list-tabs a span{blr:expression(this.onFocus=this.blur());outline:none;}

.list-table{width:100%; border: 1px solid #ddd; border-top: 0px solid #3377b6;}
.list-table th{border:0px; border-top:1px solid #ddd; padding:0 5px;}
.list-table td{border:1px solid #ddd;line-height:30px;padding-left:6px; padding-right:5px;}
.list-table td.r{text-align:right;}
.list-table th{caption-side:top;background:#f9f9f9; line-height:30px;}


/*成功失败页*/
.pg_error{ height:170px; padding:20px 0 0 50px;}
.pg_error dt, .pg_error dd{ float:left;}
.pg_error dt.error{ background:url(../../images/error.png) no-repeat; width:150px; height:150px; padding:0;}
.pg_error dt.success{ background:url(../../images/tick.png) no-repeat; width:150px; height:150px; padding:0;}
.pg_error dt.warn{ background:url(../../images/warn.png) no-repeat; width:150px; height:150px; padding:0;}
.pg_error dd{ padding:30px 0 0 20px; float:left;}
.pg_error dd p{ margin-bottom:10px; line-height:25px;}
.pg_error dd p a{ margin-right:10px;}



/*投诉页*/
.complain_person{ margin-top:10px;border:1px solid #ddd; padding-bottom:10px;}
.complain_person h6{  height:20px; line-height:20px; padding:5px 20px 5px 5px; border-bottom:1px dotted #ddd;}
.complain_person h6 span{ margin-right:30px; font-weight:300;}
.complain_person p{ margin-top:10px; line-height:20px; text-indent:20px;}

/* comment */
.comment{width:756px;border-top:1px solid #DDD;margin-top:7px;background-color:#FFF;border:1px solid #ddd;}
.comment .commenttitle{width:756px;height:26px;margin:1px auto;background:url(../../images/user/title_bg_1.gif) repeat-x;border-bottom:1px solid #DDD;}
.comment .commenttitle div{float:left;margin:5px 0px 0px 12px;color:#999;display:inline;}
.comment .commenttitle div strong{letter-spacing:1px;color:#444;margin-right:10px;}
.comment .commenttitle a{float:right;display:block;width:95px;height:22px;display:inline;text-align:center;line-height:22px;
	text-decoration:none;background:url(../../images/user/ico_gotopost.gif) no-repeat;margin:1px 3px 0px 0px;}
.comment .commentbox{width:756px;}
.comment .commentbox dl{width:718px;margin:10px auto 0px;border:1px solid #D1DDCE;}
.comment .commentbox dl dt{width:718px;background:#F4F9F2;line-height:25px;text-indent:10px;color:#333;border-bottom:1px solid #E6ECE3;}
.comment .commentbox dl dt strong{margin-right:5px;}
.comment .commentbox dl dt span{color:#669933;font-size:11px;}
.comment .commentbox dl dd{padding:10px;font-size:14px;line-height:25px;color:#666;}

/* add comment */
.comment .posttitle{width:756px;height:26px;margin:10px auto;background:url(../../images/user/title_bg_1.gif) repeat-x;border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;}
.comment .posttitle strong{letter-spacing:1px;color:#444;display:block;margin:7px 0px 0px 13px;}
.comment .postbox{width:718px;margin:5px auto;overflow:hidden;}
.comment .postbox .txtbox{width:718px;line-height:25px;}
.comment .postbox .txtbox textarea{border:1px solid #CCC;width:650px;height:80px;padding:5px;}
.comment .postbox  .sbut{margin:10px;}
.comment .postbox .userbox .submit{width:100px;height:25px;padding-top:2px;}	


.accountinfo{margin:auto 10px;padding:10px;border:1px dashed #eee}
.accountinfo h5{padding:5px 10px}
.accountinfo ul{padding:10px}
.accountinfo img{width:30px}


.foot{padding:10px 0}
.foot p{padding:5px 0 0;line-height:normal}